<div class="or-collapse-button or-colorbg">
   <div class="or-icon-area">
      <span class="or-icon-plus"></span>
   </div>   
</div>
<div class="or-collapsible-header or-js-collapsible-header">
   <p class="plusboxxrubrik">$!{contentName} #if($points)<span class="or-programpoang">$points poäng</span>#end</p>
</div>


<script type="text/javascript">
   (function() {       
      var header = $('#svid${contentId} .or-plus-box-header');   
      header.attr('tabindex', '0');
      /*
      $(header).click(function(e) {
         $('#svid${contentId} .or-plus-box-program.or-plus-box-content').slideToggle(200);
         $("#svid${contentId} .or-plus-box-program.or-plus-box-header").toggleClass("or-plus-box-active");
      });  
      */
      $(header).on('click keydown', function(e) {    
         if(e.which == '13' || e.type == 'click') {        
            $('#svid${contentId} .or-plus-box-content').slideToggle(200); 
            $("#svid${contentId} .or-plus-box-header").toggleClass("or-plus-box-active");
         }
      });    

   })();	 
   $( document ).ready(function() {
      var hash = window.location.hash.substring(1),
          hashParent = $("#"+hash).parent().attr('id'),
          svid = "svid${contentId}",
          containsHash = $("#svid${contentId}").find("#"+hashParent).length;

      if(!((hash != "") && ((hashParent == svid) || (containsHash > 0)))) {
         $("#svid${contentId} .or-plus-box-content").hide();
      } else {
         $("#svid${contentId} .or-plus-box-content").show();
         $("#svid${contentId} .or-plus-box-header").addClass("or-plus-box-active");   
         document.querySelector('#svid${contentId}').scrollIntoView({ 
            behavior: 'smooth' 
         });
      }

   }); 
</script>