@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@font-face {
  font-family: leaguespartan webfont;
  /*src: url(fonts/LeagueSpartan-Bold-webfont.woff);*/
src: url('/download/18.758f01f014bc6929dc65e00/1426177458341/LeagueSpartan-Bold-webfont.woff2') format('undefined'), url('/download/18.758f01f014bc6929dc65dfd/1426177432944/LeagueSpartan-Bold-webfont.eot') format('embedded-opentype'), url('/download/18.758f01f014bc6929dc65dff/1426177445861/LeagueSpartan-Bold-webfont.woff') format('woff'), url('/download/18.758f01f014bc6929dc65dfe/1426177439059/LeagueSpartan-Bold-webfont.ttf') format('truetype');
  }
.oris {
  font-family: 'Open Sans', sans-serif;
  margin: 0; }
  .oris a {
    text-decoration: underline; }
  .oris .textParagraph,
  .oris #form,
  .oris fieldset:first-of-type .back,
  .oris fieldset:last-of-type .next,
  .oris fieldset:not(:last-of-type) .review,
  .oris .change,
  .oris .hidden,
  .oris #result, .oris #submit, .oris #unReview {
    display: none; }
  .oris .container {
    max-width: 800px; }
  .oris form {
    display: inline-block;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden; }
    .oris form#start, .oris form#end {
      padding-top: 40px;
      padding-bottom: 80px; }
      @media (max-width: 640px) {
        .oris form#start, .oris form#end {
          padding-bottom: 100px; } }
    @media (max-width: 480px) {
      .oris form#start label.error {
        margin-top: -40px; } }
    .oris form#start input[type="text"] {
      width: 285px;
      margin-bottom: 10px; }
      .oris form#start input[type="text"].error {
        margin-right: 4px;
        margin-bottom: 40px; }
      @media (max-width: 480px) {
        .oris form#start input[type="text"] {
          width: 100%;
          margin-bottom: 0px; } }
    .oris form#start .figur3 {
      display: none; }
      @media (max-width: 640px) {
        .oris form#start .figur3 {
          display: block;
          position: absolute;
          right: 0;
          width: 120px;
          bottom: 10px; } }
    @media (max-width: 640px) {
      .oris form#end {
        padding-bottom: 50px; } }
    .oris form.bg-orange {
      background: #f28c00;
      color: #fff; }
      .oris form.bg-orange a {
        color: #fff; }
    .oris form.bg-blue {
      background: #b0def0; }
    .oris form.bg-white {
      background: #fff; }
    .oris form#email {
      overflow: visible; }
      .oris form#email input {
        position: absolute;
        right: 0;
        top: -39px; }
        @media (max-width: 480px) {
          .oris form#email input {
            top: -59px; } }
        @media (max-width: 360px) {
          .oris form#email input {
            position: relative;
            top: 0px; } }
      @media (max-width: 360px) {
        .oris form#email {
          padding: 0; } }
  .oris fieldset {
    border: 0; }
  .oris .h1, .oris .h1-top {
    display: block;
    font-size: 25px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: 0;
    font-family: "leaguespartan webfont",sans-serif; }
    .oris .h1.h1-contact-1, .oris .h1-top.h1-contact-1 {
      display: block; }
    .oris .h1.h1-contact-2, .oris .h1-top.h1-contact-2 {
      display: none; }
  .oris .h2 {
    display: block;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
    letter-spacing: 0; }
  .oris .title {
    display: block;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    font-weight: 700;
    letter-spacing: 0;
    font-family: "leaguespartan webfont",sans-serif; }
  .oris .btn {
    /* Alexander */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: #35383b;
    color: #fff;
    font-size: 12px;
    border-bottom: 3px solid #5e5e5e;
    min-width: 120px;
    padding: 10px 15px;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    z-index: 1;
    position: relative;
    font-family: "leaguespartan webfont",sans-serif; }
    .oris .btn:active {
      border-bottom: 1px solid #5e5e5e;
      margin-top: 2px; }
    @media (max-width: 480px) {
      .oris .btn {
        margin: 10px 0;
        padding: 10px; }
        .oris .btn:active {
          margin-top: 12px; } }
    @media (max-width: 360px) {
      .oris .btn {
        min-width: 100px; } }
    @media (max-width: 360px) {
      .oris .btn {
        min-width: 100px; } }
    @media (max-width: 480px) {
      .oris .btn.btn-mobile {
        width: 100%; } }
  .oris p {
    font-size: 12px;
    line-height: 1.8em;
    letter-spacing: 0.5px; }
  .oris .center, .oris .txt-center {
    text-align: center; }
  .oris .right {
    float: right; }
  .oris .mb-25 {
    margin-bottom: 25px; }
  .oris input {
    background: #fff;
    border: 0;
    padding: 12px 10px;
    border-radius: 3px;
    outline: 0;
    font-size: 14px;
    color: #35383b; }
  .oris input[type="text"] {
    color: #35383b;
    width: 100%;
    color: #35383b; }
  .oris textarea {
    width: 100%;
    height: 160px;
    border: 0;
    border-radius: 3px;
    resize: none;
    outline: 0;
    padding: 10px;
    margin-bottom: 25px;
    line-height: 1.6em;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #35383b; }
    .oris textarea.active {
      height: 160px !important; }
    .oris textarea.error {
      margin-bottom: 0px; }
      @media (max-width: 480px) {
        .oris textarea.error {
          margin-bottom: 0; } }
  .oris .textInputContact {
    border: 0;
    width: 100%; }
  .oris .col-lg-6 {
    width: 50%; }
  .oris ul {
    padding: 0;
    margin: 0; }
    .oris ul.progress {
      display: inline-block;
      margin-top: 4px;
      position: absolute;
      left: 0;
      right: 0;
      text-align: center; }
      @media (max-width: 640px) {
        .oris ul.progress {
          display: block;
          position: relative;
          margin-bottom: 10px; } }
      .oris ul.progress li {
        display: inline-block;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        background: #fff;
        border: 2px solid #0098bd;
        margin-right: 13px;
        vertical-align: middle;
        position: relative;
        font-size: 0;
        box-sizing: content-box; }
        .oris ul.progress li:last-child {
          margin-right: 0; }
          .oris ul.progress li:last-child:after {
            display: none; }
        .oris ul.progress li:first-child:after {
          width: 150px;
          height: 2px;
          content: "";
          display: block;
          position: absolute;
          top: 7px;
          left: 17px;
          background: #0098bd; }
        .oris ul.progress li.active {
          border: 4px solid #0098bd;
          background: #0098bd; }
  .oris .h1-top {
    display: none; }
  .oris .textContact {
    width: 100%;
    color: #35383b !important; }
  .oris .check {
    position: relative;
    border-top: 1px solid #eee;
    padding: 10px 0px;
    margin: 10px 0; }
    .oris .check:first-child {
      margin-top: 0;
      padding-top: 0;
      border: 0; }
      .oris .check:first-child .change {
        top: 65px; }
    .oris .check div[class^="figur"] {
      display: none; }
    .oris .check .h1 {
      width: 70%;
      font-size: 15px; }
      .oris .check .h1.h1-contact-1 {
        display: none; }
      .oris .check .h1.h1-contact-2 {
        display: block; }
    .oris .check .h1-top {
      display: block; }
    .oris .check .h2 {
      display: none; }
    .oris .check .change {
      position: absolute;
      top: 19px;
      right: 10px;
      background: transparent;
      color: #35383b;
      border: 0;
      font-weight: 400;
      padding: 0 20px 0 0;
      min-width: auto;
      text-transform: capitalize;
      width: auto;
      margin: 0;
      font-size: 15px;
      font-family: 'Open Sans', sans-serif; }
      .oris .check .change:before {
        font-family: fontawesome;
        content: "\f040";
        position: absolute;
        right: 0;
        top: 2px; }
      .oris .check .change:active {
        margin-top: 0;
        border: 0; }
    .oris .check .textInput {
      overflow: visible;
      border: 1px solid #0098bd; }
      .oris .check .textInput[disabled] {
        background: transparent;
        padding: 0;
        border: 0;
        overflow: hidden;
        height: 70px; }
      .oris .check .textInput.textContact[disabled] {
        height: auto; }
    .oris .check .shadow {
      box-shadow: inset 0px -200px 80px -160px #fff;
      width: 100%;
      display: block;
      position: absolute;
      bottom: 55px;
      height: 0px;
      opacity: 0; }
      .oris .check .shadow.active {
        height: 100px;
        opacity: 1; }
    .oris .check .showmore {
      display: inline-block; }
    .oris .check .textInputContact {
      display: block !important;
      border: 1px solid #35383b; }
    .oris .check .title {
      display: none;
      font-size: 14px; }
      .oris .check .title.active {
        display: block; }
  .oris .more {
    color: #0098bd;
    position: relative;
    padding-right: 18px;
    display: none;
    cursor: pointer;
    font-size: 14px; }
    .oris .more:after {
      font-family: fontawesome;
      position: absolute;
      right: 0;
      top: 3px; }
    .oris .more.showmore:after {
      content: "\f067"; }
    .oris .more.showless:after {
      content: "\f068"; }
  .oris .shadow {
    display: none; }
  .oris .figur1 {
    margin-top: 25px;
    position: absolute;
    height: 350px;
    top: 0;
    right: 0; }
    @media (max-width: 640px) {
      .oris .figur1 {
        margin-top: 50px;
        height: 150px;
        display: none; } }
  .oris .figur2 {
    margin-top: 25px; }
    @media (max-width: 640px) {
      .oris .figur2 {
        margin-top: 95px; } }
    @media (max-width: 480px) {
      .oris .figur2 {
        margin-top: 110px; } }
    .oris .figur2 img {
      height: 240px;
      float: left; }
      @media (max-width: 640px) {
        .oris .figur2 img {
          height: 115px;
          margin-top: -23px; } }
      @media (max-width: 480px) {
        .oris .figur2 img {
          height: 130px; } }
    .oris .figur2 .figur3 {
      width: 180px;
      position: absolute;
      right: 0;
      height: auto;
      margin-top: 90px; }
      @media (max-width: 640px) {
        .oris .figur2 .figur3 {
          display: none; } }
    .oris .figur2 .bubble {
      margin-top: 60px; }
      @media (max-width: 640px) {
        .oris .figur2 .bubble {
          font-size: 13px;
          width: 57%;
          margin-top: -5px;
          z-index: 1; } }
      @media (max-width: 360px) {
        .oris .figur2 .bubble {
          width: 150px;
          margin-top: -15px; } }
  .oris .figur4 {
    margin-top: 10px;
    height: 100px; }
    @media (max-width: 640px) {
      .oris .figur4 {
        height: 20vmin; } }
    .oris .figur4 img {
      position: absolute;
      width: 100%;
      left: 0; }
      @media (max-width: 480px) {
        .oris .figur4 img {
          width: 600px;
          left: -55px; } }
  .oris .figur5 {
    margin-top: 25px;
    height: 140px;
    margin-top: 40px; }
    .oris .figur5 .figur5-desktop {
      display: block; }
    .oris .figur5 .figur5-mobile {
      display: none; }
    @media (max-width: 640px) {
      .oris .figur5 {
        height: 25vmin; }
        .oris .figur5 .figur5-desktop {
          display: none; }
        .oris .figur5 .figur5-mobile {
          display: block; } }
    .oris .figur5 img {
      position: absolute;
      width: 100%;
      left: 0;
      margin-top: 14px; }
      @media (max-width: 640px) {
        .oris .figur5 img {
          margin-top: 20px; } }
    .oris .figur5 .bubble {
      width: 300px;
      left: 0;
      right: 0;
      margin: 0 auto; }
      @media (max-width: 640px) {
        .oris .figur5 .bubble {
          width: 250px; } }
      .oris .figur5 .bubble:after {
        display: none; }
  .oris .figur6 {
    margin-top: 25px;
    height: 150px; }
    @media (max-width: 640px) {
      .oris .figur6 {
        height: 20vw; } }
    .oris .figur6 img {
      position: absolute;
      width: 100%;
      left: 0; }
    .oris .figur6 .figur6-desktop {
      display: block; }
      @media (max-width: 640px) {
        .oris .figur6 .figur6-desktop {
          display: none; } }
    .oris .figur6 .figur6-mobile {
      display: none; }
      @media (max-width: 640px) {
        .oris .figur6 .figur6-mobile {
          display: block; } }
  .oris .figur7 {
    margin-top: 25px; }
    @media (max-width: 480px) {
      .oris .figur7 {
        margin-top: 0px; } }
    .oris .figur7 img {
      height: 210px;
      right: 0;
      float: right; }
      @media (max-width: 640px) {
        .oris .figur7 img {
          width: 70px;
          height: auto;
          margin-top: 25px; } }
    .oris .figur7 .bubble {
      margin-right: 30px;
      float: right;
      position: relative; }
      @media (max-width: 640px) {
        .oris .figur7 .bubble {
          margin-top: 45px;
          position: absolute;
          right: 110px;
          width: 210px; } }
      @media (max-width: 360px) {
        .oris .figur7 .bubble {
          width: 50%; } }
      .oris .figur7 .bubble:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0px 0px 25px 33px;
        margin-top: -17px;
        right: -32px;
        top: 32%;
        left: auto; }
    .oris .figur7 .figur8 {
      width: 200px;
      position: absolute;
      left: 0;
      margin-top: 10px; }
      @media (max-width: 640px) {
        .oris .figur7 .figur8 {
          display: none; } }
  .oris .figur9 {
    margin-top: 25px;
    width: 300px;
    height: 260px;
    position: absolute;
    top: 0;
    right: 0; }
    @media (max-width: 640px) {
      .oris .figur9 {
        margin-top: 15px;
        width: auto;
        height: 230px; } }
    @media (max-width: 480px) {
      .oris .figur9 {
        margin-top: 45px;
        width: 180px;
        height: 210px; } }
  .oris #end .h1 {
    margin-bottom: 0; }
  .oris #end .h2 {
    margin-top: 0; }
    .oris #end .h2.h2-custom {
      margin-top: 30px;
      font-weight: 700; }
  @media (max-width: 640px) {
    .oris #end .h1, .oris #end .h2 {
      width: 65%; } }
  .oris .bubble {
    font-size: 15px;
    background: #fff;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    width: 250px;
    padding: 15px 20px;
    margin-top: 40px;
    margin-left: 20px;
    font-family: "leaguespartan webfont", sans-serif;
    z-index: 1; }
    .oris .bubble:after {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 0px 33px 25px 0;
      border-color: transparent #FFFFFF;
      display: block;
      width: 0;
      z-index: 1;
      margin-top: -17px;
      left: -32px;
      top: 32%; }
      @media (max-width: 640px) {
        .oris .bubble:after {
          left: -22px; } }
    @media (max-width: 640px) {
      .oris .bubble {
        font-size: 13px; } }
  .oris label.error {
    display: inline-block;
    background: #35383b;
    color: #fff;
    border-radius: 3px;
    padding: 10px;
    position: absolute;
    left: 15px;
    margin-top: 44px;
    z-index: 2;
    margin-bottom: 10px; }
    @media (max-width: 480px) {
      .oris label.error {
        margin-top: 0; } }
    .oris label.error:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #35383b;
      top: -6px;
      position: absolute;
      left: 20px; }
  .oris #form label.error {
    position: relative;
    margin-top: 0px;
    left: 0px;
    top: 0px; }
  .oris .error {
    font-size: 14px; }
  .oris .send:disabled, .oris #unReview:disabled {
    opacity: 0.5; }

/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=3480420b1bdb271445f091b053f499d7)
 * Config saved to config.json and https://gist.github.com/3480420b1bdb271445f091b053f499d7
 */
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
.oris html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
.oris body {
  margin: 0; }
.oris article,
.oris aside,
.oris details,
.oris figcaption,
.oris figure,
.oris footer,
.oris header,
.oris hgroup,
.oris main,
.oris menu,
.oris nav,
.oris section,
.oris summary {
  display: block; }
.oris audio,
.oris canvas,
.oris progress,
.oris video {
  display: inline-block;
  vertical-align: baseline; }
.oris audio:not([controls]) {
  height: 0; }
.oris a {
  background-color: transparent; }
.oris a:active,
.oris a:hover {
  outline: 0; }
.oris abbr[title] {
  border-bottom: 1px dotted; }
.oris b,
.oris strong {
  font-weight: bold; }
.oris dfn {
  font-style: italic; }
.oris h1 {
  font-size: 2em;
  margin: 0.67em 0; }
.oris mark {
  background: #ff0;
  color: #35383b; }
.oris small {
  font-size: 80%; }
.oris sub,
.oris sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }
.oris sup {
  top: -0.5em; }
.oris sub {
  bottom: -0.25em; }
.oris img {
  border: 0; }
.oris svg:not(:root) {
  overflow: hidden; }
.oris figure {
  margin: 1em 40px; }
.oris hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }
.oris pre {
  overflow: auto; }
.oris code,
.oris kbd,
.oris pre,
.oris samp {
  font-family: monospace, monospace;
  font-size: 1em; }
.oris button,
.oris input,
.oris optgroup,
.oris select,
.oris textarea {
  color: inherit; }
.oris button {
  overflow: visible; }
.oris button,
.oris select {
  text-transform: none; }
.oris button,
.oris html input[type="button"],
.oris input[type="reset"],
.oris input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }
.oris button[disabled],
.oris html input[disabled] {
  cursor: default; }
.oris button::-moz-focus-inner,
.oris input::-moz-focus-inner {
  border: 0;
  padding: 0; }
.oris input {
  line-height: normal; }
.oris input[type="checkbox"],
.oris input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }
.oris input[type="number"]::-webkit-inner-spin-button,
.oris input[type="number"]::-webkit-outer-spin-button {
  height: auto; }
.oris input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
.oris input[type="search"]::-webkit-search-cancel-button,
.oris input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }
.oris fieldset {
  border: 0px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }
.oris legend {
  border: 0;
  padding: 0; }
.oris textarea {
  overflow: auto; }
.oris optgroup {
  font-weight: bold; }
.oris table {
  border-collapse: collapse;
  border-spacing: 0; }
.oris td,
.oris th {
  padding: 0; }
.oris * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.oris *:before,
.oris *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.oris html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }
.oris body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #35383b;
  background-color: #ffffff; }
.oris a {
  color: #337ab7; }
.oris a:hover,
.oris a:focus {
  color: #23527c;
  text-decoration: underline; }
.oris a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }
.oris figure {
  margin: 0; }
.oris img {
  vertical-align: middle; }
.oris .img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }
.oris .img-rounded {
  border-radius: 6px; }
.oris .img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }
.oris .img-circle {
  border-radius: 50%; }
.oris hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }
.oris .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }
.oris .sr-only-focusable:active,
.oris .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }
.oris [role="button"] {
  cursor: pointer; }
.oris .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px; }
@media (min-width: 768px) {
  .oris .container {
    width: 750px; } }
@media (min-width: 992px) {
  .oris .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .oris .container {
    width: 1170px; } }
.oris .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
.oris .row {
  margin-left: -15px;
  margin-right: -15px; }
.oris .col-xs-1, .oris .col-sm-1, .oris .col-md-1, .oris .col-lg-1, .oris .col-xs-2, .oris .col-sm-2, .oris .col-md-2, .oris .col-lg-2, .oris .col-xs-3, .oris .col-sm-3, .oris .col-md-3, .oris .col-lg-3, .oris .col-xs-4, .oris .col-sm-4, .oris .col-md-4, .oris .col-lg-4, .oris .col-xs-5, .oris .col-sm-5, .oris .col-md-5, .oris .col-lg-5, .oris .col-xs-6, .oris .col-sm-6, .oris .col-md-6, .oris .col-lg-6, .oris .col-xs-7, .oris .col-sm-7, .oris .col-md-7, .oris .col-lg-7, .oris .col-xs-8, .oris .col-sm-8, .oris .col-md-8, .oris .col-lg-8, .oris .col-xs-9, .oris .col-sm-9, .oris .col-md-9, .oris .col-lg-9, .oris .col-xs-10, .oris .col-sm-10, .oris .col-md-10, .oris .col-lg-10, .oris .col-xs-11, .oris .col-sm-11, .oris .col-md-11, .oris .col-lg-11, .oris .col-xs-12, .oris .col-sm-12, .oris .col-md-12, .oris .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
.oris .col-xs-1, .oris .col-xs-2, .oris .col-xs-3, .oris .col-xs-4, .oris .col-xs-5, .oris .col-xs-6, .oris .col-xs-7, .oris .col-xs-8, .oris .col-xs-9, .oris .col-xs-10, .oris .col-xs-11, .oris .col-xs-12 {
  float: left; }
.oris .col-xs-12 {
  width: 100%; }
.oris .col-xs-11 {
  width: 91.66666667%; }
.oris .col-xs-10 {
  width: 83.33333333%; }
.oris .col-xs-9 {
  width: 75%; }
.oris .col-xs-8 {
  width: 66.66666667%; }
.oris .col-xs-7 {
  width: 58.33333333%; }
.oris .col-xs-6 {
  width: 50%; }
.oris .col-xs-5 {
  width: 41.66666667%; }
.oris .col-xs-4 {
  width: 33.33333333%; }
.oris .col-xs-3 {
  width: 25%; }
.oris .col-xs-2 {
  width: 16.66666667%; }
.oris .col-xs-1 {
  width: 8.33333333%; }
.oris .col-xs-pull-12 {
  right: 100%; }
.oris .col-xs-pull-11 {
  right: 91.66666667%; }
.oris .col-xs-pull-10 {
  right: 83.33333333%; }
.oris .col-xs-pull-9 {
  right: 75%; }
.oris .col-xs-pull-8 {
  right: 66.66666667%; }
.oris .col-xs-pull-7 {
  right: 58.33333333%; }
.oris .col-xs-pull-6 {
  right: 50%; }
.oris .col-xs-pull-5 {
  right: 41.66666667%; }
.oris .col-xs-pull-4 {
  right: 33.33333333%; }
.oris .col-xs-pull-3 {
  right: 25%; }
.oris .col-xs-pull-2 {
  right: 16.66666667%; }
.oris .col-xs-pull-1 {
  right: 8.33333333%; }
.oris .col-xs-pull-0 {
  right: auto; }
.oris .col-xs-push-12 {
  left: 100%; }
.oris .col-xs-push-11 {
  left: 91.66666667%; }
.oris .col-xs-push-10 {
  left: 83.33333333%; }
.oris .col-xs-push-9 {
  left: 75%; }
.oris .col-xs-push-8 {
  left: 66.66666667%; }
.oris .col-xs-push-7 {
  left: 58.33333333%; }
.oris .col-xs-push-6 {
  left: 50%; }
.oris .col-xs-push-5 {
  left: 41.66666667%; }
.oris .col-xs-push-4 {
  left: 33.33333333%; }
.oris .col-xs-push-3 {
  left: 25%; }
.oris .col-xs-push-2 {
  left: 16.66666667%; }
.oris .col-xs-push-1 {
  left: 8.33333333%; }
.oris .col-xs-push-0 {
  left: auto; }
.oris .col-xs-offset-12 {
  margin-left: 100%; }
.oris .col-xs-offset-11 {
  margin-left: 91.66666667%; }
.oris .col-xs-offset-10 {
  margin-left: 83.33333333%; }
.oris .col-xs-offset-9 {
  margin-left: 75%; }
.oris .col-xs-offset-8 {
  margin-left: 66.66666667%; }
.oris .col-xs-offset-7 {
  margin-left: 58.33333333%; }
.oris .col-xs-offset-6 {
  margin-left: 50%; }
.oris .col-xs-offset-5 {
  margin-left: 41.66666667%; }
.oris .col-xs-offset-4 {
  margin-left: 33.33333333%; }
.oris .col-xs-offset-3 {
  margin-left: 25%; }
.oris .col-xs-offset-2 {
  margin-left: 16.66666667%; }
.oris .col-xs-offset-1 {
  margin-left: 8.33333333%; }
.oris .col-xs-offset-0 {
  margin-left: 0%; }
@media (min-width: 768px) {
  .oris .col-sm-1, .oris .col-sm-2, .oris .col-sm-3, .oris .col-sm-4, .oris .col-sm-5, .oris .col-sm-6, .oris .col-sm-7, .oris .col-sm-8, .oris .col-sm-9, .oris .col-sm-10, .oris .col-sm-11, .oris .col-sm-12 {
    float: left; }
  .oris .col-sm-12 {
    width: 100%; }
  .oris .col-sm-11 {
    width: 91.66666667%; }
  .oris .col-sm-10 {
    width: 83.33333333%; }
  .oris .col-sm-9 {
    width: 75%; }
  .oris .col-sm-8 {
    width: 66.66666667%; }
  .oris .col-sm-7 {
    width: 58.33333333%; }
  .oris .col-sm-6 {
    width: 50%; }
  .oris .col-sm-5 {
    width: 41.66666667%; }
  .oris .col-sm-4 {
    width: 33.33333333%; }
  .oris .col-sm-3 {
    width: 25%; }
  .oris .col-sm-2 {
    width: 16.66666667%; }
  .oris .col-sm-1 {
    width: 8.33333333%; }
  .oris .col-sm-pull-12 {
    right: 100%; }
  .oris .col-sm-pull-11 {
    right: 91.66666667%; }
  .oris .col-sm-pull-10 {
    right: 83.33333333%; }
  .oris .col-sm-pull-9 {
    right: 75%; }
  .oris .col-sm-pull-8 {
    right: 66.66666667%; }
  .oris .col-sm-pull-7 {
    right: 58.33333333%; }
  .oris .col-sm-pull-6 {
    right: 50%; }
  .oris .col-sm-pull-5 {
    right: 41.66666667%; }
  .oris .col-sm-pull-4 {
    right: 33.33333333%; }
  .oris .col-sm-pull-3 {
    right: 25%; }
  .oris .col-sm-pull-2 {
    right: 16.66666667%; }
  .oris .col-sm-pull-1 {
    right: 8.33333333%; }
  .oris .col-sm-pull-0 {
    right: auto; }
  .oris .col-sm-push-12 {
    left: 100%; }
  .oris .col-sm-push-11 {
    left: 91.66666667%; }
  .oris .col-sm-push-10 {
    left: 83.33333333%; }
  .oris .col-sm-push-9 {
    left: 75%; }
  .oris .col-sm-push-8 {
    left: 66.66666667%; }
  .oris .col-sm-push-7 {
    left: 58.33333333%; }
  .oris .col-sm-push-6 {
    left: 50%; }
  .oris .col-sm-push-5 {
    left: 41.66666667%; }
  .oris .col-sm-push-4 {
    left: 33.33333333%; }
  .oris .col-sm-push-3 {
    left: 25%; }
  .oris .col-sm-push-2 {
    left: 16.66666667%; }
  .oris .col-sm-push-1 {
    left: 8.33333333%; }
  .oris .col-sm-push-0 {
    left: auto; }
  .oris .col-sm-offset-12 {
    margin-left: 100%; }
  .oris .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .oris .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .oris .col-sm-offset-9 {
    margin-left: 75%; }
  .oris .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .oris .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .oris .col-sm-offset-6 {
    margin-left: 50%; }
  .oris .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .oris .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .oris .col-sm-offset-3 {
    margin-left: 25%; }
  .oris .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .oris .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .oris .col-sm-offset-0 {
    margin-left: 0%; } }
@media (min-width: 992px) {
  .oris .col-md-1, .oris .col-md-2, .oris .col-md-3, .oris .col-md-4, .oris .col-md-5, .oris .col-md-6, .oris .col-md-7, .oris .col-md-8, .oris .col-md-9, .oris .col-md-10, .oris .col-md-11, .oris .col-md-12 {
    float: left; }
  .oris .col-md-12 {
    width: 100%; }
  .oris .col-md-11 {
    width: 91.66666667%; }
  .oris .col-md-10 {
    width: 83.33333333%; }
  .oris .col-md-9 {
    width: 75%; }
  .oris .col-md-8 {
    width: 66.66666667%; }
  .oris .col-md-7 {
    width: 58.33333333%; }
  .oris .col-md-6 {
    width: 50%; }
  .oris .col-md-5 {
    width: 41.66666667%; }
  .oris .col-md-4 {
    width: 33.33333333%; }
  .oris .col-md-3 {
    width: 25%; }
  .oris .col-md-2 {
    width: 16.66666667%; }
  .oris .col-md-1 {
    width: 8.33333333%; }
  .oris .col-md-pull-12 {
    right: 100%; }
  .oris .col-md-pull-11 {
    right: 91.66666667%; }
  .oris .col-md-pull-10 {
    right: 83.33333333%; }
  .oris .col-md-pull-9 {
    right: 75%; }
  .oris .col-md-pull-8 {
    right: 66.66666667%; }
  .oris .col-md-pull-7 {
    right: 58.33333333%; }
  .oris .col-md-pull-6 {
    right: 50%; }
  .oris .col-md-pull-5 {
    right: 41.66666667%; }
  .oris .col-md-pull-4 {
    right: 33.33333333%; }
  .oris .col-md-pull-3 {
    right: 25%; }
  .oris .col-md-pull-2 {
    right: 16.66666667%; }
  .oris .col-md-pull-1 {
    right: 8.33333333%; }
  .oris .col-md-pull-0 {
    right: auto; }
  .oris .col-md-push-12 {
    left: 100%; }
  .oris .col-md-push-11 {
    left: 91.66666667%; }
  .oris .col-md-push-10 {
    left: 83.33333333%; }
  .oris .col-md-push-9 {
    left: 75%; }
  .oris .col-md-push-8 {
    left: 66.66666667%; }
  .oris .col-md-push-7 {
    left: 58.33333333%; }
  .oris .col-md-push-6 {
    left: 50%; }
  .oris .col-md-push-5 {
    left: 41.66666667%; }
  .oris .col-md-push-4 {
    left: 33.33333333%; }
  .oris .col-md-push-3 {
    left: 25%; }
  .oris .col-md-push-2 {
    left: 16.66666667%; }
  .oris .col-md-push-1 {
    left: 8.33333333%; }
  .oris .col-md-push-0 {
    left: auto; }
  .oris .col-md-offset-12 {
    margin-left: 100%; }
  .oris .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .oris .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .oris .col-md-offset-9 {
    margin-left: 75%; }
  .oris .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .oris .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .oris .col-md-offset-6 {
    margin-left: 50%; }
  .oris .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .oris .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .oris .col-md-offset-3 {
    margin-left: 25%; }
  .oris .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .oris .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .oris .col-md-offset-0 {
    margin-left: 0%; } }
@media (min-width: 1200px) {
  .oris .col-lg-1, .oris .col-lg-2, .oris .col-lg-3, .oris .col-lg-4, .oris .col-lg-5, .oris .col-lg-6, .oris .col-lg-7, .oris .col-lg-8, .oris .col-lg-9, .oris .col-lg-10, .oris .col-lg-11, .oris .col-lg-12 {
    float: left; }
  .oris .col-lg-12 {
    width: 100%; }
  .oris .col-lg-11 {
    width: 91.66666667%; }
  .oris .col-lg-10 {
    width: 83.33333333%; }
  .oris .col-lg-9 {
    width: 75%; }
  .oris .col-lg-8 {
    width: 66.66666667%; }
  .oris .col-lg-7 {
    width: 58.33333333%; }
  .oris .col-lg-6 {
    width: 50%; }
  .oris .col-lg-5 {
    width: 41.66666667%; }
  .oris .col-lg-4 {
    width: 33.33333333%; }
  .oris .col-lg-3 {
    width: 25%; }
  .oris .col-lg-2 {
    width: 16.66666667%; }
  .oris .col-lg-1 {
    width: 8.33333333%; }
  .oris .col-lg-pull-12 {
    right: 100%; }
  .oris .col-lg-pull-11 {
    right: 91.66666667%; }
  .oris .col-lg-pull-10 {
    right: 83.33333333%; }
  .oris .col-lg-pull-9 {
    right: 75%; }
  .oris .col-lg-pull-8 {
    right: 66.66666667%; }
  .oris .col-lg-pull-7 {
    right: 58.33333333%; }
  .oris .col-lg-pull-6 {
    right: 50%; }
  .oris .col-lg-pull-5 {
    right: 41.66666667%; }
  .oris .col-lg-pull-4 {
    right: 33.33333333%; }
  .oris .col-lg-pull-3 {
    right: 25%; }
  .oris .col-lg-pull-2 {
    right: 16.66666667%; }
  .oris .col-lg-pull-1 {
    right: 8.33333333%; }
  .oris .col-lg-pull-0 {
    right: auto; }
  .oris .col-lg-push-12 {
    left: 100%; }
  .oris .col-lg-push-11 {
    left: 91.66666667%; }
  .oris .col-lg-push-10 {
    left: 83.33333333%; }
  .oris .col-lg-push-9 {
    left: 75%; }
  .oris .col-lg-push-8 {
    left: 66.66666667%; }
  .oris .col-lg-push-7 {
    left: 58.33333333%; }
  .oris .col-lg-push-6 {
    left: 50%; }
  .oris .col-lg-push-5 {
    left: 41.66666667%; }
  .oris .col-lg-push-4 {
    left: 33.33333333%; }
  .oris .col-lg-push-3 {
    left: 25%; }
  .oris .col-lg-push-2 {
    left: 16.66666667%; }
  .oris .col-lg-push-1 {
    left: 8.33333333%; }
  .oris .col-lg-push-0 {
    left: auto; }
  .oris .col-lg-offset-12 {
    margin-left: 100%; }
  .oris .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .oris .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .oris .col-lg-offset-9 {
    margin-left: 75%; }
  .oris .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .oris .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .oris .col-lg-offset-6 {
    margin-left: 50%; }
  .oris .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .oris .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .oris .col-lg-offset-3 {
    margin-left: 25%; }
  .oris .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .oris .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .oris .col-lg-offset-0 {
    margin-left: 0%; } }
.oris .clearfix:before,
.oris .clearfix:after,
.oris .container:before,
.oris .container:after,
.oris .container-fluid:before,
.oris .container-fluid:after,
.oris .row:before,
.oris .row:after {
  content: " ";
  display: table; }
.oris .clearfix:after,
.oris .container:after,
.oris .container-fluid:after,
.oris .row:after {
  clear: both; }
.oris .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }
.oris .pull-right {
  float: right !important; }
.oris .pull-left {
  float: left !important; }
.oris .hide {
  display: none !important; }
.oris .show {
  display: block !important; }
.oris .invisible {
  visibility: hidden; }
.oris .text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }
.oris .hidden {
  display: none !important; }
.oris .affix {
  position: fixed; }
.oris input:-webkit-autofill, .oris textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
  /* Change the color to your own background color */
  -webkit-text-fill-color: #35383b; }
@media (max-width: 640px) {
  .oris .col-xs-8, .oris .col-xs-6 {
    width: 100%; } }
