## Enter the name of the facet
##set ($propertyUtil = $sitevisionUtils.propertyUtil)
##set ($portletContextUtil = $sitevisionUtils.portletContextUtil)
#set ($currentPageNode = $portletContextUtil.getCurrentPage())
#set ($facetTarget = $propertyUtil.getString($currentPageNode,"preselectedfacet"))

#set ($facetsBgColor = $propertyUtil.getNestedString($portlet, 'facetsBackgroundColor', 'htmlHexValue', ''))
#if ($facetsBgColor != '')
   #set ($facetsBgColor = '; background-color:' + $facetsBgColor)
#end
#set ($selectedFacetBgColor = $propertyUtil.getNestedString($portlet, 'selectedFacetValueBackgroundColor', 'htmlHexValue', ''))
#if ($selectedFacetBgColor != '')
   #set ($selectedFacetBgColor = '; background-color:' + $selectedFacetBgColor)
#end
#set ($facetNameClass = $propertyUtil.getNestedString($portlet, 'facetNameFont', 'selectorText'))
#set ($facetValueClass = $propertyUtil.getNestedString($portlet, 'facetValueFont', 'selectorText'))
#set ($selectedFacetValueClass = $propertyUtil.getNestedString($portlet, 'selectedFacetValueFont', 'selectorText'))
#set ($hideEmptyFacetValue = $propertyUtil.getBoolean($portlet, 'hideEmptyFacetValue'))
#set ($updateResultFunctionName = $propertyUtil.getString($portlet, 'updateResultFunctionName'))
#set ($facetLinkRenderer = $sitevisionUtils.linkRenderer)
#set ($query = $endecUtil.escapeXML(${searchResult.getQuery()}))

######################################
###### Build a search to retrieve total hit count ######
#set ($totalhits = '')
#set ($searchFactory = $sitevisionUtils.getSearchFactory() )
#set ($searcherBuilder = $searchFactory.getSearcherBuilder())
#set ($indexUtil = $searchFactory.getIndexUtil() )
#set ($indexNode = $indexUtil.getIndexByName('Totalsök') )

## ADD FILTERS (IMAGES FOR NOW)
#set ($filterBuilder = $searchFactory.filterBuilder)
#set ($imageFilter = $filterBuilder.addFilterQuery('-jcrtype:"sv:image"').build())

## BUILD SEARCHER AN SEARCH
#set ($searcher = $searcherBuilder.setFilter($imageFilter).setIndex($indexNode).build() )
#set ($result = $searcher.search($query, 1) )
#set ($countThreshold = $propertyUtil.getInt($portlet, 'countThreshold', 20))
#set ($totalhits = $result.getEffectiveCount($countThreshold) )
######################################

#set ($isAjaxPagingResult = $propertyUtil.getBoolean($portlet, 'isRenderingAjaxPagingResult'))

## START OF FACET
<div style="" class="or-facetter" >
##    <div class="or-facetter-head">
##        <p class="subheading3" style="margin-bottom:0.5em">Alla platser</>
##    </div>
    
#if ($searchResult.facetFields)
######################################
## Render the filter header
##    <div style="margin-bottom:2em">
##        <ul id="sol-search-filter-head-ul" class="sv-defaultlist-noleft sv-notopmargin">
 
##set ($summaryField = $propertyUtil.getString($portlet, 'summaryField'))
##set ($summaryFieldValue = $scriptUtil.getNonNull(${hit.getHighlightedField($summaryField, $excerptLength)})) 
##   <li class="$facetValueClass sv-noleft or-total-link" style="margin-bottom:${facetItemSpacing}">
##   <li class="$facetValueClass sv-noleft or-total-link">
##                ##<a href="#query/$searchResult.getDisplayQuery()" onclick="window.location.reload(true)">Totalt</a>
##                <a onclick=" $updateResultFunctionName('$searchResult.getDisplayQuery()',true)">Totalt</a>    
##                <span class="sol-hit-count">$totalhits </span>
##            </li>
##      #foreach ($facetField in $searchResult.facetFields)
##       #foreach ($facetValue in $facetField.facetValues)
##         #if ($scriptUtil.isNotBlank(${facetValue.name}))
##            #if ($facetValue.count > 0)
##            #if($facetValue.name == $facetTarget)
##                #if ($facetValue.isSelected())
##            <li id="sol-selected-facet" class="$selectedFacetValueClass sol-selected-facet sv-noleft or-wrapper-click" style="margin-bottom:${facetItemSpacing}">                 
##                #else
##            <li class="$facetValueClass sv-noleft or-wrapper-click" style="margin-bottom:${facetItemSpacing}">
##                #end   
 
##                $facetLinkRenderer.setOnclick("$ajaxFacetClick")       
##                $facetLinkRenderer.setStringTarget($facetValue.filterURL)          
##                $facetLinkRenderer.setText($facetValue.name)
##                $facetLinkRenderer.render()
             
##                #if ($facetValue.isSelected())
##                <i class="sol-icon-facet-active"></i>
##                #else
##                <span class="sol-hit-count">$facetValue.count</span>
##                #end
##            </li>
               
##            #end
##            #end
##         #end
         
##        #end 
##      #end
##        </ul>
##    </div> 
## End filter head   
######################################
   
#end
##</div>
#set ($facetItemSpacing = '0.5em')
#if ($searchResult.customSorts)
   ##<!--<div style="margin-bottom:2em">-->
      <p class="$facetNameClass" style="margin-bottom:${facetItemSpacing}">$propertyUtil.getNestedString($portlet, 'bundle', 'sortText')</p>
      <ul class="sv-defaultlist-noleft sv-notopmargin">
      #foreach ($customSort in $searchResult.customSorts)
         #if ($customSort.isSelected())
         <li class="$selectedFacetValueClass sv-noleft or-wrapper-click" style="margin-bottom:${facetItemSpacing}${selectedFacetBgColor}">
            $endecUtil.escapeXML($customSort.name)
         #else
         <li class="$facetValueClass sv-noleft or-wrapper-click" style="margin-bottom:${facetItemSpacing}">            
            ##set ($ajaxSortClick = $updateResultFunctionName + '("' + $customSort.sortQueryParams + '",true); return false;')
            #set ($ajaxSortClick = $updateResultFunctionName + '("' + $customSort.sortQueryParams + '",true); mobileToTop(); return false;')
            $facetLinkRenderer.setOnclick("$ajaxSortClick")
            $facetLinkRenderer.setStringTarget($customSort.sortURL)
            $facetLinkRenderer.setText($customSort.name)
            $facetLinkRenderer.render()
         #end
         </li>
      #end
      </ul>
   ##<!--</div>-->
#end

## reset the link

#set ($numberOfVisibleFacetItems = 3000)
#set ($viewMoreFacetElements = false)

#if ($searchResult.facetFields)
   #foreach ($facetField in $searchResult.facetFields)
   <div style="margin-bottom:2em">
      #set ($firstValueForField = true)
      
      ## Add a counter to the loop for collapsable function
      #set ($menucounter = 0)
      #set ($viewMoreFacetElements = false)
      #foreach ($facetValue in $facetField.facetValues)
         #if ($scriptUtil.isNotBlank(${facetValue.name}))

            #if ($facetValue.count > 0)
               #if ($firstValueForField)
                  <p class="$facetNameClass" style="margin-bottom:${facetItemSpacing}">$endecUtil.escapeXML($facetField.name)</p>
                  <ul class="sv-defaultlist-noleft sv-notopmargin">
                  #set ($firstValueForField = false)
               #end
               #if ($facetValue.isSelected())              
                    <li id="sol-selected-facet" class="$selectedFacetValueClass sol-selected-facet sv-noleft or-wrapper-click" style="margin-bottom:${facetItemSpacing}">                 
               #else
               
                    #if($menucounter<$numberOfVisibleFacetItems)
                        <li class="$facetValueClass sv-noleft or-wrapper-click" style="margin-bottom:${facetItemSpacing}">
                    #else
                        ##Hide other elements and flag that VISA FLER should be shown
                        #set ($viewMoreFacetElements = true)
                        <li class="or-hidden-facet-items $facetValueClass sv-noleft or-wrapper-click" style="display:none;margin-bottom:${facetItemSpacing}">                                   
                    #end
                           
               #end   
                  ##Generate the links         
                  ##set ($ajaxFacetClick = $updateResultFunctionName + '("' + $facetValue.filterQueryParams + '",true); return false;')    
                  #set ($ajaxFacetClick = $updateResultFunctionName + '("' + $facetValue.filterQueryParams + '",true); mobileToTop(); return false;')
                  $facetLinkRenderer.setOnclick("$ajaxFacetClick")       
                  $facetLinkRenderer.setStringTarget($facetValue.filterURL)          
                  $facetLinkRenderer.setText($facetValue.name)
                  ## Set an id for the styling
                  
                   #if( $facetValue.name == $facetTarget && !$facetValue.isSelected())
                   <span id="or-id-preselected-facet">
                   #end
                  ##$facetLinkRenderer.render()
                   <a href="/totalsok?query=${facetValue.filterQueryParams}">$facetValue.name</a>
                   #if( $facetValue.name == $facetTarget && !$facetValue.isSelected())
                   </span>
                   #end  
                                  
                   #if ($facetValue.isSelected())
                   <i class="sol-icon-facet-active"></i>
                   #else
                   <span class="sol-hit-count">$facetValue.count</span>
                   #end
                   
                   ##increase the counter for elements
                   #set ($menucounter = $menucounter+1) 
      
               </li>
                             
            #elseif (!$hideEmptyFacetValue)
               #if ($firstValueForField)
                  <p class="$facetNameClass" style="margin-bottom:${facetItemSpacing}">$endecUtil.escapeXML($facetField.name)</p>
                  <ul class="sv-defaultlist-noleft sv-notopmargin">
                  #set ($firstValueForField = false)
               #end    
               <li class="$facetValueClass sv-noleft or-wrapper-click" style="margin-bottom:${facetItemSpacing}">
                  $endecUtil.escapeXML($facetValue.name) $facetValue.count
               </li>
  
            #end             
         #end     
      #end
       ## Put VISA FLER at the bottom of the list
       #if($viewMoreFacetElements)
             <li class="or-show-hiden-facet-items or-wrapper-click or-search-facet-more" >VISA FLER
                <i class="sol-icon-more-facet"></i>
             </li>
             <li class="or-show-hiden-facet-items or-wrapper-click or-search-facet-less sv-hidden" >VISA FÄRRE
                <i class="sol-icon-more-facet sol-icon-more-facet-selected"></i>
             </li>
             #set ($viewMoreFacetElements = false)   
         #end 
      #if (!$firstValueForField)
         </ul>
      #end      
   </div>
   #end
#end
</div>

<script type="text/javascript">

$('.or-show-hiden-facet-items').click(function(){
   $(this).parent().find(".or-hidden-facet-items").toggle();
   $(this).parent().find(".or-search-facet-more").toggleClass("sv-hidden"); 
   $(this).parent().find(".or-search-facet-less").toggleClass("sv-hidden"); 
});

function mobileToTop() {
  if ($(".or-mobile-menu-bar").css("display") === "block") {
    $("html, body").animate({ scrollTop: 0 },{duration: 500, queue: false} );
  }
}
</script>