##
## Begin template
##


#if ( $!spellingSuggestions ) 
	<div class="ess-spelling">
	<h2 class="portlet-section-header">$lang.search-spellheader</h2>
	#set ($count = 0)
	#foreach( $hit in $hits )
		#set ($count = $count + 1)
	#end
    #set ($suggestioncount = 0)
    #foreach( $suggestion in $spellingSuggestions )
		#if ( $velocityCount == 1 )
		 <div>#if ($count == 0) Hittade ingen "$query".#end Menade du <a href="$suggestion.requestUrl" rel="nofollow">$suggestion.terms</a>?</div>
		#else
			#if ($suggestioncount < 2)
				<div>Övriga förslag:</div>
				<ul>
			#end
			<li class="portlet-section-body"><a href="$suggestion.requestUrl" rel="nofollow">$suggestion.terms</a></li>
		#end
		#set ($suggestioncount = $suggestioncount + 1)
    #end
    </ul>
     #if ($count == 0) <div>Hittar du inte den/det du söker?<br />Ring Servicecenter på 019-21 10 00</div>#end
	</div>
#end

#*
#if ( $!hits )
	#set ($count = 0)
	#foreach( $hit in $hits )
		#set ($count = $count + 1)
	#end

	#if ( $count > 0)
*#
#if($nhits > 0)
<ul>
	#foreach( $hit in $hits )


		#set ($snippet = $hit.staticSnippet)

		## Organisationsträd
		#set ($indexOf = $snippet.indexOf('<div class="orgLevels">') )
		#if ($indexOf != -1)
			#set ($orgLevels = $snippet.substring($indexOf).replace("- <a", "/ <a"))
			#set ($snippet =  $snippet.substring(0,$indexOf))
		#end

		## Adressblock, kan sakna besöksadress, postadress eller både och
		#set ($adressBlock = "")         
		#set ($indexOf = $snippet.indexOf('<span class="adr">') )
		#if ($indexOf == -1) 
			#set ($indexOf = $snippet.indexOf('<span class="postAddress">') )
		#end
		#if ($indexOf != -1) 
			#set ($adressBlock = $snippet.substring($indexOf).replace("</div>","").replace("Postadress:","<strong>Postadress:</strong>").replace("Fax:","<strong>Fax:</strong>").replace('<span class="adr">','<span class="adr"><strong>').replace("ksadress:","ksadress:</strong>"))
			#set ($snippet =  $snippet.substring(0,$indexOf).replace("</div>",""))
		#end

		#if ($hit.Url.indexOf('?uid=') != -1)
			#set ($uid = $hit.Url.substring($hit.Url.indexOf('?uid=')))
			#set ($uid = $uid.substring(5))
			#set ($vcard = "true")
		#else
			#set ($vcard = "false")
		#end

		<h2>$hit.title</h2>
		<div class="or-personsok-person" >
		$snippet
		#if ($vcard == "true")<a href="http://psokseeker.orebro.se/vCard.ashx?id=$uid" class="vcardlink">vCard</a>#end
		</div>
		<div class="or-personsok-address" >
		$adressBlock
		</div>
		<div style="clear:both;"></div>
		$orgLevels
	#end

	</ul>

#end

##end