<div class="or-collapse-button or-colorbg">
  <div class="or-icon-area">
   <span class="or-icon-plus"></span>
  </div>   
</div>
<div class="or-collapsible-header or-js-collapsible-header">
	<div class="plusboxxrubrik">$!contentName</div>
</div>


<script type="text/javascript">
(function() {     
  var header = $('#svid${contentId} .or-js-collapsible-header, #svid${contentId} .or-collapse-button');   
  $(header).click(function(e) {
    $('#svid${contentId} .or-plus-box-content').slideToggle(200); 
    $("#svid${contentId} .or-plus-box-header").toggleClass("or-plus-box-active");
  }); 
   
})();	 

$( document ).ready(function() {
   var hash = window.location.hash.substring(1);
   var hashParent = $("#"+hash).parent().attr('id');
   var svid = "svid${contentId}";
   if(!((hash != "") && (hashParent == svid))) {
   	$("#svid${contentId} .or-plus-box-content").hide();
   } else {
      $("#svid${contentId} .or-plus-box-content").show();
		$("#svid${contentId} .or-plus-box-header").addClass("or-plus-box-active");
      document.querySelector('#svid${contentId}').scrollIntoView({ 
  			behavior: 'smooth' 
		});
   }

});   
</script>
