node_modules
.idea/
*.asp
Badvattenkvalité/images/1gron.jpg
*.jpg
Badvattenkvalité/Admin/asp/waterqualityDB.sql
Badvattenkvalité/Badvattenkvalitet-dokumentation.doc
Badvattenkvalité/images/Thumbs.db
Badvattenkvalité/Badvatten_db_201111282100.BAK
Badvattenkvalité/~$dvattenkvalitet-dokumentation.doc
.vscode/settings.json
.DS_Store
