#set ($localdev = $request.getParameter("localdev"))
#set ($path="https://rawgit.com/Orebrokommun/orebro.se/master/nyaorebro.se")

#if ($localdev)
    #set ($path="http://localhost:10001/nyaorebro.se")
    #set ($random ="")   
#else  
  #set ($random = $sitevisionUtils.getInstanceCreatorUtil().getMathInstance().random())  
  #set ($random ="#rnd$random")   
     
#end

    <link rel="stylesheet" type="text/css" media="screen,projection" href="$path/css/base.css${random}" />
    <link rel="stylesheet" type="text/css" media="screen,projection" href="$path/css/modules.css${random}" />     
    <link rel="stylesheet" type="text/css" media="screen,projection" href="$path/css/mobilmeny.css${random}" />
    <script src="$path/script/application.js${random}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" media="screen,projection" href="$path/css//1280.css" />
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 960px), projection and (max-width: 960px)" href="$path/css/960.css${random}" />
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 768px), projection and (max-width: 768px)" href="$path/css//768.css${random}" />
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 480px), projection and (max-width: 480px)" href="$path/css//480.css${random}" />
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 320px), projection and (max-width: 320px)" href="$path/css/320.css${random}" />