<script type="text/JavaScript" src="http://f1.eu.readspeaker.com/script/4332/ReadSpeaker.js?pids=embhl"></script>   
<script>
 $(document).ready(function() {       
    var readId = $('#svid$contentNodeId').next().attr('id');
		$('#or-id-readspeaker-mobile, #or-id-readspeaker').click(function() {    
     		readpage('$URL' + readId, '#' + $(this).attr('id') + '-player')
  		});
	});           
</script>