##
## Utility API
#set ($outputUtil = $sitevisionUtils.outputUtil)
#set ($dateUtil = $sitevisionUtils.dateUtil)
#set ($resourceLocatorUtil = $sitevisionUtils.resourceLocatorUtil)
#set ($scriptUtil = $sitevisionUtils.scriptUtil)

#set ($PAGE_SIZE = 10)
#set ($TEXT_MAX_LENGTH = 250)

#set ($ajaxCall = $request.getParameter('ajaxcall'))       

##
## Poor man pagination
#set ($startPos = 1) 
#set ($page = $request.getParameter('page'))
#if ($page) 
    #set ($page = $scriptUtil.stringToInt($page))
    #set ($startPos = $page * $PAGE_SIZE + 1 )   
#else
	#set ($page=0)
#end
#set ($endPos = $startPos + $PAGE_SIZE - 1 )

##
## Portlet properties
#set ($headingField = $propertyUtil.getString($portlet, 'headingField'))

##
## Index field names
#set ($displayField = $propertyUtil.getString($portlet, $headingField))
#set ($urlField = $propertyUtil.getString($portlet, 'urlField'))
#set ($uriField = $propertyUtil.getString($portlet, 'uriField'))
#set ($siteField = $propertyUtil.getString($portlet, 'siteField'))

#set ($thisSiteId = $resourceLocatorUtil.site.identifier)
#if ($thisSiteId.endsWith("_site"))
   #set ($idEnd = $thisSiteId.length() - 5)
   #set ($thisSiteId = $thisSiteId.substring(0, $idEnd))
#end


## Init link+icon renderers and counter class
#set ($linkRenderer = $sitevisionUtils.linkRenderer)
##set ($linkRendererClass = $headingClass)
##$linkRenderer.setFontClass($linkRendererClass)



#if (!$ajaxCall)
<ul class="or-news-list">
#end
	#foreach ($hit in $searchResult.hits)   
		#if($velocityCount > $endPos)
			#set ($page = $page +1)
		  <button class="or-load-more" onClick="loadList($page);">Ladda in fler nyheter <i class="fa fa-refresh"></i></button>
		  #break
		#end
   
		#if($velocityCount >= $startPos)
			<li class="or-wrapper-click">      
		  ##
		  ## Heading
		  #set ($hitHeading = $scriptUtil.getNonNull($hit.getField($displayField)))
		  #if ($hitHeading)
		  <div>
		     <h3>
			 #set ($target = $scriptUtil.getNonNull($hit.getField($urlField)))
			 #if ($target)      
				#if ($thisSiteId == $hit.getField($siteField))
				   #set ($target = $scriptUtil.getNonNull($hit.getField($uriField), $target))
				#end
				$linkRenderer.setStringTarget($target)
				$linkRenderer.setText($hitHeading)
				$linkRenderer.render()
			 #else
				$outputUtil.getEscapedHtmlText($hitHeading, $headingNode)
			 #end
			 </h3>
		  </div>
			 <span class="or-news-date">$dateUtil.getDateAsString("d MMM" ,$hit.getDateField('published'))</span> 
				#set ($text = $hit.getField('metadata.SV.Description'))
				#if ($text.length() > $TEXT_MAX_LENGTH)  
						#set ($cutPos = $text.substring($TEXT_MAX_LENGTH).indexOf(" ") + $TEXT_MAX_LENGTH) 
				#set ($text = $text.substring(0, $cutPos) + "...") 
				#end
			<p>$text</p>
		  #end                      
	   </li>
	   #end
#end
#if (!$ajaxCall)
</ul>
#end