@media (min-width: 768px) {
	.or-mobile-nav-container{
	display: none;
}
}


@media (min-width: 1280px) {

.main-content{
	padding-left: 15px;
	padding-right: 15px;
}

.or-social-badge {
  right: 0px;
}

}  /* end 1280 */


@media (max-width: 1280px) {
section.or-top-img-area {
    height: 340px;
}

section.or-nav-content-section {
    padding-right: 15px;
    padding-left: 15px;
}

section.or-top-header {
padding-left: 20px;
padding-right: 20px;
}

.or-news-social-section-startpage .or-social-media-content {
    max-width: 500px;
}

}  /* end 1280 */


@media (max-width: 1100px) {
nav.or-secondary {
    max-width: 850px;
}

nav.or-secondary h2 {
    font-size: 18px;
}

section.or-top-img-area {
    height: 310px;
}

.or-news-social-section-startpage .or-social-media-content {
    max-width: 430px;
}

.or-start-bottom-tabs ul {
    padding: 10px 0px;
}


}




@media (min-width: 1350px) {

section.or-article-main .or-content-padding {
    max-width: 800px;
}

/*.sv-use-margins .normal {
    font-size: 19px;
}

.sv-use-margins .normal a{
    font-size: 19px;
}

ul li {
    font-size: 19px;
}
*/
.ingress {
    font-size: 23px;
    line-height: 1.5em;
}

a.ingress:link, .ingress a:link, a.ingress:visited, .ingress a:visited, a.ingress:active, .ingress a:active {
    font-size: 23px;
}


/* puffar */

body .or-wrapper-click.or-puff-bild-text h3 {
    font-size: 18px;
}

/* Temporär info ruta */

body .or-content-container .or-tir p {
    font-size: 17px;
}



}  /* end 1350 */


@media (min-width: 1550px) {
	


section.or-article-main .or-content-padding {
    max-width: 900px;
}

.sv-use-margins .normal {
    font-size: 21px;
}

.sv-use-margins .normal a{
    font-size: 21px;
}

.ingress {
    font-size: 25px;
    line-height: 1.5em;
}


/* puffar */

body .or-wrapper-click.or-puff-bild-text h3 {
    font-size: 20px;
}


/* Temporär info ruta */

body .or-content-container .or-tir p {
    font-size: 18px;
}


}  /* end 1350 */
