@media all and (max-width: 1280px)
{


.main-content{
	padding-left: 15px;
	padding-right: 15px;

}

.footer-container{
	padding-left: 20px;
	padding-right: 20px;
}

.or-social-badge {
  right: 0px;
}

}


@media all and (max-width: 1350px)
{
{
section.or-article-main .or-content-padding
    padding-left: 10%;
    padding-right: 10%;
    max-width: 920px;
}
}

@media all and (max-width: 1550px)
{
{
section.or-article-main .or-content-padding
    padding-left: 10%;
    padding-right: 10%;
    max-width: 1000px;
}
}
