


@media (min-width: 1280px) {

.main-content{
	padding-left: 15px;
	padding-right: 15px;
}

.or-social-badge {
  right: 0px;
}

}  /* end 1280 */


@media (max-width: 1280px) {
section.or-top-img-area {
    height: 340px;
}

section.or-nav-content-section {
    padding-right: 15px;
    padding-left: 15px;
}

section.or-top-header {
padding-left: 20px;
padding-right: 20px;
}

.or-news-social-section-startpage .or-social-media-content {
    max-width: 500px;
}

.sol-meny-startsida nav.or-secondary {
    max-width: 95%;
}

}  /* end 1280 */


@media (max-width: 1100px) {
nav.or-secondary {
    max-width: 850px;
}

nav.or-secondary h2 {
    font-size: 18px;
}

section.or-top-img-area {
    height: 310px;
}

.or-news-social-section-startpage .or-social-media-content {
    max-width: 430px;
}

.or-start-bottom-tabs ul {
    padding: 10px 0px;
}




}

@media (max-width: 1024px) {
/* Header */

.or-menu-button-container .fa {
    width: 50px;
    height: 50px;
    margin-top: 8px;
}

.or-menu-button-container .fa:before {
    top: -11px;
    font-size: 28px;
}

.or-menu-button-container .fa-stack {
    width: 50px;
    height: 60px;
}

form.or-search-field button {
    width: 50px;
    height: 50px;
    top: -3px;
}

.or-search-button-wrapper .fa-search, #or-id-search-icon {
    font-size: 28px;
}

.or-search-button-wrapper {
    bottom: 11px;
    left: 12px;
}

.or-header-topptext {
    font-size: 14px;
}

.or-header-bottomtext {
    font-size: 15px;
}

header .or-logo {
    margin-left: 0px;
    width: 48px;
    height: 63px;
}

/* processlista */
.sol-tab-button-container .sol-tab-button {
    font-size: 12px;
}


}

@media (min-width: 1350px) {
	
body .pagecontent h1 {
    font-size: 26px;
}

body .pagecontent h2 {
    font-size: 20px;
}

body .pagecontent h3 {
	font-size: 17px;
}

body .pagecontent h4 {
	font-size: 16px;
}

section.or-article-main .or-content-padding {
    max-width: 800px;
}

.ingress {
    font-size: 23px;
    line-height: 1.5em;
}


body .or-content-container .or-tir h2 {
    margin-top: 0px;
    font-size: 20px;
}

/* action */
body .sv-font-action-penna a:link, body .sv-font-action-pil a:link, body .sv-font-action-karta a:link, body .sv-font-action-facebook a:link, body .sv-font-action-twitter a:link {
    font-size: 14px;
}

/* plusbox */
.plusboxxrubrik {
    font-size: 14px;
}

/* plusbox diskret */
.or-plus-box-diskret-header .plusboxxrubrik {
    font-size: 13px;
}

/* processlista */
.sol-tab-button-container .sol-tab-button {
    font-size: 13px;
}

/* tabell */
.sv-text-portlet table.sv-standard thead th p {
    font-size: 13px;
}

.or-content-container .sv-text-portlet table caption {
    font-size: 20px;
}

/* fildelningsmodul */
.or-contentlinks a.normal {
    font-size: 14px;
}

/* länkarbox */
.or-teaser-box.or-related-documents .or-text-content .or-teaser-list li a .or-link-name {
    font-size: 14px;
}


body .sv-text-portlet table.sv-standard td p {
    font-size: 14px;
}

/* startsida */
.or-service-contact-startpage {
    max-width: 1150px;
}

.sol-meny-startsida nav.or-secondary {
    max-width: 1250px;
}

nav.or-secondary .or-content ul li a {
    padding: 10px 10px 15px;
}

.or-bg-white ul li a.normal:link {
    font-size: 16px;
    display: inline-block;
}

.or-start-white-divider .or-news-list li p {
    font-size: 16px;
}

.or-social-media-content .or-content a {
    font-size: 16px;
}

.or-puff-startpage-footer .or-puff-link .normal {
    font-size: 16px;
}

or-start-bottom-tabs ul li a {
    font-size: 12px;
}

/* navigering nivå 1 */

nav.or-secondary {
    max-width: 1150px;
}

nav.or-secondary .or-content ul li a h3 {
    font-size: 17px;
}

nav.or-secondary .or-content ul li a p {
    font-size: 16px;
}

nav.or-secondary .or-content ul.or-extra li a h3 {
    font-size: 14px;
}


/* navigering nivå 2 */
section.or-nav-content-section .sv-fluid-grid.or-wider ul.or-nav-list li a .or-title {
    font-size: 16px;
}

ul.or-nav-list li .or-list-wrapper p {
    font-size: 16px;
}

section.or-nav-content-section .sv-fluid-grid.or-wider ul.or-nav-list li .or-list-wrapper.or-single .or-title, .or-teaser-box.or-related-links .or-text-content .or-teaser-list li a .or-link-name {
    font-size: 14px;
}


/* puffar */

body .or-wrapper-click.or-puff-bild-text h3 {
    font-size: 18px;
}

body .or-puff-link .normal a {
    font-size: 15px;
}

/* tjäntepuff */

.or-puff-icon-header-text .sv-use-margins .rubrikx4, .sv-use-margins h4 {
    font-size: 16px;
}

.or-puff-icon-header-text .normal a:link {
    font-size: 16px;
}

/* Temporär info ruta */

body .or-content-container .or-tir p {
    font-size: 17px;
}

.sv-use-margins .normal {
    font-size: 19px;
}

.sv-use-margins .normal a{
    font-size: 19px;
}

.normal a:link:hover {
    box-shadow: rgba(174, 222, 239, 0.65) 0px -41px 0px -18px inset;
}

.ingress a:link:hover{
	box-shadow: rgba(174, 222, 239, 0.65) 0px -41px 0px -18px inset;
}

.ingress {
    font-size: 23px;
    line-height: 1.5em;
}

.or-article-main ul.normal li, .or-article-main ol.normal li {
    font-size: 19px;
}



}  /* end 1350 */


@media (min-width: 1550px) {
	section.or-article-main .or-content-padding {
	    max-width: 925px;
	}
}


@media (min-width: 1650px) {
	
body .pagecontent h1 {
    font-size: 28px;
}

body .pagecontent h2 {
    font-size: 22px;
}

body .pagecontent h3 {
	font-size: 18px;
}

body .pagecontent h4 {
	font-size: 18px;
}

body .or-content-container .or-tir h2 {
    margin-top: 0px;
    font-size: 22px;
}

.or-article-main ul.normal li:before {
    top: -4px;
}

section.or-article-main .or-content-padding {
    max-width: 950px;
}

.sv-use-margins .normal {
    font-size: 21px;
}

.sv-use-margins .normal a{
    font-size: 21px;
}

.ingress {
    font-size: 25px;
    line-height: 1.5em;
}

.or-article-main ul.normal li, .or-article-main ol.normal li {
    font-size: 21px;
}

.normal a:link:hover {
    box-shadow: rgba(174, 222, 239, 0.65) 0px -41px 0px -15px inset;
}

.ingress a:link:hover{
	box-shadow: rgba(174, 222, 239, 0.65) 0px -41px 0px -15px inset;
}

/* puffar */

body .or-wrapper-click.or-puff-bild-text h3 {
    font-size: 20px;
}


/* tjäntepuff */

.or-puff-icon-header-text .sv-use-margins .rubrikx4, .sv-use-margins h4 {
    font-size: 17px;
}

.or-puff-icon-header-text .normal a:link {
    font-size: 17px;
}

/* lyssna, lättläst dela */

.or-tool-area a {
    font-size: 11px;
}


/* Temporär info ruta */

body .or-content-container .or-tir p {
    font-size: 18px;
}

/* tabell */
.sv-text-portlet table.sv-standard thead th p {
    font-size: 14px;
}

body .sv-text-portlet table.sv-standard td p {
    font-size: 15px;
}

.or-content-container .sv-text-portlet table caption {
    font-size: 22px;
}

/* action */
body .sv-font-action-penna a:link, body .sv-font-action-pil a:link, body .sv-font-action-karta a:link, body .sv-font-action-facebook a:link, body .sv-font-action-twitter a:link {
    font-size: 14px;
}

/* plusbox */
.plusboxxrubrik {
    font-size: 14px;
}

/* plusbox diskret */
.or-plus-box-diskret-header .plusboxxrubrik {
    font-size: 12px;
}

/* processlista */
.sol-tab-button-container .sol-tab-button {
    font-size: 13px;
}

/* fildelningsmodul */
.or-contentlinks a.normal {
    font-size: 15px;
}

/* länkarbox */
.or-teaser-box.or-related-documents .or-text-content .or-teaser-list li a .or-link-name, .or-teaser-box.or-related-links .or-text-content .or-teaser-list li a .or-link-name {
    font-size: 15px;
}

/* startsida */

.sol-meny-startsida nav.or-secondary {
    max-width: 1350px;
}

nav.or-secondary .or-content ul li a {
    padding: 10px 10px 25px;
}

.or-service-contact-startpage {
    max-width: 1250px;
}

/* navigering nivå 1 */

nav.or-secondary {
    max-width: 1350px;
}

nav.or-secondary .or-content ul li a h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

nav.or-secondary .or-content ul li a p {
    font-size: 16px;
}



/* navigering nivå 2 */
section.or-nav-content-section .sv-fluid-grid.or-wider ul.or-nav-list li a .or-title {
    font-size: 17px;
    padding-left: 25px;
}

ul.or-nav-list li .or-list-wrapper p {
    font-size: 16px;
}

section.or-nav-content-section .sv-fluid-grid.or-wider ul.or-nav-list li .or-list-wrapper.or-single .or-title {
    font-size: 15px;
}


}  /* end 1350 */
