@media all and (max-width: 320px)
{

.or-program-hero {
    height: 230px;
    overflow: hidden;
    background-size: contain;
}


.or-instagram-container.or-instagram-container-subpage {
 width: 46%;
 margin-bottom: 17px;
 min-height: 200px;
}



.or-instagram-container {
    min-height: 205px;
}
.or-program-hero {
    position: relative;
    display: block;
    margin: 0px auto;
    height: 240px;
    overflow: hidden;
}


/* mobilmeny */

.or-mobile-nav-column.search-column:first-child {
    width: 96px;
}

.or-mobile-nav-column h4 {
    font-size: 10px;
}

.or-mobile-nav-column {
    width: 57px;
}



}
