@media all and (max-width: 480px)
{
	
/* font size */

h1, .heading {
    font-size: 20px;
}

h2, h2 a, .portlet-section-header, .portlet-menu-caption, .sv-portlet-table-caption, .subheading, .subheading a {
    font-size: 15px;
}


h3, h3 a .portlet-section-subheader, .subheading3, .subheading3 a {
    font-size: 13px;
}

h4, h4 a, .rubrikx4 a{
    font-size: 11px;
}

	
/* dokument-box */
.or-teaser-box {
    margin-bottom: 5px;
    margin-right: 0%;
    width: 100%;
}

.or-teaser-box.or-related-links .or-text-content .or-teaser-list li {
    padding: 9px 0px 0px 0px;
}


/* puffar */
.or-puff-bild-text {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}

section.or-article-main .or-content-padding {
    padding-left: 10px;
    padding-right: 10px;
}

/* Temporär info ruta */
body .or-content-container .or-tir h2 {
    margin-top: 0px;
    font-size: 14px;
}

body .or-content-container .or-tir p {
    font-size: 14px;
}


/*footer*/

.or-footer-logo {
	width: 60px;
}

/* mobilmeny */



} /* end 480px */	



@media all and (max-width: 390px) {


.phone-nav-column.search-column:first-child{
	width: 65px;
}

.phone-nav-column.search-column {
    width: 55px;
}


.phone-nav-column {
    width: 130px;
}

.phone-nav-column.search-column h4 {
    font-size: 12px;
    padding: 7px 1px 1px 6px;
}

/* modal */
.or-modal {
    width: 320px!important;
    margin-left: -160px!important;
}

}

	/* från base */
/*
.searchform {
    padding: 8px 40px 8px 12px;
}

.or-breadcrumps-container {
 display:none;
}

   .w-hidden-medium {
     display: inherit !important;
   }
   
   .or-top-container-header {
   padding-bottom:5px;
   }
   
   .logo {
    max-height: 70px;
   }
	
   .logo.orebrotoplogo {
       margin-top: 0px;
       margin-right: 15px;
   }

  .logo.orebrotoplogo {
  }
  .sende {
    margin-top: 20px;
    margin-left: 7px;
    font-size: 14px;
    line-height: 19px;
  }
  .circlebutton {
    margin-top: 55px;
  }
  .circlebutton.w--open {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .navmenu {
    width: 342px;
  }
  .menutext {
    right: 10px;
  }
  .ingress {
    font-size: 16px;
    line-height: 29px;
  }
  .bgrowone {
    font-size: 31px;
    line-height: 37px;
  }
  .bgrowtwo {
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 4px;
    font-size: 31px;
    line-height: 37px;
  }
  .ctatext {
    display: inline-block;
  }
  .divider {
    margin-top: 35px;
    text-align: center;
  }
  .column1header {
    width: 74%;
  }
  .column3header {
    position: fixed;
    top: 0px;
  }
  .column3header.menytest {
    position: absolute;
    top: 7px;
    margin-right: 0%;
  }
  .sharetext {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 0px;
    text-align: center;
  }
  .socialiconswrapper {
    display: inline-block;
    float: none;
  }
  
.or-comment-heading-container {
    min-height: 37px;
    margin-top: 13px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
  
  ._100procentown {
    margin-top: 20px;
    font-size: 12px;
    line-height: 14px;
  }
  ._100procentownheading.bluetext {
    font-size: 17px;
  }
  .herosectiontext {
    padding-right: 0px;
    padding-left: 0px;
  }
  .menubt {
    width: 38px;
    height: 38px;
  }
  
  .bloggcontent {
    width: 97%;
    padding-top: 0px;
  }
  .bloggarrowcontainer {
    width: 100%;
    margin-bottom: 15px;
  }
  .commenttextfield {
    width: 82%;
  }
  .commenttextfield.withimage {
    width: 80%;
  }
  .commnettextarea {
    width: 82%;
  }
  .commnettextarea.withimage {
    width: 80%;
  }
  .commentsfavicon {
    float: none;
  }
  .faviconcolumn {
    display: block;
    width: auto;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    float: none;
    text-align: center;
  }
  .commentstext {
    width: 100%;
    margin-top: 14px;
  }
  .calenderdate {
    display: block;
    box-shadow: none;
  }
  .herobloggh1 {
    margin-top: 8%;
  }
  .findwrapper {
    width: 84%;
    text-align: center;
  }
  .thumbs {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .quoteiconcolumn {
    margin-bottom: 11px;
    float: none;
  }
  .quoteinfocolumn.infocolumnicon {
    width: 97%;
  }
  .newsaltimage {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .logocontainer {
    margin-right: 0px;
  }

	
	
	.main-content {
    padding-left: 10px;
    padding-right: 10px;
}

h1.heading{
  font-size: 20px;
  line-height: 26px;
  margin-top: 15px!important;
}


h2.subheading {  
	font-size: 16px;
  line-height: 22px;
  margin-bottom: 6px!important;
}

.stacktable.small-only caption{  
	font-size: 16px;
  line-height: 22px;
  margin-bottom: 6px!important;
}


h3, .subheading3 {
    font-size: 14px;
    line-height: 18px;
}

h4, .rubrikx4 {
    font-size: 12px;
    line-height: 16px;
}

.ingress {
  font-size: 16px;
  line-height: 25px;
}

.normal {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.normal a:link{
  font-size: 14px;
}
.sv-text-portlet li {
  margin-bottom: 9px;
  font-size: 14px !important;
  line-height: 20px;
  text-align: left;
}

.sv-text-portlet li a{
  font-size: 14px !important;
}

.or-news-list-image-container {
    position: relative;
    width: 100%;
    margin-right: 2%;
    float: left;
    height: auto;
}


.or-month-container {
  width: 83%;
}

.or-calendar-columns {
  min-height: 36px;
  padding-top: 8px;
}

.or-calender-list-info {
  width: 97%;
  float: left;
}

.or-news-list-info-container {
    width: 100%;
    padding-left: 20px;
    float: left;
}

.date {
    margin-top: 0px;
}

.sv-use-margins .rubriknyhetsruta {
    margin-top: 6px;
}

.rubriknyhetsruta {
    font-size: 12px;
    line-height: 16px;
}

.or-calender-date.or-calender-date-small {
  width: 53px;
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 0px;
  float: none;
  box-shadow: none;
  text-align: center;
}

.kontakta-ruta {
  text-align: center;
}

a.or-action-text:hover, .or-action-text a:hover {
    display: inline;
    color: #35383b;
}

a.or-action-text, .or-action-text a {
    font-size: 10px;
    line-height: 13px;
}

a.or-action-text:hover, .or-action-text a {
    font-size: 10px;
    line-height: 13px;
}

a.or-action-text, .or-action-text a:hover {
    font-size: 10px;
    line-height: 13px;
    letter-spacing: inherit;
}

.or-action-content span.fa {
    line-height: 41px;
}


.normal .or-action-text a:link {
 font-size: 11px;
  line-height: 16px;
  letter-spacing:0.04em;
}

.or-action-content span.fa{
 min-height: 43px;
}

.or-action-text {
 font-size: 11px;
 line-height: 16px;
 padding-top: 14px;
 padding-bottom: 13px;
   letter-spacing:0.04em;
}

.or-news-list-container {
  width: 100%;
}

.or-news-list-image-container img {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    min-height: inherit;
}

/*  puffar */

/*
.or-topp-school-text {
    width: 85%;
}

.toppxxrubrikxinverteradxtext {
  font-size: 23px;
  line-height: 29px;
}

.or-stor-text-actions > div:nth-child(1) {
  float: left;
  width: 50%;
  height: auto;
  overflow: hidden;
  margin-left: 3%;
  margin-top: 3%;
}

.or-stor-text-actions > div:nth-child(1) {
  width: 100%!important;
}




.or-puff-text-icon-lanklista .normal{
    width: 285px;
    min-width: 285px;
    display: inline-block;
    position: relative;
    text-align: center;
}

.or-stor-bild-text-tv > div:nth-child(2) h2 {
    font-size: 18px;
    line-height: 24px;
}

.topp-storbild-textblock {
    background-color: #E5EEF0;
    padding-right: 15px;
    padding-left: 15px;
}

.or-stor-bild-text-actions > div:nth-child(2) {
    padding: 20px 15px 0px;
}

.or-stor-bild-text-actions {
    margin-bottom: 0px;
}


.poem span {
    font-family: "Leaguespartan webfont",sans-serif;
    font-size: 24px;
    text-transform: none;
    font-weight: 800;
    line-height: 1.2em;
}

.or-header-topptext h2 {
    font-size: 15px;
    margin-bottom: 0px;
    line-height: 22px;
    margin-top: 20px;
    padding-left: 3px;
}

.or-header-bottomtext h4 {
    font-size: 12px;
    margin-top: 1px;
    color: #857672;
    padding-left: 3px;
}

.extra {
    padding: 5px 8px 7px;
}

/* sök */



.sol-search-hits > div {
    margin-left: 12px;
    width: 77%;
}


/* kontakt toppen */

.lyssna{

}
.teckensprak{
	
}
.lattlast{
	
}
.dela{
	
}



/* kontakt toppen */

/*
.or-helpus p, h2{
	text-align: left;
	padding-left: 0px;
}

.or-helpus h2{
	font-size: 14px;
	line-height: 20px;
}

.or-fieldlabelhelpus{
	text-align: left;
}


/* process */

/*
.sol_step {
  width: 100%;
  min-height: 45px;
}

/* faktablock */

/*
.or-h1-facts-block {
    font-family: "leaguespartan webfont",sans-serif;
    font-style: normal;
    font-size: 17px;
    color: #F28C00;
    line-height: 22px;
    font-weight: 700;
}


/* plussbox */
/*
.plusboxxrubrik {
    font-size: 11px;
    line-height: 15px;
}

.plusboxxrubrik {
    padding-top: 9px;
    padding-bottom: 9px;
}

.or-plus-box-header {
    padding-right: 55px;
}

.or-plus-box-header {
    min-height: 34px;
}

.or-icon-plus {
    font: 20px/1 FontAwesome;
}

.or-arrow-down-collapse {
    width: 20px;
    margin-top: -10px;
    margin-left: -10px;;
}

.or-collpase-button {
    width: 40px;
}

.or-plus-box-content .normal{
   font-size: 14px;
  line-height: 22px;
}

.or-plus-box-content a.normal:link{
  font-size: 14px;
  line-height: 22px;
}

.or-programpoang {
    display: block;
    margin-top: 6px;
    width: 90px;
    text-align: center;
}


/* relaterade filer */
/*
.iconfile {
    position: relative;
    width: 38px;
    background-position: 50% 50%;
    background-size: 27px auto;
    background-repeat: no-repeat;
    height: 28px;
    left: -4px;
    top: -3px;
}


.or-search-content {
    width: 100%;
}

.or-search-link a {
    font-size: 14px;
    line-height: 20px !important;
}

.or-search-link {
    margin-bottom: 0px;
}



a.ingressnyhetsruta, .ingressnyhetsruta a {
    font-size: 13px;
}

.or-news-list-info-container {
    padding-left: 2px;
}

.or-breadcrump-link {
    font-size: 12px;
}

.or-breadcrump-item {
    font-size: 12px;
}

.or-content-news-blogg .sv-image-portlet img {
    width: 100%;
}

.or-big-blogg-image {
    width: 100%;
    margin: 0px auto;
}

.or-content-news-blogg div.sv-text-portlet-content, .or-content-news-blogg div.sv-comments-portlet {
    width: 100%;
}

.bloggcontent .or-contact-block.or-blogg-width {
    width: 100%;
}

.bloggcontent .or-blog-info-content {
    width: 100%;
}

.bloggcontent .or-contact-block {
    width: 100%;
}

.bloggcontent h1.heading {
    margin-left: 0%;
}


/* puffar */
/*
.or-puff-text-bild-lanklista,
.or-puff-text-icon-lanklista,
.or-puff-bild-text,
.or-puff-bild-trans-text {
  width: 98%;
}

/* Skola */
/*
.or-stor-bild-wide-text .poem span {
    font-size: 25px;
    margin-bottom: 10px;
    line-height: 29px;
}

.or-puff-program {
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
}

.or-action-link-small {
 width: 98%;
 margin-left: 1%;
}

.or-puff-instagram p.normal a {
    font-size: 12px;
}


.or-program-hero {
    overflow: hidden;
    background-size: contain;
    height: 260px;
}


.or-sketch-text {
  width: 85%;
  margin-top: 50px;
}

.or-puff-program p.normal {
    font-family: "Leaguespartan webfont",sans-serif;
    color: #60930F;
    font-size: 12px;
    line-height: 1.2em;
    text-align: left;
}

.or-stor-bild-text-tv > div:nth-child(2) h1, .or-program-heading-container h1.heading {
    font-size: 16px;
    margin-top: 0px !important;
}


.or-topp-section-school .or-stor-bild-text-actions .or-school-top-image {
  height: 280px;
}
.or-instagram-container {
  width: 46%;
  margin-right: 4%;
  margin-left: 0%;
  margin-bottom: 20px;
  min-height: 230px;
}

.or-social-badge {
display:none;
}

.or-hashtag-image {
    left: 23%;
    top: -80px;
}

.or-quote-image {
    width: 85px;
    height: 85px;
}

.or-facebook-info {
    padding-right: 15px;
    padding-left: 3px;
    width: 100%;
    margin-top: 9px;
}

.or-facebook-image {
    max-width: 97%;
    float: left;
}


.or-instagram-block {
    margin-top: 35px;    
}

.or-instagram-container.or-instagram-container-subpage {
    width: 45%;
    margin-bottom: 17px;
    min-height: 270px;
}

.or-ambassador-container{
padding: 0px 0px;
margin-top: -35px;
}

.or-quotename .normal a, .or-quotename .normal {
    font-size: 11px!important;
}

.or-social-container{
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 0px;
}

.or-instagram-block {
    margin-top: 0;
}

/* ny tabell

.pagecontent .sv-linklist-portlet table.sv-programtabell td p, .sv-blog-portlet table.sv-programtabell td p, .sv-archive-portlet table.sv-programtabell td p, .sv-text-portlet table.sv-programtabell td p {
    font-size: 14px;
}

.sv-linklist-portlet table.sv-programtabell td p a, .sv-blog-portlet table.sv-programtabell td p a, .sv-archive-portlet table.sv-programtabell td p a, .sv-text-portlet table.sv-programtabell td p a {
    font-size: 14px;
}

.sv-linklist-portlet table.sv-programtabell td p a, .sv-blog-portlet table.sv-programtabell td p a, .sv-archive-portlet table.sv-programtabell td p a, .sv-text-portlet table.sv-programtabell td p a:hover {
    font-size: 14px;
}






@media all and (max-width: 360px)
{
   
   .or-instagram-container.or-instagram-container-subpage {
    min-height: 220px;
}
}

.or-school-footer-info > div:nth-child(1){
width:100%;
}

/* Steg för Steg puff */

/*
.sv-fixed-fluid-grid sv-grid-utanxmellanrum .or-school-advantages-container .sv-row row-fluid .sv-column-4 .sv-column-4 .or-school-col{
  padding-right:0px !important;
  padding-left: 0px !important;  
}

.or-program-icon {
    width: 46%;
    margin: 7px 2% 7px 0%;
}

#cookieClose {
    display: block;
    width: 100px;
    margin: 13px auto 9px;
}

.cookieAlert .normal {
padding: 0 10px;
}

.cookieAlert .normal {
padding: 0 10px;
}

.cookieAlert .normal a:link{
    color: #fff;
    font-size: 10px;
}

.cookieAlert .normal {
    font-size: 10px;
}


/* krismeddeladne */

/*

.or-alert-message-wrapper {
 margin-left: 0px;
width: 100%;
}

.or-alert-link {
    text-align: left;
    margin-left: 0px;
}

#alertInfo {
 padding: 5px 10px 5px;
}

.or-alert-icon {
 font-size: 30px;
 width: 100%;
 position: relative;
 top: 0px;
 left: -3px;
}

.or-alert-header {
 font-size: 18px;
}

.or-alert-message-wrapper.small {
    margin-left: 10px;
    width: 78%;
}

.or-alert-icon.small {
    font-size: 30px;
    width: 65px;
    float: left;
}

.or-alert-link.small {
    text-align: left;
    margin-left: 75px;
}

.normal a.or-social-content-links {
    margin-bottom: 35px;
    margin-top: 0px;
}

.or-advantages-sketch {
    width: 270px;
    margin-left: 10%;
}

.or-grid-12-col.sv-fluid-grid, .or-grid-12-col.sv-fixed-fluid-grid {
    padding-right: 7px;
    padding-left: 7px;
}

/* processteg */

/*
.sol-accordion-heading {
 background-color: #e83c23;
 color: #fff;
 border-top: 3px solid #F4F3F1;
 margin: 0 0 5px;
 padding: 5px 35px 5px 7px;
 display: block;
 cursor: pointer;
 font-size: 12px;
 border-radius: 2px;
}

.sol-accordion-heading:after {
    content: "\f067";
    font-family: FontAwesome;
    padding-right: 6px;
    color: #35383b;
    position: absolute;
    right: 35px;
    font-size: 20px;
}

.sol-accordion-heading.sol-tab-active:after{
    content: "\f068";
    font-family: FontAwesome;
    padding-right: 6px;
    color: #fff;
    position: absolute;
    right: 35px;
    font-size: 20px;
}

.sol-accordion-heading.sol-tab-active{
    background-color: #e83c23;
    color: #fff;
    border: 2px solid #e83c23;
}

.sol-tab-button-container {
    display: none;
}

} /* End media break */
