@media all and (max-width: 480px)
{
	
/* font size */

h1, .heading {
    font-size: 18px;
}

h2, h2 a, .portlet-section-header, .portlet-menu-caption, .sv-portlet-table-caption, .subheading, .subheading a {
    font-size: 15px;
}


h3, h3 a .portlet-section-subheader, .subheading3, .subheading3 a {
    font-size: 13px;
}

h4, h4 a, .rubrikx4 a{
    font-size: 11px;
}

	
/* dokument-box */
.or-teaser-box {
    margin-bottom: 5px;
    margin-right: 0%;
    width: 100%;
}

.or-teaser-box.or-related-links .or-text-content .or-teaser-list li {
    padding: 9px 0px 0px 0px;
}


/* puffar */
.or-puff-bild-text {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}

section.or-article-main .or-content-padding {
    padding-left: 10px;
    padding-right: 10px;
}

/* Temporär info ruta */
body .or-content-container .or-tir h2 {
    margin-top: 0px;
    font-size: 14px;
}

body .or-content-container .or-tir p {
    font-size: 14px;
}


/*footer*/
.or-footer-logos {
    position: relative;
    right: 10px;
}

.or-footer-adress strong {
    margin-top: 0px;
}


.or-social-icon i {
    font-size: 18px;
}

/* mobilmeny */

.or-mobile-nav-column i.fa {
    font-size: 18px;
    margin-bottom: 7px;
}

.or-mobile-nav-column.search-column {
    width: 55px;
}

.or-mobile-nav-column {
    width: 60px;
}

.or-mobile-nav-column {
    padding-top: 10px;
    height: 38px;
}



/* sök */

.or-search-link a {
    font-size: 16px;
}

.sol-sok-ruta input {
    width: 91%;
}

/* Sök i mobil */

header.or-search-mobile form.or-search-field input {
    width: 82%;
}


header.or-search-mobile form.or-search-field button {
    top: -1px;
	width: 47px;
	height: 47px;
}

header.or-search-mobile .or-search-button-wrapper .fa-search, #or-id-search-icon {
    font-size: 25px;
}


header.or-search-mobile  .or-search-button-wrapper {
    bottom: 12px;
	left: 13px;
}




/* ÅVC */
.or-oh-name {
    width: 105px!important;
}

.or-modal-content-right-column, .or-modal-content-left-column {
	padding-right:5px;
	padding-left: 5px;
}


/* Personsök */
.or-personsok-person, .or-personsok-address {
    width: 100%!important;
}

.or-personsok-address {
    margin-top: 15px;
}

/* Nyhetslistning */


.or-news-list h3 a {
    font-size: 14px;
}

.or-news-list li p {
    display: inline;
    padding-left: 4px;
}

.or-news-date {
    position: relative;
    left: 0px;
    top: -1px;
    min-width: 35px;
    font-weight: 600;
}


 /* Bildtext */
body p.sv-portlet-image-caption {
    border-top-left-radius: 0px;
    width: 100%;
}


 /* Sorterbara listor */	
.or-search-sortable-list form.or-search-field input {
    width: 54%;
}

/* Genomgangssida 2 */
.or-puff-link {
    width: 95%;
    margin-bottom: 10px;
    margin-right: 3%;
    margin-left: 3%;
}

section.or-top-img-area {
    height: 220px;
    background-position: 0px 0px;
}

section.or-nav-content-section {
    padding-bottom: 30px;
}

.or-divider-heading {
    font-size: 12px;
}

body section.or-top-img-area .or-top-img-text-area h1 {
    font-size: 16px;
}

body section.or-top-img-area .brodtextxxfetx {
    font-size: 12px;
}

body section.or-top-img-area .or-top-img-text-area h2{
	font-size: 13px;
}

body section.or-top-header .sv-use-margins h2{
	font-size: 13px;
}


/* social flöde */

.or-social-media-content .or-content a {
    font-size: 15px;
}

.or-social-media-content .or-content img {
    width: 100%;
    margin-left: 15px;
    margin-bottom: 11px;
}

.or-social-media-content.youtube .or-content img {
    width: 100%;
}

/* faktaruta */
	
	.sv-decoration-Faktaruta {
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom:10px;
    padding-right: 15px;
}

/* startsida */
.or-start-heading-divider.or-right {
    left: 0;
    top: -25px;
    width: 100%;
    margin-left: 0px;
    box-sizing: border-box;
    background-color: #e83c23;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.or-start-heading-divider.or-left {
    left: 0;
    top: -35px;
    width: 100%;
    margin-left: 0px;
    box-sizing: border-box;
    background-color: #e83c23;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

body .or-start-heading-divider .normal {
    text-transform: inherit;
    letter-spacing: 0em;
    font-size: 13px;
    text-align: left;
    padding-left: 7px;
    color: #fff;
    font-weight: 700;
}

.or-start-heading-divider {
    left: 0;
    top: -12px;
    width: 100%;
    margin-left: 0px;
    box-sizing: border-box;
    background-color: #e83c23;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 9px 10px 8px;
    z-index: 1;
    position: relative;
}

.or-start-heading-divider:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 0 9px;
    border-color: #e83c23 transparent transparent transparent;
    position: absolute;
    bottom: -8px;
    left: 15px;
    z-index: 999;
}


.or-start-white-divider {
    margin-bottom: 30px;
    padding: 0px 0px 14px;
    margin-top: 0px;
}

.or-start-white-divider .or-puff-icon-header-text {
    margin-bottom: 4px;
    margin-top: 8px;
}

/* startsida driftstörningar/kontakt */ 


.or-red-header-box .box-header {
    background-color: #e83c23;
    position: relative;
}

.or-red-header-box .box-header:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 0 9px;
    border-color: #e83c23 transparent transparent transparent;
    position: absolute;
    bottom: -8px;
    left: 15px;
    z-index: 1;
}

.or-red-header-box {
    margin-bottom: 33px!important;
}

.driftstorningar-container.or-bg-white {
    margin-bottom: 0px;
    padding: 0px 13px 2px;
}

.or-bg-white ul li a.normal:link {
    font-size: 14px;
}

.or-start-bottom-tabs ul li {
    width: 100%;
    display: block;
    margin-left: 0px;
    text-align: left;
}

.visa-fler-driftstorningar {
    bottom: -47px;
    width: 100%;
    position: absolute;
    left: 0;
    margin-left: 0px;
    box-sizing: border-box;
    text-align: left;
    padding-left: 19px;
    padding-bottom: 16px;
    padding-top: 14px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.or-start-bottom-tabs ul {
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
}

.or-puff-startpage-footer .or-puff-link {
    margin-bottom: 20px;
}

.or-red-header-box .sv-font-action-pil {
    width: 100%;
}

.or-bg-white {
    padding: 5px 10px;
}

.or-news-container-startpage{
	border-bottom: 20px solid #F6F4F2;
}

/* startsida nyheter */
.or-start-white-divider .or-news-list li p {
    padding-left: 8px;
}

.or-start-white-divider .or-news-list li p {
    display: inline;
}

/* krismeddeladne */

.or-alert-header {
    font-size: 17px;
}


} /* end 480px */	



@media all and (max-width: 390px) {

/* mobilmeny */

.or-mobile-nav-column h4 {
    font-size: 11px;
}

.or-mobile-nav-column .or-mobile-nav-text{
 	margin: 0 auto;
 }
 
.or-mobile-nav-column.search-column .or-mobile-nav-text{
	width: 50px;
}

.or-mobile-nav-column:first-child{
	width: 65px;
}
.or-mobile-nav-column.search-column {
    width: 50px;
	padding-top: 12px;
	height: 38px;
}

.or-mobile-nav-column {
    padding-top: 12px;
    height: 38px;
}

.or-mobile-nav-column.search-column:first-child {
    width: 100px;
}

.or-mobile-nav-container {
    height: 55px;
}


/* ÅVC */
.or-oh-time-info {
        padding-top: 0px !important;
        padding-left: 0px !important;
}

.or-oh-time-info {
    font-size: 12px!important;
    width: 95px!important;
}

.or-oh-time-info {
    margin-top: 5px!important;
}

.or-oh-header {
    padding: 2px 55px 0px 2px!important;
}

.or-oh-status {
    margin-right: 10px !important;
	width: 90px!important;
}

.or-oh-time-info {
    margin-top: 2px !important;
}


/*actions */

.or-ny-action .or-action-text {
	padding-right:30px;
}

.or-action-right-icon {
	width:35px;
}


/* processteg */
.sol-accordion-heading {
 background-color: #e83c23;
 color: #fff;
 border-top: 3px solid #F4F3F1;
 margin: 0 0 5px;
 padding: 5px 35px 5px 7px;
 display: block;
 cursor: pointer;
 font-size: 12px;
 border-radius: 2px;
}

.sol-accordion-heading:after {
    content: "\f067";
    font-family: FontAwesome;
    padding-right: 6px;
    color: #35383b;
    position: absolute;
    right: 35px;
    font-size: 20px;
}

.sol-accordion-heading.sol-tab-active:after{
    content: "\f068";
    font-family: FontAwesome;
    padding-right: 6px;
    color: #fff;
    position: absolute;
    right: 35px;
    font-size: 20px;
}

.sol-accordion-heading.sol-tab-active{
    background-color: #e83c23;
    color: #fff;
    border: 2px solid #e83c23;
}

.sol-tab-button-container {
    display: none;
}


.sol-search-hits > div {
    margin-left: 12px;
    width: 95%;
}


<