@media all and (max-width: 480px) {
	
/* font size */

h1, .heading {
    font-size: 18px;
}

h2, h2 a, .portlet-section-header, .portlet-menu-caption, .sv-portlet-table-caption, .subheading, .subheading a {
    font-size: 15px;
}


h3, h3 a .portlet-section-subheader, .subheading3, .subheading3 a {
    font-size: 13px;
}

h4, h4 a, .rubrikx4 a{
    font-size: 11px;
}

.sv-use-margins .ingress {
    margin-bottom: 10px;
    margin-top: 10px;
}
	
/* dokument-box */
.or-teaser-box {
    margin-bottom: 5px;
    margin-right: 0%;
    width: 100%;
}

.or-teaser-box.or-related-links .or-text-content .or-teaser-list li {
    padding: 9px 0px 0px 0px;
}


/* puffar */
.or-puff-bild-text {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}

section.or-article-main .or-content-padding {
    padding-left: 10px;
    padding-right: 10px;
}

/* Temporär info ruta */
body .or-content-container .or-tir h2 {
    margin-top: 0px;
    font-size: 16px;
}

body .or-content-container .or-tir p {
}


/*footer*/
.or-footer-logos {
    position: relative;
    right: 10px;
}

.or-footer-adress strong {
    margin-top: 0px;
}


.or-social-icon i {
    font-size: 18px;
}

/* mobilmeny */

.or-mobile-nav-column i.fa {
    font-size: 17px;
    margin-bottom: 7px;
    padding-top: 0px;
}

.or-mobile-nav-column.search-column {
    width: 55px;
}

.or-mobile-nav-column {
    width: 60px;
}

.or-mobile-nav-column {
    padding-top: 10px;
    height: 38px;
}


/* fillista */
.or-file-list-row.or-simple-file-list-row {
    margin-top: 4px;
}

.or-teaser-box {
    margin-top: 15px;
}

/* tyck till om innehållet */
.kontakta-ruta {
    margin-top: 15px;
    margin-bottom: 20px;
}


/* sök */

.or-search-link a {
    font-size: 14px;
    line-height: 1em;
}

.sol-sok-ruta input {
    width: 91%;
}

/* Sök i mobil */

header.or-search-mobile form.or-search-field input {
    width: 82%;
}


header.or-search-mobile form.or-search-field button {
    top: -1px;
	width: 47px;
	height: 47px;
}

header.or-search-mobile .or-search-button-wrapper .fa-search, #or-id-search-icon {
    font-size: 25px;
}


header.or-search-mobile  .or-search-button-wrapper {
    bottom: 12px;
	left: 13px;
}




/* ÅVC */
.or-oh-name {
    width: 105px!important;
}

.or-modal-content-right-column, .or-modal-content-left-column {
	padding-right:5px;
	padding-left: 5px;
}


/* Personsök */
.or-personsok-person, .or-personsok-address {
    width: 100%!important;
}

.or-personsok-address {
    margin-top: 15px;
}

/* Nyhetslistning */


.or-news-list h3 a {
    font-size: 14px;
}

.or-news-list li p {
    display: inline;
    padding-left: 4px;
}

.or-news-date {
    position: relative;
    left: 0px;
    top: -1px;
    min-width: 35px;
    font-weight: 600;
}


 /* Bildtext */
body p.sv-portlet-image-caption {
    border-top-left-radius: 0px;
    width: 100%;
}


 /* Sorterbara listor */	
.or-search-sortable-list form.or-search-field input {
    width: 54%;
}

/* Genomgangssida 2 */
.or-puff-link {
    width: 95%;
    margin-bottom: 10px;
    margin-right: 3%;
    margin-left: 3%;
}

section.or-top-img-area {
    height: 180px;
    background-position: 0px 0px;
}

section.or-nav-content-section {
    padding-bottom: 20px;
    padding-top: 25px;
}

.or-divider-heading {
    font-size: 11px;
    padding-bottom: 10px;
    padding-top: 10px;
}

body section.or-top-img-area .or-top-img-text-area h1 {
    font-size: 16px;
}

body section.or-top-img-area .brodtextxxfetx {
    font-size: 12px;
}

body section.or-top-img-area .or-top-img-text-area h2{
	font-size: 13px;
}

body section.or-top-header .sv-use-margins h2{
	font-size: 13px;
}

section.or-nav-content-section .or-puff-icon-header-text .normal a:link {
    font-size: 13px;
}

section.or-nav-content-section .or-puff-icon-header-text .sv-use-margins .rubrikx4, .sv-use-margins h4 a {
    font-size: 12px;
}



/* social flöde */

.or-social-media-content .or-content a {
    font-size: 15px;
}

.or-social-media-content .or-content img {
    width: 100%;
    margin-left: 15px;
    margin-bottom: 11px;
}

.or-social-media-content.youtube .or-content img {
    width: 100%;
}

/* faktaruta */
	
	.sv-decoration-Faktaruta {
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom:10px;
    padding-right: 15px;
}

/* startsida */
.hero-startsida {
    padding-top: 0px;
}

.or-bg-white ul li {
    padding-top: 11px;
    padding-bottom: 10px;
}

.or-start-heading-divider.or-right {
    left: 0;
    top: -25px;
    width: 100%;
    margin-left: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #D63823;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.or-start-heading-divider.or-left {
    left: 0;
    top: -35px;
    width: 100%;
    margin-left: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #D63823;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

body .or-start-heading-divider .normal {
    text-transform: inherit;
    letter-spacing: 0em;
    font-size: 13px;
    text-align: left;
    padding-left: 7px;
    color: #fff;
    font-weight: 700;
}

.or-start-heading-divider {
    left: 0;
    top: -12px;
    width: 100%;
    margin-left: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #D63823;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 9px 10px 8px;
    z-index: 1;
    position: relative;
}

.or-start-heading-divider:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 0 9px;
    border-color: #D63823 transparent transparent transparent;
    position: absolute;
    bottom: -8px;
    left: 15px;
    z-index: 999;
}


.or-start-white-divider {
    margin-bottom: 30px;
    padding: 0px 0px 14px;
    margin-top: 0px;
}

.or-start-white-divider .or-puff-icon-header-text {
    margin-bottom: 4px;
    margin-top: 8px;
}

/* startsida driftstörningar/kontakt */ 


.or-red-header-box .box-header {
    background-color: #D63823;
    position: relative;
}

.or-red-header-box {
    margin-bottom: 33px!important;
}

.driftstorningar-container.or-bg-white {
    margin-bottom: 0px;
    padding: 0px 10px 15px;
}

.or-bg-white ul li a.normal:link {
    font-size: 14px;
}

.or-start-bottom-tabs ul li {
    width: 100%;
    display: block;
    margin-left: 0px;
    text-align: left;
}

.visa-fler-driftstorningar {
    bottom: -47px;
    width: 100%;
    position: absolute;
    left: 0;
    margin-left: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: left;
    padding-left: 19px;
    padding-bottom: 16px;
    padding-top: 14px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.or-start-bottom-tabs ul {
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.or-puff-startpage-footer .or-puff-link {
    margin-bottom: 20px;
}

.or-red-header-box .sv-font-action-pil {
    width: 100%;
}

.or-bg-white {
    padding: 5px 10px;
}

.or-news-container-startpage{
	border-bottom: 20px solid #FAFAFA;
}

.box-content.driftstorningar-container ul li a.normal:link, .box-content.driftstorningar-container span {
	width: 90%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* startsida nyheter */
.or-start-white-divider .or-news-list li p {
    padding-left: 8px;
}

.or-start-white-divider .or-news-list li p {
    display: inline;
}

/* krismeddeladne */

.or-alert-header {
    font-size: 15px;
}

/*actions */

.or-ny-action .or-action-text {
	padding-right:30px;
	font-size: 12px;
}

.or-action-right-icon {
	width:35px;
}

.sv-font-action-penna, .sv-font-action-pil, .sv-font-action-karta, .sv-font-action-facebook, .sv-font-action-twitter {
    padding-left: 60px;
}

.sv-font-action-penna::before, .sv-font-action-pil::before, .sv-font-action-karta::before, .sv-font-action-facebook::before, .sv-font-action-twitter::before {
    width: 46px;
    font: 900 18px/32px "Font Awesome 5 free";
}

.sv-font-action-penna:after, .sv-font-action-pil:after, .sv-font-action-karta:after, .sv-font-action-facebook:after, .sv-font-action-twitter:after {
    font: 900 18px/32px "Font Awesome 5 free";
}

body .sv-font-action-penna a:link, body .sv-font-action-pil a:link, body .sv-font-action-karta a:link, body .sv-font-action-facebook a:link, body .sv-font-action-twitter a:link {
    font-size: 12px;
}

.or-ny-action .normal .or-action-text a:link {
    font-size: 12px;
}

/* plusbox */
.plusboxxrubrik {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 12px;
}

.or-plus-box-header {
    min-height: 42px;
}

.or-plus-box-header .or-collapse-button {
    width: 41px;
}

.sol-tab-button-container {
    display: none;
}

.sol-accordion-heading {
    display: block;
}

/* processteg */
body .sol-accordion-heading {
    background-color: #fff;
    color: #D63823;
    border-top: 3px solid #F4F3F1;
    margin: 0 0 5px;
    padding: 8px 35px 8px 10px;
    display: block;
    cursor: pointer;
    font-size: 12px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid rgba(232, 60, 35, 0.22);
    font-size: 13px!important;

}

.sol-accordion-heading::after {
    content: "\f067";
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    padding-right: 6px;
    color: #D63823;
    position: absolute;
    right: 35px;
    font-size: 18px;
    font-weight: 400;
}

.sol-accordion-heading.sol-tab-active:after{
    content: "";
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    padding-right: 6px;
    color: #fff;
    position: absolute;
    right: 35px;
    font-size: 20px;
}

.sol-accordion-heading.sol-tab-active {
    background-color: #D63823;
    color: #fff;
    border: 0px solid #D63823;
    border-top: 5px solid #cf311a;
    padding-bottom: 8px;
}


/* formulär */

.sv-defaultFormTheme .sv-field-title-container.sv-bold label, .sv-defaultFormTheme .sv-field-title-container.sv-bold span, .sv-defaultFormTheme .sv-field-title-container.sv-bold h1, .sv-defaultFormTheme .sv-field-title-container.sv-bold h2, .sv-defaultFormTheme .sv-field-title-container.sv-bold h3, .sv-defaultFormTheme .sv-field-title-container.sv-bold h4, .sv-defaultFormTheme .sv-field-title-container.sv-bold h5, .sv-defaultFormTheme .sv-field-title-container.sv-bold h6, .sv-form-userattributefield label {
    font-size: 14px;
}
.sv-defaultFormTheme .sv-field-title-container.sv-bold label span, .sv-defaultFormTheme .sv-field-title-container.sv-bold h2 span {
    line-height: 0.5em;
}

/* Sok politiker */

.or-sokt-politiker .or-sok-politiker td {
    display: inline-block;
}


.or-sokt-politiker .or-sok-politiker td img {
    margin-bottom: 25px;
    display: block;
}

/* formulär */

.sv-defaultFormTheme .sv-form-singleselectionfield label, .sv-defaultFormTheme .sv-form-multipleselectionfield label, .sv-formFieldRow span {
    font-size: 16px;
}

.or-tillstand-restaurang .FlikValdText,.or-tillstand-restaurang .FlikEjValdBg,.or-tillstand-restaurang .FlikValdBg:first-child {
        padding: 3px 1px;
        font-size: 14px;
}    

} /* end 480px */	


    
@media all and (max-width: 390px) {

/* mobilmeny */

body {
    padding-top: 55px;
}

.or-header-bottomtext {
    font-size: 11px;
}

.or-mobile-nav-column .or-mobile-nav-text{
 	margin: 0 auto;
 }
 
.or-mobile-nav-column.search-column .or-mobile-nav-text{
	width: 50px;
}

.or-mobile-nav-column:first-child{
	width: 65px;
}
.or-mobile-nav-column.search-column {
    width: 50px;
	padding-top: 12px;
	height: 38px;
}

.or-mobile-nav-column {
    padding-top: 12px;
    height: 38px;
}

.or-mobile-nav-column.search-column:first-child {
    width: 110px;
}

.or-mobile-nav-container {
    height: 55px;
}


/* ÅVC */
.or-oh-time-info {
        padding-top: 0px !important;
        padding-left: 0px !important;
}

.or-oh-time-info {
    font-size: 12px!important;
    width: 95px!important;
}

.or-oh-time-info {
    margin-top: 5px!important;
}

.or-oh-header {
    padding: 2px 55px 0px 2px!important;
}

.or-oh-status {
    margin-right: 10px !important;
	width: 90px!important;
}

.or-oh-time-info {
    margin-top: 2px !important;
}

.sol-search-hits > div {
    margin-left: 12px;
    width: 95%;
}


/* sociala flödet startsidan  */

.or-social-media-follow-startpage {
    text-align: left;
}

.or-social-media-follow-startpage-item {
    margin-bottom: 0px;
    display: block;
}

}



@media all and (max-width: 330px)
{

.or-program-hero {
    height: 230px;
    overflow: hidden;
    background-size: contain;
}


.or-instagram-container.or-instagram-container-subpage {
 width: 46%;
 margin-bottom: 17px;
 min-height: 200px;
}



.or-instagram-container {
    min-height: 205px;
}
.or-program-hero {
    position: relative;
    display: block;
    margin: 0px auto;
    height: 240px;
    overflow: hidden;
}


/* mobilmeny */

.or-mobile-nav-column.search-column:first-child {
    width: 100px;
}

.or-header-bottomtext {
    font-size: 10px;
}

.or-mobile-nav-column {
    width: 53px;
}
}



@media all and (max-width: 320px) {

.or-mobile-nav-column.search-column {
    width: 51px;
}

.or-mobile-nav-column {
    width: 53px;
}


}
