@media all and (max-width: 700px){
/*header*/
header {
    display: none;
}

.or-mobile-nav-container {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 9999;
    width: 100%;
    background-color: #F8F8F8;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
    height: 53px;
}

body {
    padding-top: 50px;
}

/*brödsmulor*/

section.or-breadcrumbs-area {
    display: none;
}



}





@media all and (max-width: 768px){
	

nav.or-breadcrumbs li a, nav.or-breadcrumbs li span {
    font-size: 10px;
}	

.or-contact-block-startpage{
	display: none!important;
}

.or-red-header-box {
    margin-top: 0px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 55px!important;
    max-width: 100%;
}

.driftstorningar-container.or-bg-white {
    padding: 5px 20px 2px 20px;
    margin-bottom: 0px;
    min-height: 75px;
}

.or-red-header-box .box-header:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 0 9px;
    border-color: #e83c23 transparent transparent transparent;
    position: absolute;
    bottom: -8px;
    left: 15px;
    z-index: 1;
}

}

@media all and (min-width: 767px){
.or-news-filter .or-plus-box-diskret-header.or-plus-box-active .or-collapse-button {
    display: none;
}
}

@media all and (max-width: 766px){
/* Stänknapp i dialog */
.or-modal-close {
	display:none;
}
}

@media all and (max-width: 768px){


/*base*/

h1, .heading {
    font-size: 20px;
}

body .pagecontent h2 {
    font-size: 16px;
}

body .pagecontent h3 {
    font-size: 14px;
}

body .pagecontent h4 {
    font-size: 12px;
}

.normal {
    font-size: 16px;
    line-height: 1.5em;
}

.normal a:link {
    font-size: 16px;
    line-height: 1.5em;
}

.ingress {
    font-size: 18px;
    line-height: 1.5em;
}

a.ingress:link, .ingress a:link, a.ingress:visited, .ingress a:visited, a.ingress:active, .ingress a:active {
    font-size: 18px;
}

ul li {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2em;
}

section.or-article-main .or-content-padding {
    padding-left: 20px;
    padding-right: 20px;
}

.pagecontent.sv-layout {
    padding-left: 0px;
    padding-right: 0px;
}

.or-full-width-max .pagecontent {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}



/* Sök i mobil */

header.or-search-mobile {
    display: block;
}

header.or-search-mobile form.or-search-field input {
    width: 85%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

header.or-search-mobile .sv-row:first-of-type  > div  {
	display:none;
}

header.or-search-mobile .sv-row:first-of-type  > div:nth-of-type(2n)  {
	display:block;	
	width:100%;
	margin: 0 auto;
}

.sol-tab-button-container .sol-tab-button {
    font-size: 11px;
}

/* cookie */
#cookieClose {
    padding: 2px 11px;
    font-size: 10px;
}



/* puffar */
.or-puff-bild-text {
    width: 45.3333%;
}

/*mobil navigering */



.or-tree {
    top: -4px;
}

.or-tree > ul.or-depth-0 {
    padding-bottom: 85px;
}

body section.or-nav-content-section .or-grid-12-col.or-wider h2 {
    font-size: 12px;
}




/* footer */

.or-footer-links a {
    margin-right: 0px;
    width: 40%;
    display: inline;
    margin-bottom: 25px;
}

footer {
    padding-bottom: 5px;
}

.footer-container {
    padding-left: 20px;
    padding-right: 20px;
}

.or-social-section > div {
    position: relative;
    padding: 10px 20px 19px;
}


/* Temporär info ruta */
body .or-content-container .or-tir h2 {
    margin-top: 0px;
    font-size: 16px;
}

body .or-content-container .or-tir p {
    font-size: 15px;
}

/* modal */
.or-modal {
    position: absolute!important;
    top: 51px!important;
    left: 0!important;
    width: 100%!important;
    border-radius: 0!important;
    -moz-border-radius: 0px!important;
	-webkit-border-radius: 0px!important;
    margin-left: 0!important;
    margin-top: 0!important;
    height: 100%;
}

#alertInfo {
    padding: 20px 10px 5px;
}

/* mobilmeny */

/*.or-tree .or-toggle-panel {
    width: 21px;
    height: 21px;
}

.or-tree .or-toggle-panel::before {
    font-size: 12px;
}*/



/* CSS tabell */

.or-tb {
    border-left: solid 0px #fff;
    border-right: solid 0px #fff;
    border-top: solid 0px #fff;
}

.or-tb-head > div, .or-tb-row > div {
    display: block;
}

.or-tb-head {
    display: none;
}

.or-tb-row > div {
    padding-bottom: 1px;
    padding-top: 1px;
    border-bottom: solid 0px #fff;
}

.or-sortable .or-tb-row, .or-sortable .or-tb-row:nth-child(even) {
    background-color: rgb(255, 255, 255);
    border: solid 1px #f3dcd0;
}

.or-tb-row {
    display: block;
    margin-bottom: 15px;
    padding: 8px 3px;
}

.or-tb-row > div a {
    font-size: 13px;
}

.or-tb-row-head{
	display: inline-block;
    margin-right: 8px;
    font-weight: 700;
}

.or-content-container .sv-text-portlet table caption {
    font-size: 16px;
}




/* sök */

.or-search-link a {
    box-shadow: 0px -16px 0px -12px rgb(174, 222, 239) inset;
    box-shadow: 0px -16px 0px -12px rgba(174, 222, 239, 0.65) inset;
    transition: all 100ms ease 0s;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
    width: auto !important;
    display: inline!important;
    float: none;
}


/* öppettider */


.or-oh-extra {
    display: block !important;
    margin-left: 0px !important;
    font-size: 12px !important;
}

.or-oh-time-info {
    font-size: 12px!important;
}

.or-oh-name {
    font-size: 13px!important;
    margin-left: 3px!important;

}

.or-oh-open, .or-oh-closed {
    padding: 0px 6px 0px!important;
    font-size: 9px!important;
}

.or-oh-time-info {
    margin-top: 0px;
}

/* Nyhetslistning */

.or-news-filter-header {
    margin-top: 0px;
}

/* genomgångssida nivå 1*/
nav.or-secondary .or-content ul li {
    padding: 10px 10px 0px 10px;
    width: 47%;
    max-width: 47%;
}

nav.or-secondary .or-content ul li:nth-child(n+1) {
    border-bottom: 2px dotted #eae9e8;
}

.hero-startsida .or-secondary .or-content ul li a h3 {
   	font-size: 14px;
    margin-bottom: 6px;
}

nav.or-secondary .or-content ul li a h3 {
    font-size: 14px;
    margin-bottom: 6px;
}

nav.or-secondary {
    margin: 0px auto 0px auto;
}

nav.or-secondary h2 {
    border-top-right-radius: 0px;
    border-top-left-radius:0px;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

nav.or-secondary .or-content {
    border: 0px solid #f9c9c2;
    border-radius: 0px;
    -moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

section.or-bg-one {
    height: auto;
    padding-bottom: 0px;
}

.or-openhours-contact .sv-text-portlet table tbody tr:nth-child(2n) th{
    background-color: #fff;
    border-bottom: solid 1px #f3dcd0;
}


.or-openhours-contact .sv-text-portlet table tbody tr:nth-child(2n+1) th{
    background-color: #fdf7f1;
    border-bottom: solid 1px #f3dcd0;
}




/* Öppettider/kontakt */
body .or-article-main .or-openhours-contact .sv-responsiveTable--stacked__headRow th p{
	color:#F28C00!important;
	font-size: 12px!important;
}

/* Genomgangssida 2 */
section.or-top-img-area {
    height: 260px;
    background-position: 0px 0px;
    width: 100%;
}

body section.or-top-img-area .or-top-img-text-area {
    left: 0px;
    bottom: 0;
    padding: 10px 10px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    max-width: 100%;
}

.or-top-img-text-area {
    position: absolute;
    left: 0px;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    background-size: contain;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 15px 20px 5px;
    border-radius: 0px;
    -moz-border-radius: 0px;
	-webkit-border-radius: 0px;
    top: auto;
}

section.or-top-header {
    padding: 0px 20px 5px;
}

/* puffar innehåll */
.or-puff-link::before{
    border-width: 13px;
}

.or-puff-link::after {
    font-size: 9px;
}

.or-puff-link {
    width: 100%;
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
    float: none;
    max-width: 590px;
}



.or-divider-heading {
    font-size: 13px;
}

body section.or-top-img-area .or-top-img-text-area h2{
	font-size: 14px;
}

body section.or-top-header .sv-use-margins h2{
	font-size: 14px;
}

/* puffar tjänst */

.or-puff-icon-header-text {
    box-shadow: 0 0 3px #D7D5D5;
}



/* Standarsida toppbild */

body section.or-top-img-area .or-top-img-text-area h1 {
    font-size: 20px;
}

body section.or-top-img-area .brodtextxxfetx {
    font-size: 13px;
}

/* Startsida navigering */
.hero-startsida{
    width: 100%;
    background-size: contain;
    position: relative;
    background-position: top center;
    padding-top: 60px;
}

.sol-meny-startsida {
    padding: 0% 0% 0%;
}

.sol-meny-startsida nav.or-secondary {
    margin: 135px auto 30px auto;
    max-width: 100%;
    width: 100%;
}

.hero-startsida nav.or-secondary .or-content {
    border: 0px solid rgb(249, 228, 225);
}

/* driftstörningar/kontakt startsida */

.or-red-header-box .box-header p {
    font-size: 13px;
}

.or-red-header-box .box-header p i {
    font-size: 20px;
    position: relative;
    top: 1px;
}

.or-oh-start-page .or-oh-open, .or-oh-start-page .or-oh-closed, .or-oh-start-page .or-oh-status {
    padding: 4px 5px 4px!important;
}

.visa-fler-driftstorningar {
    bottom: -29px;
}

.or-bg-white ul li a.normal:link {
    font-size: 15px;
}

.or-bg-white ul li {
    margin-bottom: 4px;
}

.or-red-header-box .box-header {
    padding: 6px 8px 7px 10px;
    background-color: #e83c23;
}

.or-red-header-box .box-header {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.or-start-white-divider {
    margin-top: 10px;
}

.or-start-heading-divider {
    width: 300px;
    margin-left: -150px;
    position: relative;
    left: 50%;
    top: -38px;
}


/* puffar startsida */

.or-puff-startpage-footer {
    padding-top: 10px;
}

.or-puff-icon-header-text::before {
    border-width: 13px;
}

.or-puff-icon-header-text::before {
    bottom: -5px;
    right: -5px;
}

.or-puff-icon-header-text::after {
    bottom: -1px;
    right: -1px;
}

.or-puff-icon-header-text::after {
    font-size: 9px;
}


.or-start-white-divider .or-puff-icon-header-text .ikonxorange {
    float: left;
    background-color: #FCF5EC;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0px;
    height: 100%;
    width: 70px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 15px;
    font-size: 30px;
}

.or-start-white-divider .or-puff-icon-header-text > div:first-of-type {
    background-color: #fff;
    float: left;
    padding: 0px 0px 0px 0px;
    margin-bottom: 1px;
}

.or-start-white-divider .or-puff-icon-header-text {
    padding: 10px 30px 0px 85px;
    text-align: left;
    border: 4px solid #fff;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    min-height: 0px;
    max-width: 100%;
    margin-bottom: 15px;
}

.or-start-white-divider .or-puff-icon-header-text .sv-use-margins .rubrikx4, .sv-use-margins h4 {
    float: left;
    margin-bottom: 3px;
    font-size: 14px;
}

.or-start-white-divider .or-puff-icon-header-text .normal a:link {
    float: left;
    overflow: hidden;
    font-size: 14px;
}

.or-start-white-divider .or-puff-icon-header-text .normal {
    float: left;
    overflow: hidden;
}

.or-start-white-divider .or-puff-icon-header-text > div:last-of-type {
    margin: 0px;
}



.hero-startsida nav.or-secondary .or-content ul li:nth-last-child(-n+3) a {
    border-bottom: 3px solid #ffffff;
}


} /* end 767 */


@media all and (max-width: 680px){
	

/* navigering */	
ul.or-nav-list li .or-list-wrapper p {
    display: none;
}

.sol-meny-startsida nav.or-secondary {
    margin: 135px auto 0px auto;
}

section.or-nav-content-section .sv-fluid-grid.or-wider ul.or-nav-list li a .or-title:before {
    top: 0px;
    left: 5px;
}

body section.or-nav-content-section .sv-fluid-grid.or-wider .or-nav-list .or-list-wrapper.or-single .or-title:before {
    top: 1px;
}



ul.or-nav-list li .or-list-wrapper {
    min-height: 0px;
    width: auto;
}

ul.or-nav-list li .or-list-wrapper .or-title {
    border-bottom: 0px dotted transparent;
    color: #e83c23;
    padding-bottom: 0px;
}

section.or-nav-content-section .sv-fluid-grid.or-wider ul.or-nav-list li .or-list-wrapper.or-single .or-title
{
	color: #35383b;
	font-weight: 400;
    font-family: "open sans",sans-serif;
    font-size: 12px;
}


section.or-nav-content-section .sv-fluid-grid.or-wider ul.or-nav-list li a .or-title {
    font-size: 11px;
    margin-bottom: 0px;
}

section.or-nav-content-section .sv-fluid-grid.or-wider ul.or-nav-list li {
    margin-right: 0%;
    margin-left: 0%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
    display: block;
    max-width: 100%;
    width: 100%;
    padding: 0;
    padding: 5px 5px;
    box-shadow: 0 0 2px #C7C7C7;
    border: 3px solid #FFFFFF;
    padding: 6px 0px;
    min-height: 0px;
    margin-bottom: 10px;
}

section.or-nav-content-section .sv-fluid-grid.or-wider ul.or-nav-list li .or-single a .or-title {
    font-size: 1px;
    margin-bottom: 0px;
}

section.or-nav-content-section .sv-fluid-grid.or-wider ul.or-nav-list li a {
}

.or-nav-list{
list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ul.or-nav-list li .or-list-wrapper.or-single {
    min-height: auto;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.or-list-wrapper .sv-linkicon {
    top: 8px;
}

 
section.or-nav-content-section {
    padding-left: 8px;
    padding-right: 8px;
}



nav.or-secondary .or-content ul li a p {
    font-size: 13px;
    color: #35383b;
    margin-top: 5px;
    display: none;
}

nav.or-secondary .or-content ul li {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 3px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
    border-bottom: 0px dotted #eae9e8;
    max-width: 100%;
}

nav.or-secondary .or-content ul li a {
    border-bottom: 0px dotted #eae9e8;
    float: left;
    height: auto;
    border-radius: 3px;
    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    box-shadow: 0 0 2px #C7C7C7;
    width: 100%;
    border: 3px solid #FFFFFF;
    position: relative;
    padding: 6px 6px 6px 24px;
    min-height: 0px;
    background-color: #FAFAFA;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    line-height: 1em;
}

nav.or-secondary .or-content ul li:nth-child(n+1) {
    border-bottom: 0px dotted #eae9e8;
}
    
.hero-startsida .or-secondary .or-content ul li a h3 {
    font-size: 11px;
    margin-bottom: 0px;
}

nav.or-secondary .or-content ul li a h3 {
    font-size: 11px;
    margin: 0px;
}



.hero-startsida nav.or-secondary .or-content ul li:nth-last-child(-n+3) a {
    border-bottom: 3px solid #ffffff;
    padding-bottom: 7px;
}

nav.or-secondary .or-content ul li a:before {
    content: "\f061";
    font-family: FontAwesome;
    padding-right: 6px;
    color: #dad6d4;
    position: absolute;
    top: 45%;
    left: 7px;
    font-size: 12px;
    font-weight: normal;
    margin-top: -6px;
}


nav.or-secondary .or-content ul.or-extra li a h3{
	color: #35383b;
	font-family: "open sans",sans-serif;
	font-weight: 400;
	font-size: 12px;
	display: inline;
}

nav.or-secondary .or-content ul.or-extra li a {
    height: auto;
    border-bottom: 3px solid #fff;
    width: 100%;
}

.or-content ul.or-extra {
    padding-bottom: 15px;
}

nav.or-secondary .or-content ul {
    padding-bottom: 15px;
    padding-top: 8px;
}



nav.or-secondary .or-content ul.or-extra {
    background: #fff;
    padding-top: 0px;
	margin-top: -7px;
}


/* Öppettider/kontakt */
.or-openhours-contact > div:first-child {
    width: 100%;
}

.or-openhours-contact > div:last-child {
    width: 100%;
    position: relative;
    height: auto;
}

.or-openhours-contact .or-article-main .sv-responsiveTable--stacked__headRow p {
    color: #000!important;
    font-family: "leaguespartan webfont",sans-serif!important;
    font-size: 14px;
    padding: 5px 5px 5px 8px;
}

.or-openhours-contact .sv-text-portlet table tbody tr:nth-child(2n) th{
    background-color: #fff;
    border-bottom: solid 1px #f3dcd0;
}


.or-openhours-contact .sv-text-portlet table tbody tr:nth-child(2n+1) th{
    background-color: #fdf7f1;
    border-bottom: solid 1px #f3dcd0;
}

.or-openhours-contact .sv-text-portlet table caption {
    border-top-right-radius: 2px;
}

.or-openhours-contact > div:last-child h4 {
    border-top-right-radius: 0px;
    width: 100%;
}



/* återvinningsguide */

.sv-siteseeker-search-portlet form.or-search-field {
    padding: 0 0px!important;
}

.ess-result table{
	margin-bottom: 35px;
	width: 100%;
    border-collapse: collapse;
    display: block;
	overflow-x: auto;
}


body .or-puff-link .normal a:link {
    font-size: 11px;
}

body .or-puff-link .normal a:link {
    font-size: 11px;
}

.or-puff-link {
    padding: 4px 20px 4px 11px;
}

.or-start-white-divider .or-puff-icon-header-text .sv-use-margins .rubrikx4, .sv-use-margins h4 {
    font-size: 12px;
}

.or-mobile-nav-bar{
	display: none;
}


}	   /* end 680px */



@media all and (max-width: 550px){


/* social media undersida */
.or-social-media-subpage .or-social-media-content .or-content img {
    max-height: inherit;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}



/* footer */

.or-footer-links a {
    margin-right: 0px;
    width: 100%;
    display: inline;
    margin-bottom: 25px;
}

}


@media all and (max-width: 767px){





} /* end 767 */
	

	
/* mobilmeny */

.or-mobile-menu-bar {
	display: block;
	
}





 /* cookie */
 
.cookieAlert {
    padding: 11px 0px 3px 0px;
    position: fixed;
    bottom: 0;
    z-index: 999;
}


/* krismeddelande */

.or-alert-link {
    margin-left: 76px;
    margin-top: 8px;
    margin-bottom: 8px;
    top: 0px;
}

.or-alert-link .small{
	top:0px;
}

.or-alert-link.small{
	margin-left: 65px;
}

.or-alert-message-wrapper {
    width: 68%;
    display: inline-block;
    margin-left: 75px;

}

.or-alert-icon {
    font-size: 35px;
}


/* Mobilmenyrad */
.or-mobile-nav-column {
    width: 100px;
    padding-top: 7px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
    float: right;
    border-left: 1px solid #E8E8E8;
	height: 41px;
}

.or-mobile-nav-column h4 {
    font-size: 13px;
    text-align: left;
    padding: 6px 5px 5px 15px;
    color: #35383b;
    line-height: 1.1em;
    margin-top: 1px;
}

.or-mobile-nav-column.search-column:first-child {
    width: 110px;
    float: left;
    border-left-style: none;
}

.or-mobile-nav-column .or-logo{
	width: 24px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.or-mobile-nav-column.search-column {
    width: 65px;        
}

.or-mobile-nav-column i.fa{
    color: #e83c23;
    font-size: 24px;
    margin-bottom: 6px;
}

.or-mobile-nav-text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 9px;
    line-height: 1.1em;
}

.or-mobile-nav-column.or-colorbg{
	background-color: #E83C23;
	color: #fff;
	position: relative;
}

.or-mobile-nav-column:not(#mobileMenuBtn).or-colorbg:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 12px 0 12px;
    border-color: #e83c23 transparent transparent transparent;
    bottom: -9px;
    left: 50%;
    margin-left: -12px;
}


.or-mobile-nav-column.or-colorbg .fa{
	color: #fff;
}


.or-mobile-nav-column::after {
    left: 50%;
    top: 100%;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    content: " ";
    height: 0px;
    width: 0px;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #e83c23;
    border-width: 12px;
    margin-left: -12px;
    display: none;
}


/* Sökfält */
.or-search {
    padding-top: 75px;
}


.or-search {
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #FFF none repeat scroll 0% 0%;
    overflow: hidden;
    height: 100%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    display: none;
}



}   /* end 768 */


@media (min-width: 766px) {
 
  #my-mobile-menu {
    display: none !important;
  }
}
/* end */

/*Steg för Steg puff*/
.or-school-advantages-container {

  border-right: 0px;
  float:none!important;

}
.or-school-advantages-header {
  border-right: 0px;
}

@media (min-width: 640px) {
.or-puff-instagram {
    width: 29%;
}

}

.or-school-col{
  float:none !important; 
  padding-right:0px !important;
  padding-left: 0px !important;  
}

.sv-grid-utanxmellanrum.sv-fixed-fluid-grid .sv-column-4.or-school-col {
  width: 100% !important;
}

.or-ambassador-container{
padding: 5px 0px;
margin-top: -35px;
}




/* kampanjmall */

@media all and (max-width: 680px){

.or-puff-instagram > div:nth-child(1){
 width: 60%;
 float: right;
 position: relative;
}

.or-puff-instagram > div:nth-child(2){
 max-width: 35%;
 float: left;
}

.or-puff-instagram {
 margin-left: 0.5%;
 width: 100%;
}

.or-puff-instagram p.normal a {
    font-size: 13px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.or-puff-instagram > div:nth-child(1) {
    padding-left: 0px;
}


/* Öppettider */
.or-oh-openhours {
	width:100% !important;
}

.or-oh-column {
    float: none !important;    
    width: 100% !important; 
}

/* Öppettider/Kontakt */
.or-openhours-contact > div:first-child {
	float: none;
    width: 100%;
}

}

