
/* Grunddesign */

body{
	background-color: #f6f4f2;
/*	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
font-smoothing: subpixel-antialiased;*/
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */

}


a.portlet-font, a.portlet-font-label, a.portlet-font-dim, a.portlet-msg-status, a.portlet-msg-info, a.portlet-msg-error, a.portlet-msg-alert, a.portlet-msg-success, a.portlet-section-body, a.portlet-section-alternate, a.portlet-section-selected, a.portlet-section-footer, a.portlet-section-text, a.portlet-form-label, a.portlet-form-input-field, a.portlet-form-button, a.portlet-icon-label, a.portlet-dlg-icon-label, a.portlet-form-field-label, a.portlet-form-field, a.portlet-menu, a.portlet-menu-item, a.portlet-menu-item-selected, a.portlet-menu-item-hover, a.portlet-menu-item-hover-selected, a.portlet-menu-cascade-item, a.portlet-menu-cascade-item-selected, a.portlet-menu-description, a.sv-portlet-image-caption, a.sv-portlet-link-description, a.sv-portlet-primary-paragraph, a.normal, .portlet-font a, .portlet-font-label a, .portlet-font-dim a, .portlet-msg-status a, .portlet-msg-info a, .portlet-msg-error a, .portlet-msg-alert a, .portlet-msg-success a, .portlet-section-body a, .portlet-section-alternate a, .portlet-section-selected a, .portlet-section-footer a, .portlet-section-text a, .portlet-form-label a, .portlet-form-input-field a, .portlet-form-button a, .portlet-icon-label a, .portlet-dlg-icon-label a, .portlet-form-field-label a, .portlet-form-field a, .portlet-menu a, .portlet-menu-item a, .portlet-menu-item-selected a, .portlet-menu-item-hover a, .portlet-menu-item-hover-selected a, .portlet-menu-cascade-item a, .portlet-menu-cascade-item-selected a, .portlet-menu-description a, .sv-portlet-image-caption a, .sv-portlet-link-description a, .sv-portlet-primary-paragraph a, .normal a, a.portlet-font:link, a.portlet-font-label:link, a.portlet-font-dim:link, a.portlet-msg-status:link, a.portlet-msg-info:link, a.portlet-msg-error:link, a.portlet-msg-alert:link, a.portlet-msg-success:link, a.portlet-section-body:link, a.portlet-section-alternate:link, a.portlet-section-selected:link, a.portlet-section-footer:link, a.portlet-section-text:link, a.portlet-form-label:link, a.portlet-form-input-field:link, a.portlet-form-button:link, a.portlet-icon-label:link, a.portlet-dlg-icon-label:link, a.portlet-form-field-label:link, a.portlet-form-field:link, a.portlet-menu:link, a.portlet-menu-item:link, a.portlet-menu-item-selected:link, a.portlet-menu-item-hover:link, a.portlet-menu-item-hover-selected:link, a.portlet-menu-cascade-item:link, a.portlet-menu-cascade-item-selected:link, a.portlet-menu-description:link, a.sv-portlet-image-caption:link, a.sv-portlet-link-description:link, a.sv-portlet-primary-paragraph:link, a.normal:link, .portlet-font a:link, .portlet-font-label a:link, .portlet-font-dim a:link, .portlet-msg-status a:link, .portlet-msg-info a:link, .portlet-msg-error a:link, .portlet-msg-alert a:link, .portlet-msg-success a:link, .portlet-section-body a:link, .portlet-section-alternate a:link, .portlet-section-selected a:link, .portlet-section-footer a:link, .portlet-section-text a:link, .portlet-form-label a:link, .portlet-form-input-field a:link, .portlet-form-button a:link, .portlet-icon-label a:link, .portlet-dlg-icon-label a:link, .portlet-form-field-label a:link, .portlet-form-field a:link, .portlet-menu a:link, .portlet-menu-item a:link, .portlet-menu-item-selected a:link, .portlet-menu-item-hover a:link, .portlet-menu-item-hover-selected a:link, .portlet-menu-cascade-item a:link, .portlet-menu-cascade-item-selected a:link, .portlet-menu-description a:link, .sv-portlet-image-caption a:link, .sv-portlet-link-description a:link, .sv-portlet-primary-paragraph a:link, .normal a:link, a.portlet-font:visited, a.portlet-font-label:visited, a.portlet-font-dim:visited, a.portlet-msg-status:visited, a.portlet-msg-info:visited, a.portlet-msg-error:visited, a.portlet-msg-alert:visited, a.portlet-msg-success:visited, a.portlet-section-body:visited, a.portlet-section-alternate:visited, a.portlet-section-selected:visited, a.portlet-section-footer:visited, a.portlet-section-text:visited, a.portlet-form-label:visited, a.portlet-form-input-field:visited, a.portlet-form-button:visited, a.portlet-icon-label:visited, a.portlet-dlg-icon-label:visited, a.portlet-form-field-label:visited, a.portlet-form-field:visited, a.portlet-menu:visited, a.portlet-menu-item:visited, a.portlet-menu-item-selected:visited, a.portlet-menu-item-hover:visited, a.portlet-menu-item-hover-selected:visited, a.portlet-menu-cascade-item:visited, a.portlet-menu-cascade-item-selected:visited, a.portlet-menu-description:visited, a.sv-portlet-image-caption:visited, a.sv-portlet-link-description:visited, a.sv-portlet-primary-paragraph:visited, a.normal:visited, .portlet-font a:visited, .portlet-font-label a:visited, .portlet-font-dim a:visited, .portlet-msg-status a:visited, .portlet-msg-info a:visited, .portlet-msg-error a:visited, .portlet-msg-alert a:visited, .portlet-msg-success a:visited, .portlet-section-body a:visited, .portlet-section-alternate a:visited, .portlet-section-selected a:visited, .portlet-section-footer a:visited, .portlet-section-text a:visited, .portlet-form-label a:visited, .portlet-form-input-field a:visited, .portlet-form-button a:visited, .portlet-icon-label a:visited, .portlet-dlg-icon-label a:visited, .portlet-form-field-label a:visited, .portlet-form-field a:visited, .portlet-menu a:visited, .portlet-menu-item a:visited, .portlet-menu-item-selected a:visited, .portlet-menu-item-hover a:visited, .portlet-menu-item-hover-selected a:visited, .portlet-menu-cascade-item a:visited, .portlet-menu-cascade-item-selected a:visited, .portlet-menu-description a:visited, .sv-portlet-image-caption a:visited, .sv-portlet-link-description a:visited, .sv-portlet-primary-paragraph a:visited, .normal a:visited, a.portlet-font:focus, a.portlet-font-label:focus, a.portlet-font-dim:focus, a.portlet-msg-status:focus, a.portlet-msg-info:focus, a.portlet-msg-error:focus, a.portlet-msg-alert:focus, a.portlet-msg-success:focus, a.portlet-section-body:focus, a.portlet-section-alternate:focus, a.portlet-section-selected:focus, a.portlet-section-footer:focus, a.portlet-section-text:focus, a.portlet-form-label:focus, a.portlet-form-input-field:focus, a.portlet-form-button:focus, a.portlet-icon-label:focus, a.portlet-dlg-icon-label:focus, a.portlet-form-field-label:focus, a.portlet-form-field:focus, a.portlet-menu:focus, a.portlet-menu-item:focus, a.portlet-menu-item-selected:focus, a.portlet-menu-item-hover:focus, a.portlet-menu-item-hover-selected:focus, a.portlet-menu-cascade-item:focus, a.portlet-menu-cascade-item-selected:focus, a.portlet-menu-description:focus, a.sv-portlet-image-caption:focus, a.sv-portlet-link-description:focus, a.sv-portlet-primary-paragraph:focus, a.normal:focus, .portlet-font a:focus, .portlet-font-label a:focus, .portlet-font-dim a:focus, .portlet-msg-status a:focus, .portlet-msg-info a:focus, .portlet-msg-error a:focus, .portlet-msg-alert a:focus, .portlet-msg-success a:focus, .portlet-section-body a:focus, .portlet-section-alternate a:focus, .portlet-section-selected a:focus, .portlet-section-footer a:focus, .portlet-section-text a:focus, .portlet-form-label a:focus, .portlet-form-input-field a:focus, .portlet-form-button a:focus, .portlet-icon-label a:focus, .portlet-dlg-icon-label a:focus, .portlet-form-field-label a:focus, .portlet-form-field a:focus, .portlet-menu a:focus, .portlet-menu-item a:focus, .portlet-menu-item-selected a:focus, .portlet-menu-item-hover a:focus, .portlet-menu-item-hover-selected a:focus, .portlet-menu-cascade-item a:focus, .portlet-menu-cascade-item-selected a:focus, .portlet-menu-description a:focus, .sv-portlet-image-caption a:focus, .sv-portlet-link-description a:focus, .sv-portlet-primary-paragraph a:focus, .normal a:focus {
    font-family: "open sans",sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    color: #35383b;
    text-decoration: none;
    line-height: normal;
    box-shadow: rgba(174, 222, 239, 0.65)0px -15px 0px -11px inset;
	-webkit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	transition: all 100ms ease;
	cursor: pointer;
}

a.ingress:link, .ingress a:link, a.ingress:visited, .ingress a:visited, a.ingress:active, .ingress a:active {
    font-family: "open sans",sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: #35383b;
    text-decoration: none;
    line-height: normal;
    display: inline;
    padding-right: 1px;
    padding-bottom: 0px;
    padding-left: 1px;
    background-color: transparent;
    box-shadow: rgba(174, 222, 239, 0.65)0px -16px 0px -11px inset;
    transition: all 100ms ease;
    font-weight: 300;
}

.ingress a:link:hover{
	box-shadow: rgba(174, 222, 239, 0.65) 0px -41px 0px -23px inset;
}

.sv-linklist-portlet table.sv-standard td p a:visited, .sv-blog-portlet table.sv-standard td p a:visited, .sv-archive-portlet table.sv-standard td p a:visited, .sv-text-portlet table.sv-standard td p a:visited {
    font-family: Open sans;
    color: #35383b;
    font-weight: normal;
    font-size: 100%;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    box-shadow: rgba(174, 222, 239, 0.65) 0px -28px 0px -23px inset;
	-webkit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	transition: all 100ms ease;
}

.sv-linklist-portlet table.sv-standard td p a, .sv-blog-portlet table.sv-standard td p a, .sv-archive-portlet table.sv-standard td p a, .sv-text-portlet table.sv-standard td p a {
    font-family: Open sans;
    color: #35383b;
    font-weight: normal;
    font-size: 100%;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    box-shadow: rgba(174, 222, 239, 0.65) 0px -28px 0px -23px inset;
	-webkit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	transition: all 100ms ease;
}

.normal a:link:hover{
	box-shadow: rgba(174, 222, 239, 0.65) 0px -41px 0px -23px inset;
}


html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

header
{
	background:#FFF;
	min-height:90px;
	margin-bottom:5px;
	padding:10px 15px 1px;
}

.or-header-text {
    display: inline-block;
    position: relative;
    top: -8px;
    left: 4px;
}

header .or-wider
{
	max-width:1350px;
	width:1350px;
}

.or-menu-button-container{
	text-align: center;
    margin: 0 auto;
    width: 60px;
}

.or-grid-12-col.or-wider
{
	max-width:1350px;
}


ul
{
	list-style-type:none;
	margin:0;
	padding:0 0;
	display: block;
}

/*ul li
{
	font-family:'Open Sans', sans-serif;
	font-size:17px;
	line-height:1.2em;
}*/

/* type fonts */
h2 a{
    display: inline;
    padding-right: 1px;
    padding-bottom: 0px;
    padding-left: 1px;
    background-color: transparent;
    box-shadow: rgba(174, 222, 239, 0.65)0px -15px 0px -11px inset;
    transition: all 100ms ease;
}

h2 a:hover{
    box-shadow: rgba(174, 222, 239, 0.65) 0px -60px 0px -30px inset;
}

h3 a{
	display: inline;
    padding-right: 1px;
    padding-bottom: 0px;
    padding-left: 1px;
    background-color: transparent;
    box-shadow: rgba(174, 222, 239, 0.65)0px -14px 0px -10px inset;
    transition: all 100ms ease;
    position: relative;
   /* margin-left: 10px;*/
}

h3 a:hover{
	box-shadow: rgba(174, 222, 239, 0.65) 0px -60px 0px -30px inset;
}

h4 a{
	display: inline;
    padding-right: 1px;
    padding-bottom: 0px;
    padding-left: 1px;
    background-color: transparent;
    box-shadow: rgba(174, 222, 239, 0.65)0px -14px 0px -10px inset;
    transition: all 100ms ease;
    position: relative;
   /* margin-left: 10px;*/
}

h4 a:hover{
	box-shadow: rgba(174, 222, 239, 0.65) 0px -60px 0px -30px inset;
}

.normal {
    line-height: 1.6em;
}


/*h3 a:before{
	content: "\f061";
    font-family: FontAwesome;
    padding-right: 6px;
    color: #857672;
    position: relative;
    top: 3px;
    left: -18px;
    position: absolute;
}
*/

.or-full-width-max .pagecontent {
    max-width: 1140px;
    margin: 0 auto;
}


header .or-logo {
    display: inline-block;
    float: left;
    margin-top: 8px;
    max-height: 75px;
    margin-right: 8px;
    margin-left: -12px;
    width: 55px;
    height: 70px;
    border:0px;

}

.or-header-topptext{
    color: #E83C23;
    margin-bottom: 0px;
    display: block;
    font-size: 19px;
    margin-top: 25px;
    font-family: "leaguespartan webfont",sans-serif;
}

.or-header-bottomtext{
	color: #8C817C;
	display: block;
	margin-top: -1px;
	margin-bottom: 0px;
	font-size: 16px;
	font-family: "leaguespartan webfont",sans-serif;
}


.or-header-topptext{
    color: #8C817C;
    margin-bottom: 0px;
    display: block;
    font-size: 16px;
    margin-top: 25px;
    font-family: "leaguespartan webfont",sans-serif;
}

.or-header-bottomtext{
	color: #E83C23;
	display: block;
	margin-top: -1px;
	margin-bottom: 0px;
	font-size: 19px;
	font-family: "leaguespartan webfont",sans-serif;
}

.or-tool-area
{
	background-color:#fff;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	box-shadow:0 1px 4px rgba(0,0,0,0.05);
	padding-left:5px;
	position:absolute;
	right:0;
	top:0;
	z-index: 10;
}

.or-tool-area a
{
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	border-right:2px solid #f6f4f2;
	float:right;
	font-size:10px;
	font-weight:600;
	line-height:1.1em;
	margin-right:8px;
	padding:6px 10px 6px 3px;
	text-align:center;
	font-family: "leaguespartan webfont",sans-serif;
	background: #fff;
}

.or-tool-area a:first-child
{
	border-right:0 solid #f6f4f2;
}

.or-tool-area a:hover
{
	color:#e83c23;
	text-decoration:underline;
}

.or-tool-area a:hover i:before
{
	color:#857672;
}

.or-tool-area a i
{
	color:#f28c00;
	display:block;
	float:left;
	margin-bottom:5px;
	text-align:center;
	width:100%;
}

.or-tool-area a i:before
{
	font-size:20px;
}


section.or-breadcrumbs-area
{
	background:#fff;
	min-height: 30px;
	padding-left: 20px;
}

.or-breadcrumbs-area .or-wider
{
	position:relative;
}

/* Pilavdelare på sida */
.or-arrow-box
{
	background:#EFEFEF;
	border-top:5px solid #EFEFEF;
	position:relative;
}

.or-arrow-box:after
{
	border:solid transparent;
	border-color:#EFEFEF rgba(241,241,241,0) rgba(241,241,241,0);
	border-width:25px;
	content:" ";
	height:0;
	left:50%;
	margin-left:-25px;
	pointer-events:none;
	position:absolute;
	top:100%;
	width:0;
}


section.or-article-main .or-content-padding
{
	padding-left:10%;
	padding-right:10%;
	max-width: 700px;
}

section.or-article-main .or-on-page-links
{
	border-bottom:2px dotted #dad6d4;
	display:inline-block;
	margin-bottom:25px;
	margin-top:25px;
	padding-bottom:5px;
	width:100%;
}

section.or-article-main .or-on-page-links ul.shortcut-links li
{
	border:1px solid rgba(248,199,127,0.3);
	margin:0 10px 10px 0;
	padding:5px 8px 4px;
}

section.or-article-main .or-on-page-links ul.shortcut-links li a
{
	font-size:.6em;
}

section.or-article-main .or-on-page-links h2
{
	display:inline-block;
	float:left;
	font-size:13px;
	margin:4px 8px 0 0;
}

section.or-top-header {
    margin: 0 auto;
    max-width: 1330px;
    padding: 10px 10px 15px;
}

section.or-top-header .normal {
    line-height: 1.2em;
    max-width: 750px;
}

section.or-top-img-area {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0;
    position: relative;
    height: 370px;
    background-repeat: no-repeat;
    background-size: cover;
}

body section.or-top-img-area .or-top-img-text-area h1 {
    color: #E83C23;
    margin-top: 0px;
    font-size: 24px;
    margin-bottom: 0px;
}

.or-top-img-text-area {
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 20px 60px 20px 20px;
    border-radius: 2px;
    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
    max-width: 50%;
}

body section.or-top-img-area .brodtextxxfetx {
    font-weight: bold;
    font-size: 14px;
}

.or-top-img-text-area{
	position: absolute;
	left: 20px;
	bottom:20px;
	padding: 20px 20px;
    border-radius: 2px;
    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
    max-width: 50%;
}

body section.or-top-img-area .or-top-img-text-area h2{
	font-size: 16px;
	line-height: 1.3em;
	margin-top: 10px;
}

body section.or-top-header .sv-use-margins h2{
	font-size: 16px;
	line-height: 1.3em;
	margin-top: 10px;
}

section.or-nav-content-section {
    background-color: #fff;
    padding-bottom: 20px;
    padding-top: 40px;
}

body section.or-nav-content-section .or-grid-12-col.or-wider h2{
	margin-top: 5px;
    margin-bottom: 25px;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.04em;
}


section.or-nav-content-section .or-area-heading h3
{
	font-size:15px;
	letter-spacing:.05em;
	line-height:1.4em;
	margin-bottom:20px;
	text-align:center;
	text-transform:uppercase;
}




section.or-nav-content-section .sv-fluid-grid.or-wider ul.or-nav-list li
{
	/*
	margin-bottom:25px;
	padding:0;
	float: left;
	width: 28%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    */
}

.or-nav-list{
      display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /*
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    display: -webkit-box;
	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  	display:-ms-flexbox;
  	-ms-flex-wrap:wrap;
  	*/
}

section.or-nav-content-section .sv-fluid-grid.or-wider ul.or-nav-list li {
  	margin-right: 1%;
    margin-left: 1%;
    -webkit-box-flex: 3;
    -webkit-flex: 3 28.333%;
    -ms-flex: 3 28.333%;
    flex: 3 28.333%;
    display: inline-block;
    max-width: 30.333%;

  	/*
  	width: 33%;
    display: -webkit-box;
	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  	*/
  	
    /* margin-right: 1%; */
    /* margin-left: 1%; */
    /* -webkit-box-flex: 3; */
    /* -webkit-flex: 3 28.333%; */
    -ms-flex: 3 28.333%;
    /* flex: 3 28.333%; */
    /* display: inline-block; */
    /* max-width: 30.333%; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33%;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;

}

section.or-nav-content-section .sv-fluid-grid.or-wider ul.or-nav-list li a
{
	background:#FAFAFA;
	padding:12px 10px 10px 15px;
	position: relative;
	width: 100%;
	display: inline-block;
	
}

section.or-nav-content-section .sv-fluid-grid.or-wider ul.or-nav-list li a .or-title {
    font-size: 15px;
    margin-top: 0;
    line-height: 1.3em;
    padding-left: 9px;
    margin-bottom: 9px;
}

section.or-nav-content-section .sv-fluid-grid.or-wider ul.or-nav-list li a .or-title:before
{
	color:#dad6d4;
	content:"\f061";
	font-family:FontAwesome;
	padding-right:6px;
	position: absolute;
    top: 12px;
    left: 6px;
}

.or-list-wrapper .sv-linkicon {
    margin-left: 8px;
    position: absolute;
    right: 9px;
    top: 14px;
}


ul.or-nav-list li .or-list-wrapper {
    border: 5px solid #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    box-shadow: 0 0 5px #C7C7C7;
    float: left;
    min-height: 130px;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

/* single list */

ul.or-nav-list li .or-list-wrapper.or-single {
    min-height: 60px;
    padding-top: 16px!important;
    padding-bottom: 7px!important;
}

body section.or-nav-content-section .sv-fluid-grid.or-wider .or-nav-list .or-list-wrapper.or-single .or-title:before {
    top: 15px;
}

section.or-nav-content-section .sv-fluid-grid.or-wider ul.or-nav-list li .or-list-wrapper.or-single .or-title
{
	border-bottom: 0px dotted #dad6d4;
    margin-bottom: 0px;
    font-size: 13px;
    padding-right: 17px;
}



ul.or-nav-list li .or-list-wrapper:hover .or-title{
    color: #35383b;
}

ul.or-nav-list li .or-list-wrapper:hover p {
    text-decoration: underline;
}

ul.or-nav-list li .or-list-wrapper:hover h3 {
    text-decoration: underline;
}

ul.or-nav-list li .or-list-wrapper .or-title
{
	border-bottom:2px dotted #dad6d4;
	color:#e83c23;
	font-size:18px;
	padding-bottom:10px;
}

ul.or-nav-list li .or-list-wrapper .or-title:before
{
	color:#dad6d4;
	content:"\f061";
	font-family:FontAwesome;
	padding-right:6px;
	position:relative;
	top:-1px;
}

ul.or-nav-list li .or-list-wrapper p {
    font-weight: 300;
    font-size: 15px;
    margin-top: 0px;
}

nav.or-breadcrumbs
{
	background:#fff;
	min-height: 30px;
	padding-right: 300px;
}

nav.or-breadcrumbs li
{
	float:left;
	padding-top: 3px;
}

nav.or-breadcrumbs li a,
nav.or-breadcrumbs li span  {
    font-size: 11px;
    font-weight: 600;
    padding: 4px 0;
    font-family: "leaguespartan webfont",sans-serif;
    color: #35383b;
    line-height: 1.1em;
}

nav.or-breadcrumbs li a:hover
{
	text-decoration: underline;
}



nav.or-breadcrumbs li .or-path-divider
{
	color:#D8D8D8;	
	font-weight:300;
	padding:0 5px;
	text-decoration:none;
}

nav.or-breadcrumbs li:last-child span
{
	color: #E83C23;
}


nav.or-breadcrumbs li:first-child a:before
{
	color:#35383b;
	content:"\f015";
	font-family:FontAwesome;
	padding-right:10px;
}


/*
nav.or-breadcrumbs li:last-child  a:after
{
	content:"";
}
*/
.or-area-heading
{
	margin-bottom:20px;
}

.or-area-heading h3
{
	color:#35383b;
	font-size:15px;
	letter-spacing:.05em;
	line-height:1.4em;
	margin-bottom:33px;
	text-align:center;
	text-transform:uppercase;
}


/* content */
/*.pagecontent.sv-layout {
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}*/

body p.sv-portlet-image-caption {
    font-size: 12px;
    background: rgba(255, 255, 255, 0.9);
    padding: 6px 11px;
    margin-top: 0px;
    text-align: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-top-left-radius: 3px;
}

.sv-image-portlet, .sv-image-portlet a {
    position: relative;
}

.sv-use-margins .heading, .sv-use-margins .or-article-main h1{
	margin-top:20px;
}


.or-article-main ul.normal {
    margin: 0px;
    list-style-type: none;
}

.or-article-main ul.normal li {
    margin-bottom: 10px;
    text-indent: -20px;
    padding-left: 22px;
    font-size: 17px;
    line-height: 1.4em;
    list-style: none;
}

.or-article-main ul.normal li:before {
    content: "\f111";
    font-family: FontAwesome;
    color: #857672;
    padding-right: 10px;
    font-size: 10px;
    top: -2px;
    position: relative;
}

.or-article-main ol.normal li {
    margin-bottom: 10px;
    text-indent: -2px;
    padding-left: 5px;
    font-size: 17px;
    line-height: 1.4em;
}


.or-article-main ol.normal {
    margin: 25px;
    padding: 5px 0px;
}


/* Avdelare content */

.or-divider-heading {
    text-align: center;
    letter-spacing: 0.06em;
    border-bottom: 2px dotted #dad6d4;
    border-top: 2px dotted #dad6d4;
    padding-bottom: 13px;
    padding-top: 13px;
    width: 97%;
    margin: 15px auto 20px;
}

/* Klass för att dölja element */
.or-visuallyhidden {
   margin: -1px;
   padding: 0;
   width: 1px;
   height: 1px;
   overflow: hidden;
   clip: rect(0 0 0 0);   
   position: absolute;
}


/* CSS tabell personsök */
.or-tb {
    display: table;
    width: 100%!important;
    margin: 20px 0px 10px 0px;
    border-left: solid 1px #f3dcd0;
    border-right: solid 1px #f3dcd0;
    border-top: solid 1px #f3dcd0;
}
.or-tb-head {
    display: table-row;
    font-weight: bold;
    text-align: left;
    background-color: #e83c23;
}
.or-tb-row
{
	display: table-row;
}
.or-tb-head > div {
    display: table-cell;
    border: solid 1px rgba(255, 255, 255, 0.25);
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 14px;
    border-bottom: solid 1px #f3dcd0;
    font-size: 12px;
    width: 20%;
    border-bottom: 0px;
}

.or-tb-head > div:hover{
    background-color: #D53720;
}

.or-tb-row > div {
    display: table-cell;
    border: solid 1px rgba(255, 255, 255, 0.25);
    /* border-width: thin; */
    padding-left: 14px;
    padding-right: 5px;
    padding-bottom: 9px;
    padding-top: 9px;
    border-bottom: solid 1px #f3dcd0;
    font-size: 13px;
}


.or-tb-head > div a{
    position: relative;
    display: block;
}

.or-tb-row > div a {
    position: relative;
    box-shadow: rgba(174, 222, 239, 0.65)0px -16px 0px -11px inset;
    transition: all 100ms ease;
}

.or-tb-row > div a:hover {
    box-shadow: rgba(174, 222, 239, 0.65)0px -29px 0px -11px inset;
}

.or-tb-row-head{
	display: none;
}

.or-sortable .or-tb-head a {
    color: #fff;
    line-height: 1.3em;
    font-family: "leaguespartan webfont",sans-serif;
    font-size: 12px;
}

.or-sort-box {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.44);
    border-radius: 2px;
    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    right: 10px;
    height: 16px;
    width: 20px;
    text-align: center;
    top: -3px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.or-sort-box:hover {
    background-color: #D53720;
}

.or-sort-box i{
color: #fff;}


.or-sort-box.sorting-by {
	background-color: white;
	-webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}


.or-sort-box.sorting-by:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.or-sort-box.sorting-by i{
	color: #E83C23;
}

.or-sortable .or-tb-row:nth-child(even) {
    background-color: #fdf7f1;
}
.or-sortable  .or-tb-row:nth-child(odd) {
  background-color: #fff;
}


.or-content-container .sv-text-portlet table caption {
    font-family: "leaguespartan webfont",sans-serif;
    font-size: 11px;
    margin-bottom: 3px;
}

.or-search-sortable-list .or-search-summary p{
	margin-top: 0px;
}

.or-search-sortable-list .sol-search-hits > div {
    margin-left: 0px;
    width: 85%;
    float: left;
}

.or-search-sortable-list .or-search-result {
    float: left;
    padding-left: 0px;
    margin-top: 20px;
}

.or-search-sortable-list .or-search-result ul li{
	list-style: none;
}

.or-search-sortable-list .sol-search-hits{
	list-style: none;
}

.or-search-sortable-list .sol-search-hits:before{
	content: "";
}

.or-search-sortable-list form.or-search-field button {
    top: -4px;
    width: 50px;
    height: 50px;
}

.or-search-sortable-list .or-search-button-wrapper {
    bottom: 11px;
    left: 13px;
}

.or-search-sortable-list .or-search-button-wrapper .fa-search, #or-id-search-icon {
    font-size: 27px;
}





/* Genomgångsida nivå 1 */

.or-link-page-level-1 {
	width : 1350px;
}


nav.or-secondary {
    max-width: 950px;
    margin: 80px auto 80px auto;
}

nav.or-secondary h2 {
    background: rgba(232, 60, 35, 0.9);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    display: inline-block;
    margin: 0px;
    font-size: 20px;
    letter-spacing: 0.01em;
}


nav.or-secondary .or-content {
    /* float: left; */
    border: 2px solid #f9c9c2;
    border-radius: 3px;
    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

nav.or-secondary .or-content ul {
    background: #ffffff;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

nav.or-secondary .or-content ul li {
    padding: 10px 10px 0px 10px;
        margin-right: 1%;
    margin-left: 1%;
    -webkit-box-flex: 3;
    -webkit-flex: 3 28.333%;
    -ms-flex: 3 28.333%;
    flex: 3 28.333%;
    border-bottom: 2px dotted #eae9e8;
    max-width: 30.333%;
}

nav.or-secondary .or-content ul li:nth-child(n+4) {
    border-bottom: 0px dotted #eae9e8;
}

nav.or-secondary .or-content ul li a {
    transition: all 0.3s ease-out;
    padding: 10px;
    width: 100%;
    display: inherit;
}

nav.or-secondary .or-content ul li a h3 {
    color: #e83c23;
    margin-bottom: 4px;
    font-size: 18px;
    transition: all 0.3s ease-out;
}

nav.or-secondary .or-content ul li a h3 {
    font-size: 16px;
    line-height: 1.1em;
    margin-bottom: 4px;
    margin-top: 2px;
}

nav.or-secondary .or-content ul li a .sv-linkicon{
	margin-left: 6px;
}

nav.or-secondary .or-content ul li a p {
    font-size: 14px;
    color: #35383b;
    margin-top: 0px;
    font-weight: 300;
}


nav.or-secondary .or-content ul.or-extra {
    background: rgba(248, 247, 247, 0.95);
    padding-top: 3px;
    margin-top: -2px;
    padding-bottom: 15px;
}



nav.or-secondary .or-content ul.or-extra li {
    padding-top: 5px;
    padding-bottom: 5px;
}

nav.or-secondary .or-content ul.or-extra li a {
    height: auto;
    width: 95%;
    display: inherit;

}

nav.or-secondary .or-content ul.or-extra li a h3 {
    font-size: 13px;
    margin-bottom: 3px;
    display: inline;
}


nav.or-secondary .or-content ul li a:hover h3 {
    color: #35383b;
    text-decoration: underline;
}


nav.or-secondary .or-content ul li a:hover p {
    color: #35383b;
    text-decoration: underline;
}



