/*
---------------------------------------------------------
MENY
--------------------------------------------------------- */
.or-expanded
{}

.sv-editing-mode .or-tree {
   margin-top: 30px;
}

.or-tree > .or-depth-1 > li,
.or-tree .or-depth-1 > li > span {
   display: block;
}

.or-tree .or-title {
    background: #FFFFFF;
}

.or-tree .or-title a{
    font-size: 16px;
    color: #fff;
    line-height: 20px;
    font-weight: bold;
    font-family: "leaguespartan webfont",sans-serif;
    padding-top: 18px;
    padding-bottom: 6px;
    text-align: left;
    background-color: #fff;
}

.or-tree ul {
   display: none;
   list-style-type: none;
   margin: 0;
   padding: 0;   
   -webkit-transform: translateZ(0);
}

.or-tree li.or-parent {
    position: relative;
}

.or-tree li:not(.or-expanded) {
}    

.or-tree > li > a {
   font-family: "Open Sans",sans-serif;   
   color: #35383B;
   font-size: 14px;
   line-height: 16px;
   font-weight: 400;
}

.or-tree > ul, .or-expanded > ul {
  display: block;
}

.or-tree .or-current {
}


.or-tree {
  /*display: none;*/
  position: fixed !important;
  top: 0;
  right: -440px;
  bottom: 0;  
  z-index: 9998;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  min-height: 100%;      
  width: 440px;    
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.or-tree {  
  background: #fff;
}

  /*  
.or-menu-visible .or-tree {
  
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  
}
*/
.or-tree a {
    display: block;
    font-family: "leaguespartan webfont",sans-serif;
    padding: 14px 5px 14px 25px;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.02em;
    background-color: #e83c23;
    border-bottom: 2px solid #EF6F5D;
}

.or-tree .or-toggle-panel {
    width: 26px;
    height: 26px;
    background: none;
    border: 2px solid #fff;
    font-weight: normal;
    outline: none;
    position: absolute;
    right: 5px;
    margin-top: 6px;
    margin-bottom: -13px;
    padding: 0em;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    border-radius: 18px;
    z-index: 10;
}

.or-tree button:active {
   background: #777;
   padding: 0;
}


.or-tree .or-toggle-panel:before {
    font-family: FontAwesome;
    font-size: 13px;
    content: '\f067';
    color: #fff;
    position: absolute;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    top: 50%;
    left: 50%;
    height: 14px;
    width: 14px;
    line-height: 1.4em;
    margin-left: -7px;
    margin-top: -7px;
}


.or-tree .or-expanded > .or-toggle-panel:before {
   -moz-transform: rotate(180deg);
   -webkit-transform: rotate(180deg);
   -o-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
   transform: rotate(180deg);
}


.or-tree .or-expanded > button:before, .or-tree .or-expanded > .or-toggle-panel:before {
    content: '\f068';
    top: 15px;
}

.or-current.or-parent.or-expanded{
	background-color: #fff;
}

.or-tree .or-expanded > a {
}

.or-tree ul.or-depth-1 {   
}

.or-tree .or-depth-1 > li > a {
    font-family: "open sans",sans-serif;
    color: #35383b;
    font-weight: 100;
    font-size: 15px;
    background-color: #fff;
    border-bottom: 1px solid #FBFBFB;
}

.or-tree .or-depth-1 > li {
    position: relative;
    background-color: #FFFFFF;
    font-family: "open sans",sans-serif;
    border-bottom: 1px solid #EAEAEA;
}

.or-tree .or-depth-1 .or-current a{
    background-color: #f8f8f8;
    font-weight: normal;
}

.or-tree .or-depth-1 .or-toggle-panel{
	border: 2px solid #F8C8C1;
}

.or-tree .or-depth-1 .or-toggle-panel:before{
	color: #e83c23;
}

.or-tree .or-depth-2 > li a{
	font-family: "open sans",sans-serif;
    color: #35383b;
    font-weight: 100;
    font-size: 15px;
    background-color: #fff;

}

.or-tree .or-depth-2 {
   	font-family: "open sans",sans-serif;
    color: #35383b;
    font-weight: 100;
    font-size: 15px;
}

.or-tree .or-depth-3 {
   
}

.or-tree .or-depth-3 > li > a {
   
}

.or-tree .or-depth-4 > li > a {
   font-size: 13px;
   padding: 11px 10px 11px 40px;
}

.or-tree .or-depth-5 > li > a {
   font-size: 12px;
   padding: 8px 10px 8px 60px;
}
