/* Sökfält */

form.or-search-field {
    width: 100%;
    display: inline-block;
    position: relative;
    margin-top: 5px;
}

form.or-search-field input {
  width: 75%;
  height: 50px;
  padding: 8px 70px 8px 12px;
  margin-bottom: 10px;
  float: left;  
  line-height: 1.428571429;
  border: 1px solid #cccccc;
  border-style: solid;
  border-width: 1px;
   border-color: rgb(133, 118, 114); /* fallback */
  border-color: rgba(133, 118, 114, 0.2);
  border-radius: 2px;
    -moz-border-radius:2px;
  -webkit-border-radius:2px;
  vertical-align: middle;
  background-color: #ffffff; 
  font-size: 17px;
  font-weight: 300;
  color: #717171;
  -webkit-appearance: none;
}

form.or-search-field button{
  /* test */
    position: relative;
    -webkit-appearance: none;
    left: -28px;
    top: -5px;
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;    
    border: 0px none;
    cursor: pointer;        
    color: white;
    text-align: center;
}

.or-search-button-wrapper {
    position: absolute;
    bottom: 12px;
    left: 15px;
}

.or-search-button-wrapper .fa-search, #or-id-search-icon {
    font-size: 35px;
    color: white;
}


/* Liten kalender info ruta */
.or-calender-date {
  position: relative;
  bottom: auto;
  z-index: 12;
  width: 47px;
  margin-top: 20px;
  margin-right: 9px;
  margin-left: 15px;
  float: left;
  border: 2px solid #f0eded;
  border-radius: 3px 3px 2px 2px;
  background-color: white;
  box-shadow: none;
}
.or-calender-date.or-calender-date-small {
  width: 53px;
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 0px;
  float: none;
  box-shadow: none;
  text-align: center;
}

.or-date-month-name {
  position: relative;
  width: 100%;
  height: 22px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #e83c23;
  font-family: futura-pt, sans-serif;
  color: white;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.02em;
}
.or-date-day {
  position: relative;
  display: block;
  width: 90%;
  margin: 1px auto;
  float: none;
  font-family: futura-pt, sans-serif;
  font-size: 17px;
  line-height: 19px;
  font-weight: 700;
  text-align: center;
}

.or-date-day-name {
  position: relative;
  display: inline-block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3px;
  float: none;
  border-top: 1px dotted rgba(133, 118, 114, 0.2);
  font-size: 11px;
  line-height: 11px;
  text-align: center;
}

/* Kalender faktaruta */

.or-facts-row-calender {
 padding-top: 6px;
 padding-bottom: 10px;
 border-bottom: 1px solid #ecebe6;
}

.or-facts-column-one {
 width: 25%; 
 text-align: left;
}

.or-facts-column-two {
 width: 75%;
 line-height: 20px;
}

.or-facts-column-two p.normal,
.or-facts-column-one p.normal {
  margin: auto;
}

.or-facts-column-two p.normal {
  font-size: 13px;
  line-height: 18px;
}

.or-facts-column-two p.normal a{
  font-size: 13px;
}

.or-facts-column-one strong {
  font-size: 14px;
}

/* Kalender listning */

.or-calender-list-calender {
   float:left;
}

.or-calender-list-info {
  width: 80%;
  float: left;
}

.or-calender-list-type{
  margin-top: 5px;
  padding-top: 7px;
  border-top: 2px dotted rgba(133, 118, 114, 0.2);
}

.or-calender-list-type-text{
  width: 100%;
  margin-bottom: 3px;
  font-size: 13px;
}

.or-news-list-container:hover .or-calender-list-info{
  text-decoration: underline;
}


/* Kalender */

.or-month-container {
  position: relative;
  width: 50%;
  margin-top: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-style: solid;
  border-width: 2px 2px 0px;
  border-color: #ffcdc7;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  background-color: white;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #857672;
  font-weight: 400;
  text-align: center;
}
.or-month-container:hover {
  color: #e83c23;
}

.or-calendar-filter-container {
  width: 80%;
  margin-bottom: 40px;
  float: left;
  border: 1px solid #ffcdc7;
  border-radius: 1px;
  background-color: #e83c23;
}

/* Rubrik rad */
.or-week-row.or-day-row {
  background-color: #e83c23;
  color: white;
}

/* Kalender rad */
.or-week-row {
  background-color: white;
}

/* Kalender kolumn*/
.or-calendar-columns {
  position: relative;
  width: 12.5%;
  min-height: 43px;
  padding-top: 11px;
  float: left;
  border-right: 1px solid rgba(133, 118, 114, 0.1);
  border-bottom: 1px solid rgba(133, 118, 114, 0.1);
  background-color: transparent;
  font-family: futura-pt, sans-serif;
  font-size: 15px;
  text-align: center;
}

/* Kalender veckonummer kolumn*/
.or-calendar-columns.or-week-column {
  border-right-color: rgba(255, 255, 255, 0.34);
  border-bottom-color: rgba(255, 255, 255, 0.34);
  background-color: #e83c23;
  color: white;
}

.or-week-text:hover {
  background-color: rgba(255, 255, 255, 0.78);
  color: #e83c23;
}

.or-week-text:hover a {
  color: red;
}

.or-week-text {
  display: inline-block;
  width: 29px;
  height: 29px;
  border-radius: 15px;
  background-color: transparent;
  font-size: 13px;
  font-weight: bold;
  color: white;
  padding-top: 3px;
  text-align: center;
  position: relative;
}

.or-week-text a {
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    position: absolute;
    left: 50%;
    width: 25px;
    margin-left: -12px;
    top: 56%;
    margin-top: -11px;
    letter-spacing: -0.03em;
}

/* Kalender dagnummer kolumn*/
.or-calendar-columns.or-day-columns {
 border-right-color: rgba(255, 255, 255, 0.34);
}

.or-calendar-text {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 26px;
  height: 26px;
  margin-top: -11px;
  margin-left: -13px;
  border-radius: 13px;
  background-color: white;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  line-height: 26px;
  letter-spacing: -0.06em;
}

/* Dagens datum */
.or-calendar-text-active,
.or-calendar-text-active-event {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 34px;
  height: 34px;
  margin-top: -17px;
  margin-left: -18px;
  padding-top: 2px;
  border: 2px solid #f0c3bb;
  border-radius: 20px;
  background-color: #e83c23;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: white;
  font-size: 14px;
  line-height: 27px;
  font-weight: 700;
}

.or-calendar-text-active-event:hover{
  background-color: #f28c00;
}

/* Dag med händelse */
.or-calendar-text-event {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 26px;
  height: 26px;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 13px;
  background-color: rgba(133, 118, 114, 0.65);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;

}

.or-calendar-text-event a,
.or-calendar-text-active-event a {
  color: white;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  margin-left: -2px;
}


.or-calendar-text-event:hover {
  background-color: #35383b;
  color: white;
}

.or-month-text, .or-month-text a {
  margin-right: 6px;
  margin-left: 6px;
  color: #857672;
}



.or-month-text,
.or-month-text a {
  display: inline-block;
  margin-right: 14px;
  margin-left: 8px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 400;
}

.or-month-container .or-month-arrow {
   font-size: 16px;
   color: #857672;   
}

.or-month-container .or-month-arrow:hover {
   color: #E83C23;   
}


/* Actions */
or-action-link
{
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	background-color:#FFF;
	border-color:rgba(133,118,114,0.4);
	border-radius:1px;
	border-style:solid;
	border-width:1px;
	margin-bottom:20px;
	margin-top:20px;
	position:relative;
	text-decoration:none;
	transition:all 500ms ease 0;
	width:100%;
}

.or-action-link:hover
{
	box-shadow:#aedeef 0 0 6px 0;
}

.or-action-link:hover .or-action-content a
{
	text-decoration:underline;
}

.or-action-content
{
	margin:0 35px 0 0;
}

.or-action-right-arrow
{
	height:100%;
	position:absolute;
	right:0;
	top:0;
	width:25px;
}

.or-action-right-arrow p
{
	font-size:1.33333em;
	line-height:.75em;
	vertical-align:-15%;
}

.or-action-content-old span.fa
{
	-khtml-opacity:0.9;
	-moz-opacity:0.9;
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	background-color:#E83C23;
	color:#FFF;
	display:inline-block;
	filter:alpha(opacity=90);
	font-size:22px;
	margin-right:20px;
	opacity:0.9;
	padding:15px;
	position:relative;
	text-align:center;
	width:48px;
}

.or-action-content span.fa
{
	background-color:#E83C23;
	color:#FFF;
	display:inline-block;
	font-size:22px;
	height:100%;
	line-height:48px;
	margin-right:20px;
	min-height:47px;
	position:absolute;
	text-align:center;
	vertical-align:middle;
	width:48px;
}


/* Relaterade länkar/dokument */
.or-teaser-box {
    margin-bottom: 40px;
    box-shadow: #dadada 0px 0px 3px 0px;
    float: left;
    margin-right: 2%;
}

.or-teaser-box.or-related-links {
    width: 48%;
    margin-top: 25px;
}


.or-teaser-box .or-title {
    background: #e83c23;
    padding: 2px 15px 8px;
}

.or-teaser-box.or-related-links .or-title {
    background: #857672;
}

.or-teaser-box .or-title span {
    color: #ffffff;
    font-family: 'LeagueSpartan-Bold';
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}


.or-teaser-box .or-title i {
    font-size: 30px;
    padding-right: 10px;
	color: #FFF;
}

.or-teaser-box.or-related-links .or-text-content {
    padding: 8px 15px;
}

.or-teaser-box .or-text-content {
    background: #ffffff;
    padding: 15px 20px;
    clear: both;
}


.or-teaser-box.or-related-links .or-text-content .or-teaser-list li {
    padding: 9px 0px 4px;
}

.or-teaser-box .or-text-content .or-teaser-list li {
    border-bottom: 2px dotted #dad6d4;
    padding: 10px 0px;
}


.or-teaser-box.or-related-links .or-text-content .teaser-list li a {
    position: relative;
}

.or-teaser-box .or-text-content .or-teaser-list li a {
    display: block;
}

.or-teaser-box .or-text-content .or-teaser-list li a i {
    color: #857672;
    font-size: 22px;
    text-align: center;
    line-height: 20px;
}


.or-teaser-box.or-related-links .or-text-content .or-teaser-list li a .or-link-name {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    margin-left: 20px;
    transition: all 100ms ease;
    background: linear-gradient(to bottom, #e3f4fb, #afddf3) bottom repeat-x;
    background-size: 25%;
    background-color: transparent;
}

.or-teaser-box.or-related-links .or-text-content .or-teaser-list li a .or-link-name:hover {
    box-shadow: rgba(174, 222, 239, 0.65) 0px -48px 0px -30px inset;
    color: #35383b;
}           