.or-oh-open,.or-oh-closed
{
	color:#fff;
	float:left;
	font-weight:700;
	margin:0 .62em 0 0;
	padding:.37em;
	text-align:center;
	text-transform:uppercase;
	width:4.5em;
}

.or-oh-open,.open a
{
	background-color:#539536!important;
}

.or-oh-closed,.closed a
{
	background-color:#f04937!important;
}

.or-oh-name
{
	float:left;
	font-weight:700;
	padding:.37em;
	width:50%;
}

.or-oh-extra
{	
	font-weight:normal;	
	font-size:12px;
}

.or-oh-time-info
{
	float:left;
	font-style:italic;
	padding:.37em;
}

.or-oh-chevron
{
	float:right;
	padding:.37em;
}

.or-oh-chevron.expanded
{
	color:#fff;
}

.or-oh-chevron
{
	color:#a3a3a3;
}

.or-oh-openhours
{
	border-collapse:separate;
	border-spacing:0;
	clear:both;
	width:97%;
}

.or-oh-openhours tr.odd
{
	background-color:#efefef;
	padding:.62em;
}

.or-oh-openhours td
{
	border:none;
	margin:0;
	padding:.65em;
}

.or-oh-openhours td.open,.or-oh-openhours td.closed
{
	font-weight:700;
	text-transform:uppercase;
}

.or-oh-openhours td.open,.or-oh-green
{
	color:#539536;
}

.or-oh-openhours td.closed,.or-oh-red
{
	color:#f04937;
}
/*
#or-avc-wrapper
{
	font-family:Arial;
	font-weight:100;
	margin:0 auto;
}
*/
a.or-oh-a:link,a.or-oh-a:visited
{
	color:#00e;
	font-family:Arial;
	font-weight:700;
	text-decoration:underline;
}

a.or-oh-a:hover,a.or-oh-a:active
{
	color:#c00;
	font-family:Arial;
	font-weight:700;
	text-decoration:underline;
}

.or-oh-wrapp
{
	background-position:top right;
	background-repeat:no-repeat;
	clear:both;
	margin-top:.3em;
	overflow:auto;
	padding:.3em;
}

.or-oh-header
{
	overflow:auto;	
    background-color:#fff;
    padding:10px;
    border:1px solid lightgray;
	margin-top: 15px;
}

.or-oh-header:hover
{
	border-color:#777;
	cursor:pointer;
}

.or-oh-content
{
	clear:both;
	display:none;
	overflow: auto;
    background-color: #fff;
    border: 1px solid lightgrey;
    margin-top: -1px;
}

.or-oh-column
{
	float:left;
	margin-top:30px;
	width:50%;
}

.or-oh-button
{	
	font-size:90%;
	margin-bottom:.62em;
	padding:.62em;
}

.or-oh-button i
{
	color:#aaa;
	margin-right:8px;
}

.or-oh-datePickerOutput
{
	background-color:#efefef;
	font-size:.85em;
	margin:1em 0;
	padding:.25em;
	width:17em;
}

.or-oh-chevron.expanded > .fa-plus:before {
	content: "\f068";
}

/* UI overides */
.ui-datepicker
{
	font-size:.85em;
}

.ui-datepicker th
{
	font-size:.7em;
}

.ui-state-active
{
	border:1px solid #1A1818!important;
}

.open a,.closed a
{
	background-image:none!important;
	color:#FFF!important;
}

