.or-open-hours-container {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
}

.or-oh-open, .or-oh-closed {
    color: #fff;
    font-weight: 700;
    margin: 5px 10px 0 0;
    padding: 4px 10px 2px;
    text-align: center;
    text-transform: uppercase;
    font-family: "leaguespartan webfont",sans-serif;
    font-size: 10px;
    border-radius: 2px;
    letter-spacing: 0.090em;
    display: inline-block;
    float: left;
}

.or-oh-open, .open a {
    background-color: #7d9c41;
}

.or-oh-open, .or-oh-closed {
    min-width: 50px;
}

.or-oh-closed,.closed a
{
	background-color:#cc553f;
}
.or-oh-name {
    font-weight: 700;
    padding: .37em;
    width: 50%;
    font-family: "leaguespartan webfont",sans-serif;
    font-size: 14px;
    margin-left: 8px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    display: inline-block;
    float: left;
    margin-top: 2px;
}
.or-oh-extra {
    font-weight: normal;
    font-size: 14px;
    font-weight: 300;
    font-family: "open sans",sans-serif;
    display: inline-block;
    margin-left: 9px;
}
.or-oh-time-info {
    padding: 0px 3px;
    font-weight: 300;
    font-size: 13px;
    display: inline-block;
    line-height: 1.3em;
    width: 85px;
    margin-top: 3px;
}

.or-oh-chevron
{
	float:right;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.or-oh-chevron.expanded
{
	color:#fff;
	background-color: #857672;
}

.or-oh-chevron.expanded .fa.fa-plus.fa-lg
{
	color: #fff;
}



.or-oh-chevron {
    color: #a3a3a3;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 48px;
    box-shadow: -3px -2px 9px -5px #B9B9B9;
    background-color: rgb(253, 253, 253);
}
.or-oh-chevron .fa.fa-plus.fa-lg {
    position: absolute;
    height: 15px;
    width: 14px;
    left: 50%;
    margin-left: -7px;
    top: 50%;
    margin-top: -7px;
    line-height: 1em;
    text-align: center;
    color: #35383b;
}
.or-oh-openhours
{
	border-collapse:separate;
	border-spacing:0;
	clear:both;
	width:97%;
}

.or-oh-openhours tr.odd
{
	background-color: #f3f2f0;
	padding:.62em;
}

.or-oh-openhours td {
    border: none;
    margin: 0;
    padding: 6px 17px;
    font-size: 13px;
}

.or-oh-openhours td:first-child {
    font-weight: 700;
    font-size: 11px;
    font-family: "leaguespartan webfont",sans-serif;
}
.or-oh-openhours td.open, .or-oh-openhours td.closed {
    font-weight: 700;
    text-transform: uppercase;
    font-family: "leaguespartan webfont",sans-serif;
    font-size: 10px;
    letter-spacing: 0.07em;
}

.or-oh-openhours td.open,.or-oh-green
{
	color:#539536;
}

.or-oh-openhours td.closed,.or-oh-red
{
	color:#f04937;
}
/*
#or-avc-wrapper
{
	font-family:Arial;
	font-weight:100;
	margin:0 auto;
}
*/
a.or-oh-a:link, a.or-oh-a:visited {
    color: #35383b;
    font-weight: 400;
    background-color: transparent;
    box-shadow: rgba(174, 222, 239, 0.65)0px -16px 0px -11px inset;
    transition: all 100ms ease;
    margin-top: 6px;
}

a.or-oh-a:hover,a.or-oh-a:active
{
        box-shadow: rgba(174, 222, 239, 0.65) 0px -47px 0px -23px inset;
}

.or-oh-wrapp
{
	background-position:top right;
	background-repeat:no-repeat;
	clear:both;
	margin-top:.3em;
	overflow:auto;
	padding:.3em;
}
.or-oh-header {
    background-color: #fff;
    padding: 5px 55px 5px 2px;
    border: 2px solid #F0EDED;
    margin-top: 15px;
    position: relative;
    width: 100%;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    box-sizing: border-box;
    float: left;
}

.or-oh-status{
	float: right;
    margin-right: 25px;
}

.or-oh-header:hover
{
	cursor:pointer;
}

.or-oh-header:hover .or-oh-name{
	color: #857672;
	text-decoration: underline;
}

.or-oh-header:hover .or-oh-chevron{
	color: #fff;
}

{
	cursor:pointer;
}

.or-oh-content {
    clear: both;
    display: none;
    overflow: auto;
    background-color: #fff;
    border: 1px solid #E6E6E6;
    margin-top: -1px;
    border-top: 0px;
}

.or-oh-column
{
	float:left;
	width:50%;
}

.or-oh-column:last-child {
    float: right;
    width: 40%;
    padding-right: 15px;
}

.or-oh-button {
    font-size: 90%;
    margin-bottom: .62em;
    padding: .62em;
    font-family: "leaguespartan webfont",sans-serif;
    margin-top: 15px;
}

.or-oh-button i
{
	color:#aaa;
	margin-right:8px;
}

.or-oh-datePickerOutput {
    background-color: #F9F9F9;
    border-top: 2px solid #ECECEC;
}

.or-oh-chevron.expanded > .fa-plus:before {
	content: "\f068";
}

/* UI overides */
.ui-datepicker
{
	font-size:.85em;
}

.ui-datepicker th {
    font-size: .9em;
    font-family: "leaguespartan webfont",sans-serif;
}

.ui-state-active
{
	border:1px solid #1A1818!important;
}

.open a,.closed a
{
	background-image:none!important;
	color:#35383b!important;
	font-size: 12px;
}

.ui-datepicker .ui-datepicker-header {
    background: #e83c23;
    color: #fff;
}

body .ui-datepicker {
    padding: 0;
}

body .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

body .ui-widget-header {
    border: 0px solid #aaaaaa;
}

body .ui-state-highlight, body .ui-widget-content .ui-state-highlight, body .ui-widget-header .ui-state-highlight {
    border: 2px solid #7D9C41!important;
    background: #FFFFFF!important;
    font-weight: 700!important;
    color: #7D9C41!important;
}

body .ui-state-default, body .ui-widget-content .ui-state-default, body .ui-widget-header .ui-state-default {
    border: 2px solid #d3d3d3;
    background: #F6F6F6;
    font-weight: normal;
    color: #555555;
    text-align: center;
    font-size: 12px;
    width: 21px;
    height: 21px;
    border-radius: 27px;
    line-height: 1.9em;
    margin: 0 auto 5px auto;
}

body .ui-widget-content {
    border: 0px solid #FFFFFF;
    background: #ffffff;
}

body .ui-datepicker .ui-datepicker-title {
    font-family: "leaguespartan webfont",sans-serif;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 3px;
}

body .ui-datepicker {
    width: 100%;
}

body .ui-datepicker .or-oh-open, .open a {
    background-color: #7d9c41!important;
    color:#fff!important;
    border: 1px solid #7d9c41!important;
}

body .ui-datepicker .or-oh-closed, .closed a {
    background-color: #e83c23!important;
    color:#fff!important;
    border: 1px solid #e83c23!important;
}

body .or-oh-datePickerOutput {
    width: 100%;
    text-align: center;
}

.or-oh-content {
    overflow: hidden;
}

body .or-oh-datePickerOutput {
    margin: 1em 0 0em 0;
    font-size: 0.8em;
    font-family: "leaguespartan webfont",sans-serif;
    letter-spacing: 0.04em;
    padding-top: 8px;
    padding-bottom: 8px;
}

.fa-volume-up:before {
    content: "\f028";
}

.ui-widget-header .ui-icon {
    background-image: url("images/ui-icons_222222_256x240.png");
    DISPLAY: none!important;
}

.ui-datepicker .ui-datepicker-next:before {
    content: "\f0a9";
    font-family: Fontawesome, sans-serif;
    color: #fff;
}

.ui-datepicker .ui-datepicker-prev:before {
    content: "\f0a8";
    font-family: Fontawesome, sans-serif;
    color: #fff;
}

body .ui-datepicker .ui-datepicker-prev, body .ui-datepicker .ui-datepicker-next {
    top: 8px!important;
    text-align: center;
}

body .ui-state-hover,
body .ui-widget-content .ui-state-hover,
body .ui-widget-header .ui-state-hover,
body .ui-state-focus,
body .ui-widget-content .ui-state-focus,
body .ui-widget-header .ui-state-focus {
	border: 1px solid transparent;
	background: none;
}

body .ui-datepicker-calendar .ui-state-hover{
	border: 1px solid rgba(242, 140, 0, 0.22);
    background: rgba(242, 140, 0, 0.1);
}


body .ui-state-active {
    border: 1px solid #857672!important;
    background: #857672!important;
    color: #fff!important;
}