.or-oh-open, .or-oh-closed {
    color: #fff;
    float: left;
    font-weight: 700;
    margin: 3px 10px 0 0;
    padding: 4px 10px 2px;
    text-align: center;
    text-transform: uppercase;
    font-family: "leaguespartan webfont",sans-serif;
    font-size: 11px;
    border-radius: 2px;
    letter-spacing: 0.05em;
}

.or-oh-open, .open a {
    background-color: #7d9c41;
}

.or-oh-closed,.closed a
{
	background-color:#cc553f;
}
.or-oh-name {
    float: left;
    font-weight: 700;
    padding: .37em;
    width: 50%;
    font-family: "leaguespartan webfont",sans-serif;
    font-size: 15px;
    margin-left: 8px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.or-oh-extra {
    font-weight: normal;
    font-size: 12px;
    font-weight: 300;
    font-family: "open sans",sans-serif;
    display: inline-block;
    margin-left: 9px;
}
.or-oh-time-info {
    float: left;
    padding: .37em;
    font-weight: 300;
    font-size: 13px;
}

.or-oh-chevron
{
	float:right;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.or-oh-chevron.expanded
{
	color:#fff;
	background-color: #35383b;
}

.or-oh-chevron.expanded .fa.fa-plus.fa-lg
{
	color:#fff;
}



.or-oh-chevron {
    color: #a3a3a3;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 48px;
    background-color: #857672;
    box-shadow: -3px -2px 9px -5px #B9B9B9;
}
.or-oh-chevron .fa.fa-plus.fa-lg {
    position: absolute;
    height: 15px;
    width: 14px;
    left: 50%;
    margin-left: -7px;
    top: 50%;
    margin-top: -7px;
    line-height: 1em;
    text-align: center;
    color: #fff;
}
.or-oh-openhours
{
	border-collapse:separate;
	border-spacing:0;
	clear:both;
	width:97%;
}

.or-oh-openhours tr.odd
{
	background-color: #f3f2f0;
	padding:.62em;
}

.or-oh-openhours td {
    border: none;
    margin: 0;
    padding: 6px 17px;
    font-size: 13px;
}

.or-oh-openhours td:first-child {
font-weight: 700;
font-size: 12px;
}

.or-oh-openhours td.open, .or-oh-openhours td.closed {
    font-weight: 700;
    text-transform: uppercase;
    font-family: "leaguespartan webfont",sans-serif;
    font-size: 10px;
    letter-spacing: 0.07em;
}

.or-oh-openhours td.open,.or-oh-green
{
	color:#539536;
}

.or-oh-openhours td.closed,.or-oh-red
{
	color:#f04937;
}
/*
#or-avc-wrapper
{
	font-family:Arial;
	font-weight:100;
	margin:0 auto;
}
*/
a.or-oh-a:link, a.or-oh-a:visited {
    color: #35383b;
    font-weight: 400;
    background-color: transparent;
    box-shadow: rgba(174, 222, 239, 0.65)0px -16px 0px -11px inset;
    transition: all 100ms ease;
    margin-top: 6px;
    display: inline-block;
}

a.or-oh-a:hover,a.or-oh-a:active
{
        box-shadow: rgba(174, 222, 239, 0.65) 0px -47px 0px -23px inset;
}

.or-oh-wrapp
{
	background-position:top right;
	background-repeat:no-repeat;
	clear:both;
	margin-top:.3em;
	overflow:auto;
	padding:.3em;
}
.or-oh-header {
    background-color: #fff;
    padding: 7px 0px;
    border: 1px solid #E6E6E6;
    margin-top: 15px;
    position: relative;
    float: left;
    width: 100%;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;

}
.or-oh-header:hover
{
	cursor:pointer;
	border: 1px solid rgba(232, 60, 35, 0.18);
}

.or-oh-header:hover .or-oh-name{
	color: #857672;
	text-decoration: underline;
}

.or-oh-header:hover .or-oh-chevron{
	background-color: #35383B;
}

{
	cursor:pointer;
}

.or-oh-content {
    clear: both;
    display: none;
    overflow: auto;
    background-color: #fff;
    border: 1px solid #E6E6E6;
    margin-top: -1px;
    border-top: 0px;
}

.or-oh-column
{
	float:left;
	width:50%;
}

.or-oh-button {
    font-size: 90%;
    margin-bottom: .62em;
    padding: .62em;
    font-family: "leaguespartan webfont",sans-serif;
    margin-top: 15px;
}

.or-oh-button i
{
	color:#aaa;
	margin-right:8px;
}

.or-oh-datePickerOutput
{
	background-color:#efefef;
	font-size:.85em;
	margin:1em 0;
	padding:.25em;
	width:17em;
}

.or-oh-chevron.expanded > .fa-plus:before {
	content: "\f068";
}

/* UI overides */
.ui-datepicker
{
	font-size:.85em;
}

.ui-datepicker th
{
	font-size:.7em;
}

.ui-state-active
{
	border:1px solid #1A1818!important;
}

.open a,.closed a
{
	background-image:none!important;
	color:#FFF!important;
}

