/* classer för personsökens olika resultatfält */
.department
{
	display:block;
}

.tel
{
	display:block;
}

.cell
{
	display:block;
}

.email
{
	display:block;
}

.adr
{
	display:block;	
}

.postAddress
{
	display:block;
}

.fax
{
	display:block;
}

.orgLevels
{
	display: inline-block;
	margin-top:.75em;
}

.orgLevels .brodsmulor
{
	font-size: 12px;	
}

.or-personsok-resultat
{
	/*float:left;
	width:38em;*/
}

.sv-siteseeker-search-portlet form.or-search-field{
	    padding: 0 20px;
}

form.or-search-field {
    width: 100%;
    display: inline-block;
    position: relative;
    margin-top: 15px;
}

.or-personsok-resultat ul
{
	list-style:none;
	margin:0;	
	padding:0;
	font-size: 12px;	
}

.or-personsok-resultat ul li {
    margin-left: 0;
    padding: 10px 20px 25px;
    border-top: dotted 1px #f3dcd0;
}

.vcard
{
	margin-bottom:1em;
}

.merinfo
{
	color:#036;
	cursor:pointer;
	margin-top:0!important;
	text-decoration:underline;
}

.vcardlink
{	
	position:relative;
}

.ess-result.or-personsok-resultat .brodtext.antaltraffar {
    font-size: 12px;
    font-family: "open sans",sans-serif;
    font-weight: 400;
    color: #35383b;
}

.ess-result.or-personsok-resultat .brodtext.antaltraffar strong{
    font-weight: 700;
    color: #35383b;
}

.ess-result h2{
    font-size: 13px;
    color: #e83c23;
}

.or-personsok-person, .or-personsok-address {
    float: left;
    width: 45%;
    font-size: 12px;
}

.or-personsok-person .wortTitle{
	font-weight: 700;
}

.or-personsok-person .normal a:link{
	font-size: 14px;
	box-shadow: rgba(174, 222, 239, 0.65)0px -15px 0px -11px inset;
	margin-right: 25px;
}

.email .normal a:link{
	font-size: 14px;
	box-shadow: rgba(174, 222, 239, 0.65)0px -15px 0px -11px inset;
	margin-right: 25px;
}

.or-personsok-person a{
	font-size: 14px;
	box-shadow: rgba(174, 222, 239, 0.65)0px -15px 0px -11px inset;
	margin-right: 25px;
}

.email a{
	font-size: 14px;
	box-shadow: rgba(174, 222, 239, 0.65)0px -15px 0px -11px inset;
	margin-right: 25px;
}

.sv-siteseeker-search-portlet {
	background-color:#fff;	
	border: solid 1px #f3dcd0;
	border-top: solid 5px #E83C23;
	margin-bottom: 25px;
}

.sv-siteseeker-search-portlet label{
	display: block;
	font-family: "leaguespartan webfont",sans-serif;
	font-size: 11px;
	margin-bottom: 10px;
}

.or-personsok-resultat ul li:nth-child(even) {
    background-color: #F6F4F2;
}

.or-personsok-resultat ul li:nth-child(even) .orgLevels{
    background-color: #fff;
}

.orgLevels {
    background-color: #fff;
    border: solid 1px #f3dcd0;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: rgba(246, 244, 242, 0.7);
}

/* Autocomplete anpassning */
ul.ui-autocomplete li.ui-menu-item:nth-child(odd) {
    background-color: #f9f9f9;
}

ul.ui-autocomplete li.ui-menu-item span {
    float:right;
}
