/* classer för personsökens olika resultatfält */
.department
{
	display:block;
}

.tel
{
	display:block;
}

.cell
{
	display:block;
}

.email
{
	display:block;
}

.adr
{
	display:block;	
}

.postAddress
{
	display:block;
}

.fax
{
	display:block;
}

.orgLevels
{
	display: inline-block;
	margin-top: 25px;
}

.orgLevels .brodsmulor
{
	font-size: 12px;	
}

.orgLevels a {
    box-shadow: rgba(174, 222, 239, 0.65)0px -15px 0px -12px inset;
    margin-right: 5px;
    margin-left: 5px;
    transition: all 100ms ease;
}

.orgLevels a strong{
	font-weight: 400;
}

.orgLevels a:hover {
    box-shadow: rgba(174, 222, 239, 0.65)0px -27px 0px -12px inset;
}


.orgLevels span {
	font-family: "leaguespartan webfont",sans-serif;
	color: #35383b;
	font-size: 11px!important;
}

.or-personsok-resultat
{
	/*float:left;
	width:38em;*/
}

.ess-result.or-personsok-resultat .portlet-section-header{
	margin-top: 0px;
}

.sv-siteseeker-search-portlet form.or-search-field{
	    padding: 0 20px;
}

.sv-siteseeker-search-portlet form.or-search-field input {
    width: 58%;
}
.sv-siteseeker-search-portlet form.or-search-field button{
    top: -4px;
    width: 50px;
    height: 50px;
}

.sv-siteseeker-search-portlet form.or-search-field .or-search-button-wrapper {
    bottom: 11px;
    left: 11px;
}

.sv-siteseeker-search-portlet form.or-search-field .or-search-button-wrapper .fa-search{
   font-size: 30px;
}

form.or-search-field {
    width: 100%;
    display: inline-block;
    position: relative;
    margin-top: 15px;
}

.or-personsok-resultat ul
{
	list-style:none;
	margin:0;	
	padding:0;
	font-size: 12px;	
}

.or-personsok-resultat ul li {
    margin-left: 0;
    padding: 10px 20px 25px;
    border-top: dotted 1px #f3dcd0;
    text-indent: 0px;
    margin-bottom: 0px;

}

.or-personsok-resultat ul li:before {
    content: "";
    padding-right: 0px;
    font-size: 0px;
}

.vcard
{
	margin-bottom:1em;
}

.merinfo
{
	color:#036;
	cursor:pointer;
	margin-top:0!important;
	text-decoration:underline;
}

.vcardlink
{	
	position:relative;
}

.ess-result.or-personsok-resultat .brodtext.antaltraffar{
    font-size: 12px;
    font-family: "open sans",sans-serif;
    font-weight: 400;
    color: #35383b;
    margin-left: 20px;
}

.ess-result.or-personsok-resultat .brodtext.antaltraffar strong{
    font-weight: 700;
    color: #35383b;
    font-size: 12px;
}

.ess-result h2{
    font-size: 14px;
    color: #e83c23;   
}

.ess-result h1, .ess-result h2, .ess-result h3 {
    margin-bottom: 3px;
}

.or-personsok-person, .or-personsok-address {
    float: left;
    width: 45%;
    font-size: 13px;
    line-height: 1.6em;
}

.or-personsok-person .wortTitle{
	font-weight: 700;
}

.or-personsok-person .normal a:link{
	font-size: 14px;
	box-shadow: rgba(174, 222, 239, 0.65)0px -15px 0px -11px inset;
	margin-right: 25px;
}

.email .normal a:link{
	font-size: 14px;
	box-shadow: rgba(174, 222, 239, 0.65)0px -15px 0px -11px inset;
	margin-right: 25px;
}

.or-personsok-person a{
	font-size: 13px;
	box-shadow: rgba(174, 222, 239, 0.65)0px -15px 0px -11px inset;
	margin-right: 25px;
	transition: all 100ms ease;
}

.or-personsok-person a:hover{
	box-shadow: rgba(174, 222, 239, 0.65)0px -30px 0px -11px inset;
}

.email a{
	font-size: 13px;
	box-shadow: rgba(174, 222, 239, 0.65)0px -15px 0px -11px inset;
	margin-right: 25px;
	transition: all 100ms ease;
}

.email a:hover{
	box-shadow: rgba(174, 222, 239, 0.65)0px -30px 0px -11px inset;
}

.sv-siteseeker-search-portlet {
	background-color:#fff;	
	border: solid 1px #f3dcd0;
	border-top: solid 5px #E83C23;
	margin-bottom: 25px;
}

.sv-siteseeker-search-portlet label{
	display: block;
	font-family: "leaguespartan webfont",sans-serif;
	font-size: 12px;
	margin-bottom: 10px;
}

.or-personsok-resultat ul li:nth-child(even) {
    background-color: rgba(246, 244, 242, 0.5);
}

.or-personsok-resultat ul li:nth-child(even) .orgLevels{
    background-color: #fff;
}

.orgLevels {
    background-color: #fff;
    border: solid 1px #f3dcd0;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: rgba(246, 244, 242, 0.5);
    color: #C7C7C7;
    line-height: 1em;
}

/* Autocomplete anpassning */
ul.ui-autocomplete li.ui-menu-item:nth-child(odd) {
    background-color: #f9f9f9;
}

ul.ui-autocomplete li.ui-menu-item span {
    float:right;
}
.or-personsok-resultat .ess-spelling, .ess-no-query, .ess-no-hits {
    border: 1px solid #bdbdbd;
    background-color: #fefdee;
    margin: 1em 0;
    padding: 0.5em 1em;
    width: 90%;
    margin: 20px auto 25px auto;
    border: 2px solid rgba(242, 140, 0, 0.19);
    border-radius: 4px;
}

.or-personsok-resultat .ess-spelling h2{
	color:#35383b
}
