/**************** PRINT CSS ****************/

/* KLASS FÖR ATT DÖLJA BORT VISSA ELEMENT */
.or-hide-on-print {
   display: none;  
}

/* SERVICETJÄNSTER TABELL
.sv-text-portlet table tbody {
  border-bottom: solid 1px !important;
}

.sv-text-portlet table td{
  vertical-align: top !important;
}

table.sv-standard tr td p, 
table.sv-standard tr td{
  font-size: 16px !important;
}*/


/* KOMPONENTER SOM INTE SKA MED VID UTSKRIFT */
img.or-arrow-down-collapse {
  display: none;
}

.or-file-icon-simple-list{
  display: none;
} 

.ctaiconright{
  display: none;
}

.sol-sok-ruta{
  display: none;
} 

.table.stacktable.small-only{
  display: none;
}

.or-action-link.or-colorborder {
  display: none; 
}
.stacktable.small-only{
  display: none;
}
.ctaiconright {
  display: none;
}

.or-puff-text-bild-lanklista{
  display: none;
}
.or-puff-text-icon-lanklista{
  display: none;
}

/*TOPPAR*/
.or-stor-bild-text
{
   display: inline-block;
   background-color: #e5eef0;
   margin: 20px 0px;
   width: 100%;
}

.or-stor-bild-text > div:nth-child(1) 
{
   max-width: 50%;
   height: auto;
   float: left;
}

.or-stor-bild-text > div:nth-child(2) 
{
   float: right;
   width: 45%;
   padding-right: 10px;
}

.or-puff-bild-trans-text{
  display: none;
}
.or-stor-text-actions{
  display: none;
}

.or-stor-bild-text-tv{
  display: none;
}

.kontakta-ruta{
  display: none;
}
.or-search{
  display: none;
}

.sol_steps
{
   display: none !important;
}

.or-mobile-menu-bar {
  display: none;
}
#menu{
  display: none;
}
#mobile-menu{
  display: none;
}
#Menyrad{
  display: none;
}
.or-cardicon.or-contacticon {
  display: none;
}
.or-contact-bar-text-container {
  display: none;
}
.or-ctaiconright {
  display: none;
}
.or-ctaicon {
  display: none;
}
.or-calender-list-calender {
  display: none;
}
.or-news-list-container 
{
  background-color: white;
  margin-top: 7px;
  display: inline-block;
  padding: 0px 0px 5px 10px;
  margin-left: 20px;
  box-sizing: border-box;
  width: 96%;
}

.or-news-list-container > a
{
   border-bottom: none !important;
   text-decoration: none !important;
}

.or-news-list-info-container
{
  width: 100%;
  float: left;
  padding: 5px;
}

.or-calender-list-info a 
{
  border: none !important;
  text-decoration: none !important;
}

.or-forms {
  display: none;
}

/* FIX */
th {
  padding-right: 10%;
}
tbody {
  background-color: white;
}

.or-grid-12-col.sv-fluid-grid .sv-push-2 {
  left: 0%;
}
.or-facts-column-one {
  padding-left: 0px;
  width: 100%;
}
.or-facts-column-two {
  margin-left: 0px;
  position: relative;
}

/******* PROCESSKARTA *******/
.sol_process_flow_container
{
      position: relative !important;
}
   
.sol_process_flow_container > div
{
      position: relative !important;
      display: block !important;
}
   
.sol_process_flow_container > div p
{
      padding-top: 10px;
} 

/* TA BORT HEADER */
header {
  display: none;
}
/* TA BORT HEADER */
footer{
  display: none;
}

/***** ZY *******/
/* TA BORT HÖGERMENY */
.or-left-nav-menu,
.or-left-nav-menu-heading
{
  display: none;
}

/* ALLA LÄNKAR UNDERSTRUKNA */
 a,
.kontaktaxossxxxbrodtext a:link,
.normal a:link, .or-contentlinks a, a.normal:link
.normal a,
.a:link
{
  text-decoration: none !important;
  border-bottom: 1px solid #000 !important;
  box-shadow: none !important;
}

/* BLOGGARKIV */
.or-blog-info-content > div > div:last-child,
.or-blog-info-content .or-blog-info-img
{
  display: none;
}

.or-blog-info-content
{
  margin-top: 10px;
}

.or-blog-info-content > div div
{
  width: auto !important;
  margin-left: 0px;
  margin-right: 1px;
  float: left;
}

/* KALENDERSIDA */
.or-month-container 
{
  position: relative;
  width: 50%;
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-style: solid;
  border-width: 2px 2px 0px;
  border-color: #ffcdc7;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  background-color: white;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #817370;
  font-weight: 400;
  text-align: center;
  border-color: rgba(174, 222, 239, 0.50);
}

.or-month-container > .or-month-text
{
  display: inline-block !important;
  margin: 0px 10px;
}

.or-month-text > a,
.or-month-container > a
{
  border-bottom: none !important; 
}
.or-week-text > a
{
  font-weight: bold;
  text-decoration: none !important;
  border-bottom: none !important;
  color: #FFF;
}

.or-calendar-columns
{
  width: 12.5%;
  min-height: 43px;
  padding-top: 11px;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  background-color: #FFF; 
  border-right: 2px solid rgba(133, 118, 114, 0.1);
  border-bottom: 2px solid rgba(28, 11, 6, 0.1);
}

.or-calendar-columns.or-week-column,
.or-calendar-columns.or-day-columns
{
   background-color: #0098db;
   color: #FFF;
   display: inline-block;
   text-align: center;
}

.or-calendar-filter-container 
{
  border-color: rgba(174, 222, 239, 0.50) !important;
  width: 95%;
  margin-bottom: 40px;
  margin-left: 20px;
  float: left;
  border: 1px solid #ffcdc7;
  border-top: 2px solid #ffcdc7;
  border-left: 2px solid #ffcdc7;
  border-radius: 1px;
}

.or-calendar-text 
{
   text-align: center;
}

.or-calendar-text-active 
{
  width: 30px;
  height: 30px;
  margin-top: -5px;
  margin-left: 15px;
  padding-top: 0px;
  border: 2px solid rgba(174, 222, 239, 0.50);
  border-radius: 20px;
  background-color: #0098db;
  color: white;
  font-size: 14px;
  line-height: 27px;
  font-weight: 700;
  box-sizing: border-box;
  padding-left: 8px;
}

/* KONTAKT OCH TYCK TILL */
.or-comment-heading-container,
.kontakt-och-tyck-till
{
  display: none;
}

/*FAKTA RUBRIK SVART*/
.or-h1-facts-block
{
   color: #000;
}

/* BILDSPEL SPELA FÖRSTABILDEN */
/*
li.bx-clone,
ul.bxslider li:nth-child(2)
{
   display: block !important;
}

ul.bxslider li:nth-child(1n+3)
*/
ul.bxslider li
{
   display: none;
}
.bx-clone{
   display: block !important;   
}
/*
ul.bxslider
{
  width: 815%;
  position: relative;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0px, 0px) !important;
}
*/

/* BILDSPEL CONTROLPILAR */
.bx-controls.bx-has-pager.bx-has-controls-direction
{
   display: none;
}

.or-docs-box-heading
{
  display: none;
}

/* LÄNKBOX SKRIVS INTE UT */
.or-links-box-content,
.or-links-box-heading
{
  display: none;
}

/*DOKUMENTBOX SKRIVS INTE UT*/
.or-docs-box-content,
.or-docs-box-heading
{
  display: none;
}
/**************/
/*Processsteg*/
.subheading {
  display: block !important;
}


