#if ( $pageLinks.hasPrevious || $pageLinks.hasNext ) 
  <div class="ess-pagenav portlet-font">
  
   #if ( $pageLinks.hasPrevious )
    <a href="$pageLinks.previousUrl" rel="nofollow" class="arrow">«</a>
   #end
  
    #foreach ($pageLink in $pageLinks.links)
      #if ( $pageLink.isHidden )
      ...
      #else 
        #if  ($pageLink.isSelected )
          <span class="current">$pageLink.pageNumber</span>
        #else
          <a class="link" href="$pageLink.clickUrl" rel="nofollow">
            $pageLink.pageNumber</a>
        #end
      #end
    #end
  
   #if ( $pageLinks.hasNext )
    <a href="$pageLinks.nextUrl" rel="nofollow" class="arrow">»</a>
   #end
  
  </div>
#end