<!--eri-no-index-->
#* include JavaScript *#
<script type="text/javascript" src="/siteseeker-search/siteseeker.js"></script>
<script type="text/javascript">ess_activateClickTracking('$sessionId', '$portletId', '$uiLanguage');</script>


#set ($nhits = 0)
#foreach ($categoryGroup in $categoryGroups)
	#foreach ($category in $categoryGroup.Categories)
		#if ($category.name == "Personsök")
			#set ($nhits = $category.NHits)
		#end
	#end
#end

#set ($forst = 0)
#set ($sist = 0)

#foreach ($pageLink in $pageLinks.links)
  #if ($forst == 0) 
	#set ($forst = 1) 
  #end
  #if (!$pageLink.isHidden && $pageLink.isSelected )
	  #set ($forst = (($pageLink.pageNumber) * 10) - 9)
  #end
#end

#foreach( $hit in $hits )
  #set ($sist = $hit.number)
#end

#set ($anpassad_message = "")
#if (($sist != 0) && ($forst != 0) && ($nhits > 0))
	
	#if ($query.indexOf("meta:") != -1)		
		#set ($pos = $query.lastIndexOf(":") + 1)
		#set ($query =  $query.substring($pos))
	#end

	#set ($anpassad_message = "Sökresultat: <strong>")
	#set ($enhet ="träff")
	#if ($nhits > 1)	
		#set ($enhet = "träffar")
		#if (($nhits > 10) && ($sist <= $nhits))
			#set ($anpassad_message = $anpassad_message + $forst + "</strong> till <strong>" + $sist + "</strong> av totalt <strong>")
		#end		
	#end
	#set ($anpassad_message = $anpassad_message +  $nhits + "</strong> " + $enhet + " på <strong>" + $query + "</strong>")	
#else
   #set ($anpassad_message = "<strong>Inga träffar</strong> Tips! Om du valt att förkorta sökord med färre än tre tecken kan du avsluta dessa med * Exempelvis: Anders Sv*")
#end


#parse("form")

<div class="ess-result or-personsok-resultat">

#if ($message != "")
	<p class="portlet-section-header"><span class='brodtext antaltraffar'>$anpassad_message</span></p>
#end

#set ( $tabindex = 2 )
 
##parse("best-bets")

#parse("hits")

#parse("page-numbers")

</div>

<!--/eri-no-index-->