##
## Utility API
#set ($endecUtil = $sitevisionUtils.endecUtil)
#set ($propertyUtil = $sitevisionUtils.propertyUtil)
#set ($contextUtil = $sitevisionUtils.portletContextUtil)

## Specific properties
#set ($currentPage = $contextUtil.getCurrentPage())
#set ($readspeakerClass = $propertyUtil.getString($currentPage, 'readspeaker_class'))
#set ($currentPageURI = $propertyUtil.getString($currentPage,'URI'))

##
## Portlet properties
#set ($useLinkImage = $propertyUtil.getBoolean($portlet, 'useLinkImage'))
#set ($linkImageURL = $propertyUtil.getString($portlet,'linkImageURL'))
#set ($useLinkText = $propertyUtil.getBoolean($portlet, 'useLinkText'))
#set ($linkText = $propertyUtil.getString($portlet, 'linkText'))
#set ($linkTextFont = $propertyUtil.getNestedString($portlet, 'linkTextFont', 'selectorText'))
#set ($linkURL = "//app.readspeaker.com/cgi-bin/rsent?customerid=4332&lang=sv_se&readclass=$readspeakerClass&url=http%3A//www.orebro.se$currentPageURI&voice=elin22k")
#set ($jsURL = $propertyUtil.getString($portlet, 'jsURL'))
#set ($playerDivId = $propertyUtil.getString($portlet, 'playerDivId'))
#set ($isOnline = $propertyUtil.getBoolean($portlet, 'isOnline'))
#set ($useClassicLook = $propertyUtil.getBoolean($portlet, 'useClassicLook'))



##
## Link tooltip
#if ($propertyUtil.getBoolean($portlet,'useLinkTooltip'))
   #set ($linkToolTip = $propertyUtil.getString($portlet,'linkToolTip'))
#else
   #set ($linkTooltip = "")
#end


##
## Classic look before ReadSpeaker 2013 upgrade
#if ($useClassicLook)
   ##
   ## Link and JavaScript
   #if ($isOnline)
      <script type="text/JavaScript" src="$jsURL"></script>
      <a accesskey="L" class="$linkTextFont rs_skip" href="$linkURL" onclick="readpage(this.href,'$playerDivId'); return false;" onkeypress="readpage(this.href,'$playerDivId'); return false;">
   #else
      <a accesskey="L" class="$linkTextFont rs_skip" href="$linkURL" onclick="return false;" onkeypress="readpage(this.href,'$playerDivId'); return false;">
   #end

   ##
   ## Icon
   #if ($useLinkImage && $useLinkText)
      <img class="sv-noborder sv-vamiddle" src="$linkImageURL" alt="$linkToolTip" title="$linkToolTip" />&nbsp;$endecUtil.escapeXML($linkText)
   #elseif ($useLinkImage)
      <img class="sv-noborder" src="$linkImageURL" alt="$linkToolTip" title="$linkToolTip" />
   #else
      $endecUtil.escapeXML($linkText)
   #end
   </a>

   ##
   ## The player will show up in this DIV, it can be moved, but not inside the read area.
   <div id='$playerDivId' class="rs_skip rs_preserve"></div>
#else
   ##
   ## Only render JavaScript in online
   ##if ($isOnline)
      <script type="text/JavaScript" src="$jsURL"></script>
   ##end 
   <div id="readspeaker_button1" class="rs_skip rsbtn rs_preserve" style="float:right">       
      <a id="readspeaker_link1" accesskey="L" class="rsbtn_play" title="$linkToolTip" href="$linkURL" #if ($isOnline)onclick="return false;">#end </a>        
   </div>

#end