<div class="or-oh-start-page">
#if ($business)
   #if ($business.open) 
    <p class="or-phone-info normal"><strong>Ring oss på:</strong> <i class="fa fa-mobile"></i> <span class="or-phone-number">019-21 10 00</span></p>
		<p class="or-phone-hours normal"><strong>Telefontid:</strong></p> <span class="or-oh-status"><span class="or-oh-open">Öppet</span><span class="or-oh-time-info">$business.nextHourInfo</span></span>
   #else
   	<p class="or-phone-hours normal"><strong>Telefontid:</strong></p><span class="or-oh-status"><span class="or-oh-closed">Stängt</span><span class="or-oh-time-info">$business.nextHourInfo</span></span>     
    <p class="or-email-info normal"><strong>Mejla oss på:</strong> <i class="fa fa-envelope-o"></i> <span><a href="mailto:servicenter@orebro.se">servicenter@orebro.se</a></span></p>
   #end
#else
	<p class="or-email-info normal"><strong>Mejla oss på:</strong> <i class="fa fa-envelope-o"></i> <span><a href="mailto:servicenter@orebro.se">servicenter@orebro.se</a></span></p>   
#end
</div>   