/* Liten kalender info ruta */
.or-calender-date {
  position: relative;
  bottom: auto;
  z-index: 12;
  width: 47px;
  margin-top: 20px;
  margin-right: 9px;
  margin-left: 15px;
  float: left;
  border: 2px solid #f0eded;
  border-radius: 3px 3px 2px 2px;
  background-color: white;
  box-shadow: none;
}
.or-calender-date.or-calender-date-small {
  width: 53px;
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 0;
  float: none;
  box-shadow: none;
  text-align: center;
}

.or-date-month-name {
  position: relative;
  width: 100%;
  height: 22px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #e83c23;
  font-family: futura-pt, sans-serif;
  color: white;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.02em;
}
.or-date-day {
  position: relative;
  display: block;
  width: 90%;
  margin: 1px auto;
  float: none;
  font-family: futura-pt, sans-serif;
  font-size: 17px;
  line-height: 19px;
  font-weight: 700;
  text-align: center;
}

.or-date-day-name {
  position: relative;
  display: inline-block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3px;
  float: none;
  border-top: 1px dotted rgba(133, 118, 114, 0.2);
  font-size: 11px;
  line-height: 11px;
  text-align: center;
}

.or-expired.or-show{
	display:block;
}

.or-expired {
	display:none;
}

/* Kalender faktaruta */

.or-facts-row-calender {
 padding-top: 6px;
 padding-bottom: 10px;
 border-bottom: 1px solid #ecebe6;
}

.or-facts-column-one {
 width: 25%; 
 text-align: left;
}

.or-facts-column-two {
 width: 75%;
 line-height: 20px;
}

.or-facts-column-two p.normal,
.or-facts-column-one p.normal {
  margin: auto;
}

.or-facts-column-two p.normal {
  font-size: 13px;
  line-height: 18px;
}

.or-facts-column-two p.normal a{
  font-size: 13px;
}

.or-facts-column-one strong {
  font-size: 14px;
}

/* Kalender listning */

.or-calender-list-calender {
   float:left;
}

.or-calender-list-info {
  width: 80%;
  float: left;
}

.or-calender-list-type{
  margin-top: 5px;
  padding-top: 7px;
  border-top: 2px dotted rgba(133, 118, 114, 0.2);
}

.or-calender-list-type-text{
  width: 100%;
  margin-bottom: 3px;
  font-size: 13px;
}

.or-news-list-container:hover .or-calender-list-info{
  text-decoration: underline;
}


/* Kalender */

.or-month-container {
  position: relative;
  width: 50%;
  margin-top: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-style: solid;
  border-width: 2px 2px 0;
  border-color: #ffcdc7;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  background-color: white;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #857672;
  font-weight: 400;
  text-align: center;
}
.or-month-container:hover {
  color: #e83c23;
}

.or-calendar-filter-container {
  width: 80%;
  margin-bottom: 40px;
  float: left;
  border: 1px solid #ffcdc7;
  border-radius: 1px;
  background-color: #e83c23;
}

/* Rubrik rad */
.or-week-row.or-day-row {
  background-color: #e83c23;
  color: white;
}

/* Kalender rad */
.or-week-row {
  background-color: white;
}

/* Kalender kolumn*/
.or-calendar-columns {
  position: relative;
  width: 12.5%;
  min-height: 43px;
  padding-top: 11px;
  float: left;
  border-right: 1px solid rgba(133, 118, 114, 0.1);
  border-bottom: 1px solid rgba(133, 118, 114, 0.1);
  background-color: transparent;
  font-family: futura-pt, sans-serif;
  font-size: 15px;
  text-align: center;
}

/* Kalender veckonummer kolumn*/
.or-calendar-columns.or-week-column {
  border-right-color: rgba(255, 255, 255, 0.34);
  border-bottom-color: rgba(255, 255, 255, 0.34);
  background-color: #e83c23;
  color: white;
}

.or-week-text:hover {
  background-color: rgba(255, 255, 255, 0.78);
  color: #e83c23;
}

.or-week-text:hover a {
  color: red;
}

.or-week-text {
  display: inline-block;
  width: 29px;
  height: 29px;
  border-radius: 15px;
  background-color: transparent;
  font-size: 13px;
  font-weight: bold;
  color: white;
  padding-top: 3px;
  text-align: center;
  position: relative;
}

.or-week-text a {
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    position: absolute;
    left: 50%;
    width: 25px;
    margin-left: -12px;
    top: 56%;
    margin-top: -11px;
    letter-spacing: -0.03em;
}

/* Kalender dagnummer kolumn*/
.or-calendar-columns.or-day-columns {
 border-right-color: rgba(255, 255, 255, 0.34);
}

.or-calendar-text {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 26px;
  height: 26px;
  margin-top: -11px;
  margin-left: -13px;
  border-radius: 13px;
  background-color: white;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  line-height: 26px;
  letter-spacing: -0.06em;
}

/* Dagens datum */
.or-calendar-text-active,
.or-calendar-text-active-event {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 34px;
  height: 34px;
  margin-top: -17px;
  margin-left: -18px;
  padding-top: 2px;
  border: 2px solid #f0c3bb;
  border-radius: 20px;
  background-color: #e83c23;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: white;
  font-size: 14px;
  line-height: 27px;
  font-weight: 700;
}

.or-calendar-text-active-event:hover{
  background-color: #f28c00;
}

/* Dag med händelse */
.or-calendar-text-event {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 26px;
  height: 26px;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 13px;
  background-color: rgba(133, 118, 114, 0.65);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;

}

.or-calendar-text-event a,
.or-calendar-text-active-event a {
  color: white;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  margin-left: -2px;
}


.or-calendar-text-event:hover {
  background-color: #35383b;
  color: white;
}

.or-month-text, .or-month-text a {
  margin-right: 6px;
  margin-left: 6px;
  color: #857672;
}



.or-month-text,
.or-month-text a {
  display: inline-block;
  margin-right: 14px;
  margin-left: 8px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 400;
}

.or-month-container .or-month-arrow {
   font-size: 16px;
   color: #857672;   
}

.or-month-container .or-month-arrow:hover {
   color: #E83C23;   
}

/* Ny action */
.or-ny-action span.fa {
 background-color: #E83C23;
 color: white;
 position: absolute;
 display: inline-block;
 font-size: 22px;
 margin-right: 20px;
 width: 48px;
 min-height: 44px;
 line-height: 48px;
 text-align: center;
 vertical-align: middle;
 height: 100%;
 z-index: 999;
 top: 0;
 left: 0;
}

.or-ny-action span.fa::after {
    left: 100%;
    top: 53%;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0) rgba(136, 183, 213, 0) rgba(136, 183, 213, 0) #E83C23;
    border-width: 12px;
    margin-top: -13px;
}

.or-ny-action .or-action-text {
 font-family: "leaguespartan webfont",sans-serif;
 font-weight: normal;
 font-style: normal;
 font-size: 12px;
 color: #35383b;
 line-height: 16px;
 display: inline-block;
 padding-left: 70px;
 padding-bottom: 14px;
 padding-top: 14px;
 font-weight: 800;
 letter-spacing: 0.02em;
 float: none;
 padding-right: 40px;
}

.or-action-text a:visited{
color:#35383b
}

.or-ny-action .normal .or-action-text a:link {
    font-family: "leaguespartan webfont",sans-serif;
    font-style: normal;
    color: #35383B;
    text-decoration: none;
    line-height: 20px;
    font-size: 12px;
    font-weight: 800;
    box-shadow: none;
}

.or-ny-action .sv-use-margins .normal {
    margin-bottom: 0;
}

.or-ny-action{
position: relative;
background:#fff;
margin-bottom: 10px;
}

.or-ny-action:hover{
    box-shadow: 0 0 6px 0 #E7E7E7;
}

.or-new-action-text {
    border: 1px solid rgba(133, 118, 114, 0.25);
}

.or-ny-action:hover .or-action-text a:link{
text-decoration:underline;
}

/* Relaterade länkar/dokument */
.or-teaser-box {
    margin-bottom: 40px;
    box-shadow: #dadada 0 0 3px 0;
    float: left;
    margin-right: 2%;
    width: 48%;
    margin-top: 30px;
}

.or-teaser-box.or-related-links h3{
    margin-top: 0;
    margin-bottom: 0;
}

body .or-wrapper-click.or-teaser-box.or-related-links h3{
    margin-top: 0;
    margin-bottom: 0;
}


.or-teaser-box .or-title {
    background: #857672;
    padding: 6px 15px 7px;
    min-height: 26px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.or-teaser-box.or-related-links .or-title {
    background: #857672;
}

.or-teaser-box .or-title span {
    color: #ffffff;
    font-family: "leaguespartan webfont",sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    
}


.or-teaser-box .or-title i {
    font-size: 20px;
    padding-right: 10px;
	color: #FFF;
	position: relative;
    top: 2px;
    opacity: 0.7;
}

.or-teaser-box.or-related-links .or-text-content {
    padding: 0 15px 3px 10px;
    margin-top: 0
}

.or-teaser-box.or-related-documents .or-text-content {
    padding: 1px 15px
}


.or-teaser-box .or-text-content {
    background: #ffffff;
    padding: 15px 20px;
    clear: both;
}

.or-teaser-box .or-teaser-list ul{
	padding: 9px 0 12px;
}

.or-teaser-box.or-related-links .or-text-content .or-teaser-list li {
    padding: 15px 5px 10px 7px;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    min-height: 30px
}

.or-teaser-box.or-related-links .or-text-content .or-teaser-list li:hover .or-link-name {
	text-decoration: underline;
	color: #017cdb;
}

.or-teaser-box.or-related-documents .or-text-content .or-teaser-list li {
    padding: 10px 15px 10px 50px;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    min-height: 50px;
}

.or-teaser-box.or-related-documents .or-text-content .or-teaser-list li:hover .or-link-name {
	color:#0b4a89
}

ul.or-teaser-list {
    margin: 0;
    list-style-type: none;
    padding: 0;
    width: 100%
}

.or-teaser-box .or-text-content .or-teaser-list li {
    border-bottom: 2px dotted #dad6d4;
    padding: 10px 0;
    margin-bottom: 0;
    text-indent: 0;
}

.or-teaser-box .or-text-content .or-teaser-list li:last-child {
    border-bottom: 0 dotted #dad6d4;
}

.or-teaser-box .or-text-content .or-teaser-list li:before {
    content: "";
    padding-right: 0;
    font-size: 0;
}

.or-teaser-box .or-text-content .or-teaser-list li a {
    display: block;
}

.or-teaser-box  .or-file-icon-container {
	color: #857672;
	font-size: 18px;
	text-align: left;
	line-height: 16px;
	position: absolute;
	left: 0;
	top: 10px;
}

.or-teaser-box  .or-file-icon {
    margin-top: -3px;
    margin-right: 10px;
    float: left;
    display: block;
}

.or-file-icon {
    width: 24px;
    height: 24px
}

.or-teaser-box .or-file-size {
    font-size: 10px;
    font-weight: 300;
    font-family: "open sans",sans-serif;
    display: block;
    float: left;
    clear: both
}

.or-teaser-box.or-related-links .or-text-content .or-teaser-list li a .or-link-name {
    top: 50%;
    margin-top: -13px;
	text-decoration: underline;
	color: #017cdb;
    background-size: 25%;
    background-color: transparent;
    margin-right: 4px;
    font-size: 13px
}
.or-teaser-box.or-related-documents .or-text-content .or-teaser-list li a:visited. .or-link-name {
    color:#6b0771
}

.or-teaser-box.or-related-links .or-text-content .or-teaser-list li a .or-link-name:hover {
   /* box-shadow: rgba(174,222,239,0.65) 0 -48px 0 -30px inset;
    color: #35383b*/
}

.or-teaser-box.or-related-links .or-text-content .or-teaser-list li a:active .or-link-name, .or-teaser-box.or-related-links .or-text-content .or-teaser-list li a:focus .or-link-name {
    color:#890b0b;
	background-color:#ddd;
}

.or-teaser-box.or-related-documents .or-text-content .or-teaser-list li a:active .or-link-name, .or-teaser-box.or-related-documents .or-text-content .or-teaser-list li a:focus .or-link-name{
    color:#890b0b;
	background-color:#ddd;
}

.or-teaser-box.or-related-documents .or-text-content .or-teaser-list li a .or-link-name {
    top: 50%;
    margin-top: -13px;
	text-decoration: underline;
	color: #017cdb;			
    background-size: 25%;
    background-color: transparent;
    margin-right: 4px;
    font-size: 13px
}

.or-teaser-box.or-related-documents .or-text-content .or-teaser-list li a .or-link-name:hover {
    /*box-shadow: rgba(174,222,239,0.65) 0 -48px 0 -30px inset;
    color: #35383b*/
}

}

/* tabeller */

.sv-text-portlet table {
    margin-bottom: 20px;
}

.sv-text-portlet table{
	border: solid 1px #f3dcd0;
}

.sv-text-portlet table thead{
	background-color: #e83c23;
}

.sv-text-portlet table thead th{
	padding: 8px 6px;
	border-right:solid 2px rgba(255, 255, 255, 0.25);
}

.sv-text-portlet table td{
	padding: 8px 6px;
}

.sv-text-portlet table tbody tr:nth-child(2n) {
	background-color: #fdf7f1;
	border-bottom: solid 1px #f3dcd0;
}

.sv-text-portlet table tbody tr:nth-child(2n+1) {
	background-color: #fff;
	border-bottom: solid 1px #f3dcd0;
}

body .or-article-main .sv-responsiveTable--stacked__headRow th p{
	color:#fff;
	font-family: "leaguespartan webfont",sans-serif;
	font-size: 14px;
	padding: 5px 5px 5px 8px;
}

body .or-article-main .sv-responsiveTable--stacked__headRow p{
	color:#fff!important;
	font-family: "leaguespartan webfont",sans-serif!important;
	font-size: 14px;
	padding: 5px 5px 5px 8px;
}

/* Processkarta nya tabs */
.sol-js-tabs-container 
{
	margin-bottom:25px;
	width:100%;
	margin-top: 20px;
}

.sol-tab-button-container .sol-tab-button
{
	background:#fff;
	cursor:pointer;
	display:table-cell;
	font-family:"leaguespartan webfont",sans-serif;
	font-size:12px;
	line-height:1.2em;
	padding:10px 20px;
	text-align:center;
}

.sol-tab-button-container .sol-tab-button:hover {
    color: #e83c23;
}

.sol-tab-button.sol-tab-active:hover {
	color: #fff;
}

.sol-tab-button
{
	border:1px solid rgba(255,0,0,0.12);
}

.sol-tab-button.sol-tab-active
{
	background:#e83c23;
	border-bottom:0;
	border-left:0;
	border-right:0;
	border-top:5px solid #cf311a;
	color:#fff;
}

.sol-tabs-decoration-content
{
	background-color:#fff;
	border-bottom:1px solid rgba(232,60,35,0.20);
	border-left:1px solid rgba(232,60,35,0.2);
	border-right:1px solid rgba(232,60,35,0.2);
	border-top:5px solid #e83c23;
	padding:12px;
}

.sol-js-tabs-container .sv-responsive .sv-image-portlet img
{
	height:auto;
	max-width:100%;
	width:auto;
}

.sol-tabs-decoration-content .or-facts-block
{
	margin-left:auto;
	margin-right:auto;
	padding-left:35px;
	padding-top:30px;
	width:90%;
}

.sol-tab-button-container
{
	display:table;
	width:100%;
}

.sol-js-tabs-container ul
{
	margin:0;
	padding:0;
}

.sol-accordion-heading
{
	display:none;
}

/* Modal popup */
.or-modal {
    position: fixed;
    display: none;
    border: 1px solid #fff;
    box-shadow: 0px 2px 7px rgba(41, 41, 41, 0.2);
    -moz-box-shadow: 0px 2px 7px rgba(41, 41, 41, 0.2);
    -webkit-box-shadow:0px 2px 7px rgba(41, 41, 41, 0.2);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #f2f2f2;
    z-index: 9997;
}


.or-modal-close {
    position: absolute;
    top: 20px;
    right: -51px;
    float: left;
    display: block;
    height: 45px;
    width: 50px;
    font-weight: bold;
    font-size: 11px;
    background-color: #e83c23;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 3px 0px 6px -3px rgba(0, 0, 0, 0.4) inset;
    text-align: center;
    color: #fff;
}

.or-modal-close:hover {
    background-color: #35383b;
}

.or-modal-close .fa-close {
    color: #FFFFFF;
    font-size: 17px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

.or-modal-content {
    background-color: #fff;
    padding: 35px 10px 10px 10px;
    margin: 7px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.or-modal-content-right-column{
	padding-right: 20px;
	padding-left: 20px;
}

.or-modal-content-left-column{
	margin-left: 0px;
	border-right: 2px dotted rgb(192, 192, 192);
	padding-left: 10px;
	padding-bottom: 20px;
	margin-right: 20px;
	min-height: 100%;
}

.or-modal .or-kontakt-och-tyck-till h3 {
    color: #e83c23;
    margin-top: 0px;
}

.or-backdrop, .or-menu-backdrop{
	position:fixed;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.6);
	height:100%;
	width:100%;
	z-index:9995;
}


/* Tillfällig inforuta */
.or-tir {
  border: 2px solid rgba(242, 140, 0, 0.19);
  background-color: #fefdee;
  -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
  padding: 22px 20px 10px 53px;
  position: relative;
  margin-bottom: 20px;
  margin-top: 5px;
}

body .pagecontent .or-tir h2 {
  margin-top: 0px;
  font-size: 17px;
}

body .or-content-container .or-tir p, body .or-content-container .or-tir p a:link {
  font-size: 16px;
}

.or-tir:before {
  content: "\F05A";
  font-family: FontAwesome;
  font-style: initial;
  font-size: 28px;
  vertical-align: middle;
  color: #f28c00;
  position: absolute;
  left: 15px;
  top: 18px;
}

#or-paging-id {
  margin-bottom: 20px;
	margin-left:0;		
}


#or-paging-id .current.prev {
    background-color: transparent;
    color: #000;
    border: 0 solid #DADADA;
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px 10px;
    cursor: pointer;
}

#or-paging-id .current.prev:hover {
    background-color: transparent;
}

#or-paging-id a {
    background-color: #fff;
    color: #000;
    border: 0 solid #DADADA;
    text-transform: uppercase;
    font-size: 13px;
    padding: 9px 12px;
    box-shadow: rgba(174,222,239,0.0)0px -16px 0 -11px inset;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border: 2px solid rgba(133,118,114,0.24);
    line-height: normal;
    box-sizing: initial;
}

#or-paging-id a:hover {
    background-color: transparent;
    text-decoration: underline;
}


.pagination .current {
    color: #fff;
    padding: 5px 12px;
    font-size: 13px;
    background: none repeat scroll 0 0 #e83c23;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border: 1px solid #e83c23;
		box-sizing: initial;
}

#or-paging-id .next {
    background-color: transparent;
    color: #000;
    border: 0 solid #DADADA;
    text-transform: uppercase;
    font-size: 13px;
}

.pagination .prev,
.pagination .next {
    background: none repeat scroll 0 0 transparent !important;
    border: 0 solid #e83c23 !important;
}

/********** OBS tar bort "facetten" Alla i sök *********/
.or-total-count {
    display: none;
}

span.sol-hit-count {
    float: right;
}

.sol-facetter ul {
    margin-top: -6px;
    margin-bottom: 10px;
    padding: 0;
    border-bottom-style: none;
    border-bottom-width: 0;
    background-color: #fff;
    background-color: rgba(255,255,255,0.90);
}

.sol-facetter ul > li {
    padding-top: 7px;
    padding: 8px 15px 7px 10px;
    border-bottom: 2px dotted #ededed;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 0;
    font-size: 12px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    margin-bottom: 0 !important;
    list-style: none;
}

.sol-facetter ul > li:last-child {
    border-bottom: 0;
}

.sol-facetter ul > li:hover {
    background-color: #fff;
}

.sol-facetter ul > li:hover  a
 {    	
		border-bottom: 2px solid #35383b;
    transition: all 500ms ease;		
		text-decoration: none;		
}

.sol-facetter ul > li:hover  > a
 {    	
	box-shadow: 0 -20px 0 11px rgba(174,222,239,0.65) inset; */   
 }
.sol-facetter .sol-selected-facet {
    background: #e83c23;
    color: #FFF;
    border-bottom: 0 solid transparent;
    position: relative;
}

.sol-facetter .sol-selected-facet a {
    color: #FFF;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
}

.sol-facetter .sol-selected-facet:hover {
    background-color: #f28c00;
    color: #FFF;
    border-bottom: 0 solid transparent;
}


.sol-facetter .sol-selected-facet:hover a {
    border-bottom: 0 solid transparent;
}

.sol-facetter .sol-selected-facet:hover a {
    border-bottom: 0 solid transparent;
    color: #fff;
}

.sol-facetter .sol-selected-facet a:hover {
    color: #FFF;
}

.sol-icon-facet-active {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: scroll;
    width: 16px;
    height: 16px;
    opacity: .85;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
    filter: alpha(opacity=85);
    -moz-opacity: .85;
    -khtml-opacity: .85;
    position: absolute;
    right: 11px;
    top: 11px;
}

li.sol-selected-facet:hover > i.sol-icon-facet-active {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

li.sol-selected-facet:hover > i.sol-icon-facet-active:after {
    content: "\F067";
    font-family: FontAwesome;
    font-style: initial;
    font-size: 15px;
    vertical-align: middle;
}

.sol-icon-facet-active:after {
    content: "\F00C";
    font-family: FontAwesome;
    font-style: normal;
    font-size: 15px;
    vertical-align: middle;
}

.sol-facetter ul > li > a {
    font-size: 13px !important;
    text-decoration: none;
    font-weight: 300;
    cursor: pointer;
    box-shadow: rgba(255,255,255,0)0px -16px 0 -11px inset !important;
}

.sol-facetter p {
    font-size: 12px;
    margin-bottom: 15px !important;
    color: #e83c23;
}

.sol-facetter .or-show-hiden-facet-items {
    background-color: #857672;
    border-bottom: 2px dotted transparent;
    color: #fff;
}

.or-show-hiden-facet-items:hover {
    background-color: #35383b !important;
    border-bottom-color: #35383b !important;
    border-bottom: 2px dotted #35383b !important;
    color: #FFF;
}

.or-show-hiden-facet-items:hover > .sol-icon-more-facet {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
}

.sol-icon-more-facet {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: scroll;
    background-color: transparent;
    float: right;
    width: 16px;
    height: 16px;
    opacity: .85;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
    filter: alpha(opacity=85);
    -moz-opacity: .85;
    -khtml-opacity: .85;
    margin-top: -1px;
}

.sol-icon-more-facet:after {
    content: "\F067";
    font-family: FontAwesome;
    font-style: initial;
    font-size: 18px;
    vertical-align: middle;
}

.sol-icon-more-facet-selected:after {
    content: "\F068";
    font-family: FontAwesome;
    font-style: initial;
    font-size: 18px;
    vertical-align: middle;
}


/* Translate popup */
.or-language-modal {
   padding:30px;
   margin:0 auto;
   max-width:400px;
   background:#fff;
   box-shadow: 0 0 6px -2px rgba(0,0,0,0.8);
   border-radius:2px;
   display:none;
	 position:absolute;   
   z-index:12;
	 bottom: 3%;   
}
.or-language-modal-close{
    position: absolute;
    top: 20px;
    right: 0;
    float: left;
    display: block;
    height: 45px;
    width: 50px;
    font-weight: 700;
    font-size: 11px;
    background-color: #e83c23;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: -3px 0 6px -3px rgba(0,0,0,0.4) inset;
    text-align: center;
    color: #fff;
}
.or-language-modal-close .fa-close {
   color: #FFF;
   font-size: 17px;
	width: 100%;
	text-align: center;
   padding-top: 5px;   
}
.or-language-modal-close:hover {
	background-color:#333;
}

/* social media */
.or-social-media-content .or-social-media-content .or-header {
    color: #0090b4;
    margin-bottom: 10px;
}

.or-follow .normal a:link {
    font-family: "leaguespartan webfont",sans-serif;
    font-size: 11px;
    letter-spacing: .02em;
}

.or-social-media-content {
    border-bottom: 2px #F7F3F3 solid;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 0 10px 25px;
    width: 100%;
    margin-top: -10px;
    float: left;
}

.or-news-social-section-startpage .or-social-media-content {
    margin: 10px 20px;
    max-width: 530px;
    float: right;
    margin-top: -10px;
    padding-top: 7px;
}

.or-social-media-content .or-content img {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    float: right;
    margin-left: 20px;
    width: 37%;
}

.or-social-media-content.youtube .or-content img {
    position: relative;
    width: 165px;
    z-index: 0;
}

.or-social-media-content.youtube .or-social-image {
    cursor: pointer;
    float: left;
    position: relative;
}

.or-social-media-content.youtube .or-social-image:after {
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 6px 2px rgba(0,0,0,0.2);
    color: #C83E30;
    content: "\f16a";
    font: normal normal normal 35px/.7 FontAwesome;
    height: 23px;
    left: 50%;
    margin-left: -27px;
    margin-top: -14px;
    position: absolute;
    top: 50%;
    width: 34px;
}

.or-social-media-content .or-content a {
    font-size: 15px;
    font-weight: 300;
}

.or-social-media-content:hover .or-content a {
    text-decoration: underline;
}

.or-social-media-content .or-content {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    width: 100%;
}

.or-social-media-content.instagram .or-header .fa-circle {
    color: transparent;
    background-color: #D5378C;
    background: linear-gradient(190deg,#8462C5 0%,#D5378C 41%,#f87436 75%,#E6B454 100%);
    border-radius: 32px;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
}

.or-social-media-content.instagram .fa-instagram:before {
    content: "\f16d";
    font-size: 20px;
}

.or-social-media-content.facebook .or-header .fa-circle,.or-social-media-header.facebook .fa-circle {
    color: #0090b4;
}

.or-social-media-content.youtube .or-header .fa-circle {
    color: #c83e30;
}

.or-social-media-content .or-header {
    color: #857672;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 7px;
    margin-left: -5px;
}

.or-social-media-content.youtube .or-header {
    color: #35383b;
    font-family: "leaguespartan webfont",sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .02em;
}

.or-social-media-content .or-header .fa-clock-o {
    color: #857672;
    margin-left: 5px;
}

.or-social-media-content .or-stats {
    background-color: #f9f9f8;
    border: 2px solid #eeeceb;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #857672;
    display: block;
    float: left;
    font-family: "leaguespartan webfont",sans-serif;
    font-size: 10px;
    margin-bottom: 3px;
    margin-top: 10px;
    padding: 4px 10px;
    width: 100%;
}

.or-social-media-content .or-stats .fa {
    font: normal normal normal 14px/1 FontAwesome;
    margin-left: 15px;
    margin-right: 5px;
}

.or-social-media-content .or-stats .fa:first-child {
    margin-left: 0;
}

.or-social-media-content.facebook .fa-reactions {
    background-image: url(/images/18.5ab4ab37154229e2ec8753e/1462525596156/reaction-orebro.png);													
    background-repeat: no-repeat;
    background-size: 58px;
    height: 16px;
    position: relative;
    top: 3px;
    width: 60px;
}

.or-media-popup {
    display: none;
    float: left;
    position: relative;
    transition: .3s ease;
}

.show-popup .or-media-popup {
    display: block;
}

.show-popup .or-social-image,.show-popup a {
    display: none;
}

.youtube .or-content {
    position: relative;
}

.or-media-close {
    background-color: #e83c23;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0;
    box-shadow: 3px 0 6px -3px rgba(0,0,0,0.4) inset;
    color: #fff;
    display: block;
    font-size: 11px;
    font-weight: 700;
    height: 45px;
    right: 0;
    position: absolute;
    text-align: center;
    width: 50px;
}

.or-media-close:hover {
    background-color: #35383b;
    cursor: pointer;
}

.or-media-close .fa-close {
    color: #FFF;
    font-size: 17px;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}

.or-content.show-popup iframe {
    width: 100%;
    height: 315px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.show-popup .or-media-popup {
    display: block;
    width: 100%;
}

.or-social-media-follow-startpage {
   float:right;
   font-size:90%;
   padding:1%;
   max-width: 540px;
}
.or-social-media-follow-startpage-item {
   float:none;
   margin-bottom: 15px;
   display: inline-block;
}
.or-social-media-follow-startpage a{
   font-family: "leaguespartan webfont",sans-serif;
   font-size:11px;
   display:inline-block;
   box-shadow: rgba(174,222,239,0.65)0px -14px 0 -10px inset;
   transition: all 100ms ease;
   margin-right:25px;
}
.or-social-media-follow-startpage a:hover {
    box-shadow: rgba(174,222,239,0.65) 0 -41px 0 -23px inset;
}
   
.social-bg-circle {
    background: #666;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    vertical-align: middle;
    padding: 2px;
    color:#fff;
    margin-right:8px;
}
.social-bg-circle-instagram {background: -webkit-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -webkit-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);}
.social-bg-circle-twitter {background:#00aced;}   
.social-bg-circle-facebook {background:#0090b4;}
.social-bg-circle-snapchat {color:#FFFC00;}

/* social media undersida */
.or-social-media-subpage .or-social-media-content {
    border-bottom: 0 #F7F3F3 solid;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 20px 25px 15px;
    background-color: #fff;
    box-shadow: 0 0 4px #E2E2E2;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.or-social-media-subpage .or-follow .normal a:link {
    float: left;
    clear: both;
}

.or-social-media-subpage .or-social-media-content .or-content img {
    width: auto;
    max-height: 160px;
}

.or-social-media-subpage .or-social-media-content.facebook .or-header .fa-circle {
    color: #0090b4;
    font-size: 24px;
    top: 2px;
}

.or-social-media-subpage .or-social-media-content .fa-inverse {
    font-size: 13px;
    position: relative;
    top: -2px;
}

.or-social-media-subpage .or-social-media-content .or-header {
    margin-bottom: 9px;
    padding-left: 5px;
    margin-top: -5px;
}

.or-social-media-subpage .or-social-media-content .or-header .fa-clock-o {
    margin-left: 0;
}

.or-social-media-header.facebook {
    font-family: "leaguespartan webfont",sans-serif;
    font-weight: 700;
    font-size: 13px;
    margin-top: 25px;
    margin-bottom: 3px;
}

.or-social-media-header.facebook .fa-stack {
    margin-right: 5px;
    position: relative;
    top: -2px;
}


/* Plusbox */

.or-plus-box-header {
  width: 100%;
  margin-top: 13px;
  margin-bottom: 0px;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  min-height: 40px;
  padding-left: 20px;
  position: relative;
  padding-right:45px;
}

.or-plus-box-content {
    overflow: hidden;
    width: 100%;
    background-color: #FFF;
    padding: 5px 20px;
}

.or-collapse-button {
  position: absolute;
  right: 0px;
  width: 45px;
  height: 100%;
  float: right;
}

.or-plus-box-header:hover .plusboxxrubrik{	
	text-decoration: underline;
}

.or-icon-plus {
	display: table-cell;
	font: normal normal normal 22px/1 FontAwesome;
	text-align: center;
	vertical-align: middle;
	transition: transform 500ms;
	-webkit-transition: transform 500ms;
	color: #000;
	opacity: 0.92;
}

.or-icon-plus::before {
	content: "\f067";
	font-family: FontAwesome;
	color: #fff;
	position: relative;
}

.or-plus-box-active  .or-icon-plus::before  {  
	content: "\f068";
  color:#000;	
}

.or-plus-box-active .or-colorbg {
	background-color:#fff;
}

.or-plus-box-active .plusboxxrubrik{ 
	color: #fff;
}

/*Plusbox Diskret */
.or-plus-box-diskret-header {
	min-height: 30px;
	padding-left: 13px;
}

.or-plus-box-diskret-header.or-colorborder{
	border-color: rgb(237, 234, 234);
}

.or-plus-box-diskret-header .plusboxxrubrik {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 13px;
}

.or-plus-box-diskret-header .or-collapse-button {
	position: absolute;
	right: 0px;
	width: 45px;
	height: 100%;
	top: 0px;
}

.or-plus-box-diskret-header .or-collapse-button.or-colorbg {
	background-color: #f9f9f8;
	width: 35px;
	border-left: 1px solid rgb(237, 234, 234);
}

.or-plus-box-diskret-header .or-icon-plus::before {
	color: #857672;
	font-size: 15px;
	top: -1px;
}

.or-plus-box-diskret-content {
	background-color: #fff;
	padding: 15px;
}

.or-plus-box-diskret-header.or-plus-box-active .or-collapse-button {
	background-color: #857672;
}

.or-plus-box-diskret-header.or-plus-box-active .or-icon-plus:before {
	color: #fff;
}

.or-plus-box-diskret-header.or-plus-box-active .plusboxxrubrik {
	color: #000;
}


/* Plusbox program */
.or-plus-box-header.or-plus-box-program {
  margin: 20px auto 0px;
  padding: 0px 50px 0px 10px;
}

.or-plus-box-program p.plusboxxrubrik,
.or-plus-box-program div.plusboxxrubrik {  
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;    
  text-transform: none;
  letter-spacing: normal;
  display: inline-block;  
  margin-top: 12px;
  margin-bottom: 8px; 
  padding: 0px;
}

.or-plus-box-program p.normal {  
  margin-bottom: 10px;    
	font-weight: 400;
  list-style-type: disc;
}


.or-plus-box-program .or-collapse-button {
  position: absolute;
  right: 0px;
  width: 37px;
  height: 100%;
  top: 0;   
}

.or-plus-box-header:hover .plusboxxrubrik {	
	text-decoration: underline;
}

.or-plus-box-content.or-plus-box-program {
  overflow-x: hidden;
  overflow-y: hidden;  
  margin-top: -1px;
  margin-right: auto;
  margin-left: auto;
  border-right: 1px solid rgba(163, 163, 163, 0.3);
  border-bottom: 1px solid rgba(163, 163, 163, 0.3);
  border-left: 1px solid rgba(163, 163, 163, 0.3);
}

.or-plus-box-program .or-icon-plus {
   font-size: 20px;
}


/* Plusbox program tabell*/

.or-plus-box-program.or-plus-box-content.sv-table-portlet,
.or-plus-box-program.or-plus-box-content.sv-standard,
.or-program-tabell .or-plus-box-content {
  padding: 0;
}

.or-program-tabell table {
    border: 0;    
}


body:not(.sv-editing-mode) .or-plus-box-program.or-plus-box-content caption, body:not(.sv-editing-mode) .or-plus-box-content thead {	
  display: none!important;
}	 

.or-plus-box-program.or-plus-box-content table {
   margin:initial;
}

.or-plus-box-program.or-plus-box-content.sv-table-portlet tr td:first-child,
.or-plus-box-program.or-plus-box-content.sv-table-portlet tr th:first-child,
.or-plus-box-program.or-plus-box-content .sv-text-portlet-content table.sv-standard tr td:first-child,
.or-plus-box-program.or-plus-box-content .sv-text-portlet-content table.sv-standard tr th:first-child  {
  border: 0;
  padding-left: 20px;  
  width: 75%;
}

.or-plus-box-program.or-plus-box-content.sv-table-portlet tr td:last-child,
.or-plus-box-program.or-plus-box-content.sv-table-portlet tr th:last-child,
.or-plus-box-program.or-plus-box-content .sv-text-portlet-content table.sv-standard tr td:last-child,
.or-plus-box-program.or-plus-box-content .sv-text-portlet-content table.sv-standard tr th:last-child  {
  border: 0;
  padding-right: 55px;
}

/* Plusbox Kontakter */
.or-plusbox-kontakter .plusboxxrubrik {
    width: calc(100% + 18px);
    background-color: #FCF5EC;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: -18px;
    padding-left: 18px;
}
.or-plusbox-kontakter .or-icon-plus {
    background-color: #fff;
}
.or-plusbox-kontakter .or-icon-plus:before {
    color: inherit;
}
.or-plusbox-kontakter .or-collapse-button {
    background-color: #fff;
    margin-top: 2px;
    margin-right: 2px;
    height: calc(100% - 4px);
    width: 43px;
}
.or-plusbox-kontakter i.fa {
    font-size: 1.3em;
    margin-right: 0.2em;
}
.or-colorborder.or-wrapper-click.or-plus-box-header.or-plus-box-active .or-plusbox-kontakter .plusboxxrubrik {
    color: #E83C23;
}
.or-colorborder.or-wrapper-click.or-plus-box-header.or-plus-box-active .or-plusbox-kontakter .or-icon-area {
}

/* Kontaktpersoner */
.or-kontaktpersoner-container {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    position: relative;
}
.or-kontaktpersoner-container:after {
    content: "\f086";
    font-family: FontAwesome;
    font-size: 30px;
    color: #f28c00;
    position: absolute;
    top: 10px;
    right: 10px;

}
