/* Liten kalender info ruta */
.or-calender-date {
  position: relative;
  bottom: auto;
  z-index: 12;
  width: 47px;
  margin-top: 20px;
  margin-right: 9px;
  margin-left: 15px;
  float: left;
  border: 2px solid #f0eded;
  border-radius: 3px 3px 2px 2px;
  background-color: white;
  box-shadow: none;
}
.or-calender-date.or-calender-date-small {
  width: 53px;
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 0;
  float: none;
  box-shadow: none;
  text-align: center;
}

.or-date-month-name {
  position: relative;
  width: 100%;
  height: 22px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #e83c23;
  font-family: futura-pt, sans-serif;
  color: white;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.02em;
}
.or-date-day {
  position: relative;
  display: block;
  width: 90%;
  margin: 1px auto;
  float: none;
  font-family: futura-pt, sans-serif;
  font-size: 17px;
  line-height: 19px;
  font-weight: 700;
  text-align: center;
}

.or-date-day-name {
  position: relative;
  display: inline-block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3px;
  float: none;
  border-top: 1px dotted rgba(133, 118, 114, 0.2);
  font-size: 11px;
  line-height: 11px;
  text-align: center;
}

/* Kalender faktaruta */

.or-facts-row-calender {
 padding-top: 6px;
 padding-bottom: 10px;
 border-bottom: 1px solid #ecebe6;
}

.or-facts-column-one {
 width: 25%; 
 text-align: left;
}

.or-facts-column-two {
 width: 75%;
 line-height: 20px;
}

.or-facts-column-two p.normal,
.or-facts-column-one p.normal {
  margin: auto;
}

.or-facts-column-two p.normal {
  font-size: 13px;
  line-height: 18px;
}

.or-facts-column-two p.normal a{
  font-size: 13px;
}

.or-facts-column-one strong {
  font-size: 14px;
}

/* Kalender listning */

.or-calender-list-calender {
   float:left;
}

.or-calender-list-info {
  width: 80%;
  float: left;
}

.or-calender-list-type{
  margin-top: 5px;
  padding-top: 7px;
  border-top: 2px dotted rgba(133, 118, 114, 0.2);
}

.or-calender-list-type-text{
  width: 100%;
  margin-bottom: 3px;
  font-size: 13px;
}

.or-news-list-container:hover .or-calender-list-info{
  text-decoration: underline;
}


/* Kalender */

.or-month-container {
  position: relative;
  width: 50%;
  margin-top: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-style: solid;
  border-width: 2px 2px 0;
  border-color: #ffcdc7;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  background-color: white;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #857672;
  font-weight: 400;
  text-align: center;
}
.or-month-container:hover {
  color: #e83c23;
}

.or-calendar-filter-container {
  width: 80%;
  margin-bottom: 40px;
  float: left;
  border: 1px solid #ffcdc7;
  border-radius: 1px;
  background-color: #e83c23;
}

/* Rubrik rad */
.or-week-row.or-day-row {
  background-color: #e83c23;
  color: white;
}

/* Kalender rad */
.or-week-row {
  background-color: white;
}

/* Kalender kolumn*/
.or-calendar-columns {
  position: relative;
  width: 12.5%;
  min-height: 43px;
  padding-top: 11px;
  float: left;
  border-right: 1px solid rgba(133, 118, 114, 0.1);
  border-bottom: 1px solid rgba(133, 118, 114, 0.1);
  background-color: transparent;
  font-family: futura-pt, sans-serif;
  font-size: 15px;
  text-align: center;
}

/* Kalender veckonummer kolumn*/
.or-calendar-columns.or-week-column {
  border-right-color: rgba(255, 255, 255, 0.34);
  border-bottom-color: rgba(255, 255, 255, 0.34);
  background-color: #e83c23;
  color: white;
}

.or-week-text:hover {
  background-color: rgba(255, 255, 255, 0.78);
  color: #e83c23;
}

.or-week-text:hover a {
  color: red;
}

.or-week-text {
  display: inline-block;
  width: 29px;
  height: 29px;
  border-radius: 15px;
  background-color: transparent;
  font-size: 13px;
  font-weight: bold;
  color: white;
  padding-top: 3px;
  text-align: center;
  position: relative;
}

.or-week-text a {
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    position: absolute;
    left: 50%;
    width: 25px;
    margin-left: -12px;
    top: 56%;
    margin-top: -11px;
    letter-spacing: -0.03em;
}

/* Kalender dagnummer kolumn*/
.or-calendar-columns.or-day-columns {
 border-right-color: rgba(255, 255, 255, 0.34);
}

.or-calendar-text {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 26px;
  height: 26px;
  margin-top: -11px;
  margin-left: -13px;
  border-radius: 13px;
  background-color: white;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  line-height: 26px;
  letter-spacing: -0.06em;
}

/* Dagens datum */
.or-calendar-text-active,
.or-calendar-text-active-event {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 34px;
  height: 34px;
  margin-top: -17px;
  margin-left: -18px;
  padding-top: 2px;
  border: 2px solid #f0c3bb;
  border-radius: 20px;
  background-color: #e83c23;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: white;
  font-size: 14px;
  line-height: 27px;
  font-weight: 700;
}

.or-calendar-text-active-event:hover{
  background-color: #f28c00;
}

/* Dag med händelse */
.or-calendar-text-event {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 26px;
  height: 26px;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 13px;
  background-color: rgba(133, 118, 114, 0.65);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;

}

.or-calendar-text-event a,
.or-calendar-text-active-event a {
  color: white;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  margin-left: -2px;
}


.or-calendar-text-event:hover {
  background-color: #35383b;
  color: white;
}

.or-month-text, .or-month-text a {
  margin-right: 6px;
  margin-left: 6px;
  color: #857672;
}



.or-month-text,
.or-month-text a {
  display: inline-block;
  margin-right: 14px;
  margin-left: 8px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 400;
}

.or-month-container .or-month-arrow {
   font-size: 16px;
   color: #857672;   
}

.or-month-container .or-month-arrow:hover {
   color: #E83C23;   
}

/* Ny action */
.or-ny-action span.fa {
 background-color: #E83C23;
 color: white;
 position: absolute;
 display: inline-block;
 font-size: 22px;
 margin-right: 20px;
 width: 48px;
 min-height: 44px;
 line-height: 48px;
 text-align: center;
 vertical-align: middle;
 height: 100%;
 z-index: 999;
 top: 0;
 left: 0;
}

.or-ny-action span.fa::after {
    left: 100%;
    top: 53%;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0) rgba(136, 183, 213, 0) rgba(136, 183, 213, 0) #E83C23;
    border-width: 12px;
    margin-top: -13px;
}

.or-ny-action .or-action-text {
 font-family: "leaguespartan webfont",sans-serif;
 font-weight: normal;
 font-style: normal;
 font-size: 12px;
 color: #35383b;
 line-height: 16px;
 display: inline-block;
 padding-left: 70px;
 padding-bottom: 14px;
 padding-top: 14px;
 font-weight: 800;
 letter-spacing: 0.02em;
 float: none;
 padding-right: 40px;
}

.or-ny-action .normal .or-action-text a:link {
    font-family: "leaguespartan webfont",sans-serif;
    font-style: normal;
    color: #35383B;
    text-decoration: none;
    line-height: 20px;
    font-size: 12px;
    font-weight: 800;
    box-shadow: none;
}

.or-ny-action .sv-use-margins .normal {
    margin-bottom: 0;
}

.or-ny-action{
position: relative;
background:#fff;
margin-bottom: 10px;
}

.or-ny-action:hover{
    box-shadow: 0 0 6px 0 #E7E7E7;
}

.or-new-action-text {
    border: 1px solid rgba(133, 118, 114, 0.25);
}

.or-ny-action:hover .or-action-text a:link{
text-decoration:underline;
}

/* Relaterade länkar/dokument */
.or-teaser-box {
    margin-bottom: 40px;
    box-shadow: #dadada 0 0 3px 0;
    float: left;
    margin-right: 2%;
    width: 48%;
    margin-top: 30px;
}

.or-teaser-box.or-related-links h3{
    margin-top: 0;
    margin-bottom: 0;
}

body .or-wrapper-click.or-teaser-box.or-related-links h3{
    margin-top: 0;
    margin-bottom: 0;
}


.or-teaser-box .or-title {
    background: #857672;
    padding: 6px 15px 7px;
    min-height: 26px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.or-teaser-box.or-related-links .or-title {
    background: #857672;
}

.or-teaser-box .or-title span {
    color: #ffffff;
    font-family: "leaguespartan webfont",sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    
}


.or-teaser-box .or-title i {
    font-size: 20px;
    padding-right: 10px;
	color: #FFF;
	position: relative;
    top: 2px;
    opacity: 0.7;
}

.or-teaser-box.or-related-links .or-text-content {
    padding: 0 10px 0 0;
    margin-top: 0;
}

.or-teaser-box.or-related-documents .or-text-content {
    padding: 1px 15px 1px;
}

.or-teaser-box .or-text-content {
    background: #ffffff;
    padding: 15px 20px;
    clear: both;
}

.or-teaser-box .or-teaser-list ul{
	padding: 9px 0 12px;
}

.or-teaser-box.or-related-links .or-text-content .or-teaser-list li {
    padding: 14px 5px 14px 15px;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    min-height: 52px;
}

.or-teaser-box.or-related-links .or-text-content .or-teaser-list li:hover .or-link-name {
    box-shadow: rgba(174, 222, 239, 0.65) 0 -48px 0 -30px inset;
    color: #35383b;
}

.or-teaser-box.or-related-documents .or-text-content .or-teaser-list li {
    padding: 10px 15px 10px 50px;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    min-height: 50px;
}

.or-teaser-box.or-related-documents .or-text-content .or-teaser-list li:hover .or-link-name {
    box-shadow: rgba(174, 222, 239, 0.65) 0 -48px 0 -30px inset;
    color: #35383b;
}


ul.or-teaser-list {
    margin:0;
    list-style-type: none;
    padding: 0;
}

.or-teaser-box .or-text-content .or-teaser-list li {
    border-bottom: 2px dotted #dad6d4;
    padding: 10px 0;
    margin-bottom: 0;
    text-indent: 0;
}

.or-teaser-box .or-text-content .or-teaser-list li:last-child {
    border-bottom: 0 dotted #dad6d4;
}

.or-teaser-box .or-text-content .or-teaser-list li:before {
    content: "";
    padding-right: 0;
    font-size: 0;
}

.or-teaser-box .or-text-content .or-teaser-list li a {
    display: block;
}

.or-teaser-box .or-text-content .or-teaser-list li a i:before {
    display: block;
}

.or-teaser-box .or-text-content .or-teaser-list li a i {
    color: #857672;
    font-size: 18px;
    text-align: left;
    line-height: 16px;
    position: absolute;
    left: 0;
    top: 10px;
}

.or-teaser-box .or-text-content .or-teaser-list li a i span {
    font-size: 10px;
    font-weight: 600;
    font-family: "open sans",sans-serif;
}

.or-teaser-box.or-related-links .or-text-content .or-teaser-list li a .or-link-name {
    top: 50%;
    margin-top: -13px;
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    transition: all 100ms ease;
    background-size: 25%;
    background-color: transparent;
    box-shadow: 0 -16px 0 -11px rgba(174, 222, 239, 0.65) inset;
    margin-right: 4px;
}

.or-teaser-box.or-related-links .or-text-content .or-teaser-list li a .or-link-name:hover {
    box-shadow: rgba(174, 222, 239, 0.65) 0 -48px 0 -30px inset;
    color: #35383b;
} 

.or-teaser-box.or-related-documents .or-text-content .or-teaser-list li a .or-link-name {
    top: 50%;
    margin-top: -13px;
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    transition: all 100ms ease;
    background-size: 25%;
    background-color: transparent;
    box-shadow: 0 -16px 0 -11px rgba(174, 222, 239, 0.65) inset;
    margin-right: 4px;
}

.or-teaser-box.or-related-documents .or-text-content .or-teaser-list li a .or-link-name:hover {
    box-shadow: rgba(174, 222, 239, 0.65) 0 -48px 0 -30px inset;
    color: #35383b;
} 

/* tabeller */

.sv-text-portlet table {
    margin-bottom: 20px;
}

.sv-text-portlet table{
	border: solid 1px #f3dcd0;
}

.sv-text-portlet table thead{
	background-color: #e83c23;
}

.sv-text-portlet table thead th{
	padding: 8px 6px;
	border-right:solid 2px rgba(255, 255, 255, 0.25);
}

.sv-text-portlet table td{
	padding: 8px 6px;
}

.sv-text-portlet table p {
font-size: 13px;
}

.sv-text-portlet table tbody tr:nth-child(2n) {
	background-color: #fdf7f1;
	border-bottom: solid 1px #f3dcd0;
}

.sv-text-portlet table tbody tr:nth-child(2n+1) {
	background-color: #fff;
	border-bottom: solid 1px #f3dcd0;
}

/*
body .sv-responsiveTable--stacked__headRow{
	background-color: #E83C23!important;
}

body .sv-responsiveTable--stacked__headRow--main{
	background-color: #E83C23!important;
}
*/
body .or-article-main .sv-responsiveTable--stacked__headRow th p{
	color:#fff;
	font-family: "leaguespartan webfont",sans-serif;
	font-size: 14px;
	padding: 5px 5px 5px 8px;
}

body .or-article-main .sv-responsiveTable--stacked__headRow p{
	color:#fff!important;
	font-family: "leaguespartan webfont",sans-serif!important;
	font-size: 14px;
	padding: 5px 5px 5px 8px;
}


/* Processkarta nya tabs */
.sol-js-tabs-container 
{
	margin-bottom:25px;
	width:100%;
	margin-top: 20px;
}

.sol-tab-button-container .sol-tab-button
{
	background:#fff;
	cursor:pointer;
	display:table-cell;
	font-family:"leaguespartan webfont",sans-serif;
	font-size:12px;
	line-height:1.2em;
	padding:10px 20px;
	text-align:center;
}

.sol-tab-button-container .sol-tab-button:hover {
    color: #e83c23;
}

.sol-tab-button.sol-tab-active:hover {
	color: #fff;
}

.sol-tab-button
{
	border:1px solid rgb(255,0,0); 
	border:1px solid rgba(255,0,0,0.12);    
}

.sol-tab-button.sol-tab-active
{
	background:#e83c23;
	border-bottom:0;
	border-left:0;
	border-right:0;
	border-top:5px solid #cf311a;
	color:#fff;
}

.sol-tabs-decoration-content
{
	background-color:#fff;
	border-bottom:1px solid rgba(232,60,35,0.20);
	border-left:1px solid rgba(232,60,35,0.2);
	border-right:1px solid rgba(232,60,35,0.2);
	border-top:5px solid #e83c23;
	padding:12px;
}

.sol-js-tabs-container .sv-responsive .sv-image-portlet img
{
	height:auto;
	max-width:100%;
	width:auto;
}

.sol-tabs-decoration-content .or-facts-block
{
	margin-left:auto;
	margin-right:auto;
	padding-left:35px;
	padding-top:30px;
	width:90%;
}

.sol-tab-button-container
{
	display:table;
	width:100%;
}

.sol-js-tabs-container ul
{
	margin:0;
	padding:0;
}

.sol-accordion-heading
{
	display:none;
}


/* Tillfällig inforuta */
.or-tir {
  border: 2px solid rgb(242, 140, 0);
  border: 2px solid rgba(242, 140, 0, 0.19); 
  background-color: #fefdee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 22px 20px 10px 53px;
  position: relative;
  margin-bottom: 20px;
  margin-top: 5px;
}

body .pagecontent .or-tir h2 {
  margin-top: 0;
  font-size: 17px;
}

body .or-content-container .or-tir p, body .or-content-container .or-tir p a:link {
  font-size: 16px;
}

.or-tir:before {
  content: "\F05A";
  font-family: FontAwesome;
  font-style: initial;
  font-size: 28px;
  vertical-align: middle;
  color: #f28c00;
  position: absolute;
  left: 15px;
  top: 18px;
}
