#if ($interface.icon && $interface.icon != '')
    #set ($icon = "<i class='fa $interface.icon'></i>")
#end

#if ($interface.wrapperClass && $interface.wrapperClass != '')
<div class="$interface.wrapperClass">
#end

    <div class="or-collapse-button or-colorbg">
        <div class="or-icon-area">
            <span class="or-icon-plus"></span>
        </div>
    </div>
    <div class="or-collapsible-header or-js-collapsible-header">
        <div class="plusboxxrubrik">$!{icon}$!{contentName}</div>
    </div>

#if ($interface.wrapperClass && $interface.wrapperClass != '')
</div>
#end

<script type="text/javascript">
    (function () {
        var object = {expanded: true, timestamp: new Date().getTime()};
        var header = $svjq('#svid${contentId} .or-plus-box-header');
        header.attr('tabindex', '0');

        if (sessionStorage.getItem("plusbox${contentId}")) {
            var plusboxStatus = JSON.parse(sessionStorage.getItem("plusbox${contentId}")).expanded;
            if (plusboxStatus) {
                setTimeout(function() {
                    $('#svid${contentId} .or-plus-box-content').slideDown(200);
                    header.addClass('or-plus-box-active');
                }, 200)
            }
        }

        header.on('click keydown', function (e) {
            if (!sessionStorage.getItem("plusbox${contentId}"))
                sessionStorage.setItem("plusbox${contentId}", JSON.stringify(object));
            console.log('triggered');
            if (e.which == '13' || e.type == 'click') {
                $('#svid${contentId} .or-plus-box-content').slideToggle(200);
                $(this).toggleClass('or-plus-box-active');
            }
            if (e.type == 'click') {
                $(this).blur();
            }
        });
    })();

    $(document).ready(function () {
        if (!sessionStorage.getItem("plusbox${contentId}")) {
            var hash = window.location.hash.substring(1),
                    hashParent = $("#" + hash).parent().attr('id'),
                    svid = "svid${contentId}",
                    containsHash = $("#svid${contentId}").find("#" + hashParent).length;

            if (!((hash != "") && ((hashParent == svid) || (containsHash > 0)))) {
                $("#svid${contentId} .or-plus-box-content").hide();
            } else {
                $("#svid${contentId} .or-plus-box-content").show();
                $("#svid${contentId} .or-plus-box-header").addClass("or-plus-box-active");
                document.querySelector('#svid${contentId}').scrollIntoView({
                    behavior: 'smooth'
                });
            }
        }
    });
</script>