## Inställningar
#set ($PAGE_SIZE = 4)
#set ($TEXT_MAX_LENGTH = 105)

##
## Utility API
#set ($outputUtil = $sitevisionUtils.outputUtil)
#set ($dateUtil = $sitevisionUtils.dateUtil)
#set ($resourceLocatorUtil = $sitevisionUtils.resourceLocatorUtil)
#set ($scriptUtil = $sitevisionUtils.scriptUtil)
#set ($linkRenderer = $sitevisionUtils.linkRenderer)

##
## Portlet properties
#set ($headingField = $propertyUtil.getString($portlet, 'headingField'))

##
## Index field names
#set ($displayField = $propertyUtil.getString($portlet, $headingField))
#set ($urlField = $propertyUtil.getString($portlet, 'urlField'))
#set ($uriField = $propertyUtil.getString($portlet, 'uriField'))
#set ($siteField = $propertyUtil.getString($portlet, 'siteField'))

#set ($thisSiteId = $resourceLocatorUtil.site.identifier)
#if ($thisSiteId.endsWith("_site"))
   #set ($idEnd = $thisSiteId.length() - 5)
   #set ($thisSiteId = $thisSiteId.substring(0, $idEnd))
#end


<div class="or-start-heading-divider or-left" ><div class="sv-text-portlet-content"><p class="normal">Nyheter från Örebro kommun</p></div></div>
<ul class="or-news-list or-small">
	#foreach ($hit in $searchResult.hits)   
		#if($velocityCount > $PAGE_SIZE)			
   	<div class="or-btn">
        <a href="/nyhetslistning.4.5ab4ab37154229e2ec86e25.html" class="or-more-news">Fler nyheter</a> 
   	</div>   	  
   	#break
		#end   
      <li class="or-wrapper-click">      
         ##
         ## Heading
         #set ($hitHeading = $scriptUtil.getNonNull($hit.getField($displayField)))
         #if ($hitHeading)
            <div>
               <h3>
                  #set ($target = $scriptUtil.getNonNull($hit.getField($urlField)))
                  #if ($target)      
                  	#if ($thisSiteId == $hit.getField($siteField))
                  		#set ($target = $scriptUtil.getNonNull($hit.getField($uriField), $target))
                  	#end
                  	$linkRenderer.setStringTarget($target)
                  	$linkRenderer.setText($hitHeading)
                  	$linkRenderer.render()
                  #else
                  	$outputUtil.getEscapedHtmlText($hitHeading, $headingNode)
                  #end
               </h3>
            </div>
         	<span class="or-news-date">$dateUtil.getDateAsString("d MMM" ,$hit.getDateField('published'))</span> 
         	#set ($text = $hit.getField('metadata.SV.Description'))
            #if ($text.length() > $TEXT_MAX_LENGTH)  
               #set ($cutPos = $text.substring($TEXT_MAX_LENGTH).indexOf(" ") + $TEXT_MAX_LENGTH) 
               #set ($text = $text.substring(0, $cutPos) + "...") 
            #end
         	<p>$text</p>
         #end                      
		</li>
	#end
</ul>