#if ($show)
   #foreach ($sm in $socialMedias)
   #set ($class = $sm.name.toLowerCase())
   <div class="or-social-media-content $class">   
      <div class="or-header">
         <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa ${sm.icon} fa-stack-1x fa-inverse"></i>
         </span>
         <i class="fa fa-clock-o"></i>
         $sm.timestamp      
      </div>   
      <div class="or-content or-wrapper-click">         
         <div class="or-social-image">
            <img src="$sm.thumbnail" class="or-img"></img>
         </div> 
         <a href="$sm.permalink">$sm.text</a>   	        	
      </div>	
      #if($sm.showStats)
      <div class="or-stats or-clearfix">
         #foreach ($stat in $sm.stats)  
            #if($stat.count >0)
            <i class="fa $stat.icon"></i>$stat.count
            #end
         #end
      </div>

      #end


      <!--div class="or-follow">
         <p class="normal"><a href="$sm.followlink">Följ oss på $sm.name</a></p>
      </div-->


   </div>


   #end

   <div class="or-follow">
      <p class="normal"><a href="$followlink">Följ oss på Facebook</a></p>
   </div>
#end