#if ($displayContact)
<a href="#contact" data-target=".or-kontakt-och-tyck-till" id="or-id-contact" class="w-inline-block or-contact-help-nav kontakta">
   <i class="fa fa-comments"></i>
   <div class="supportlinks contact-top ">Kontakta oss</div>
</a>   
#end

<div class="or-translate-wrapper">
  <a id="or-id-translate" class="w-inline-block or-support-nav translate" href="#"><i class="fa fa-language" style="font-size:21px"></i><div class="supportlinks">Translate</div></a>  
  <div class="or-language-modal">
    <h2>
      Translate
    </h2>
    <p class="normal">Use Google to translate the web site. We take no responsibility for the accuracy of the translation.</p>
    <div id="google_translate_element"></div>	
    <script type="text/javascript">
      function googleTranslateElementInit() {new google.translate.TranslateElement({pageLanguage: 'sv', gaTrack: true, gaId: 'UA-4830769-1'}, 'google_translate_element');}
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <p class="normal"><a href="http://www.orebro.se/4.24bb62e31573732d6851465.html">Örebro municipality in other languages</a></p>
    <a href="#" class="or-language-modal-close"><i class="fa fa-times"></i>Close</a>
  </div>
</div>

<a class="w-inline-block or-support-nav dela or-js-share" href="#"><i class="fa fa-share-alt" style="font-size:21px"></i><div class="supportlinks">Dela</div></a>  
#*
<a class="w-inline-block or-support-nav lattlast sv-hidden" href="#"><!--img class="sv-noborder" src="/images/18.765aa538149e26d5de4d917/1418052248045/lattlast.svg" width="15" alt="Lättläst"--><div class="supportlinks">Lättläst</div></a>   
<a class="w-inline-block or-support-nav teckensprak sv-hidden" href="#"><!--img class="sv-noborder" src="/images/18.765aa538149e26d5de4d91b/1418052646096/teckensprak.svg" width="20" alt="Teckenspråk"--><div class="supportlinks">Teckenspråk</div></a>
*#
<a class="w-inline-block or-support-nav lyssna rs_skip"accesskey="L" id="or-id-readspeaker" href="#0"> <i class="fa fa-volume-up" style="font-size:17px;"></i><div class="supportlinks">Lyssna</div></a>


#*
#if ($displayContact)
<a id="kontakt" class="w-inline-block or-contact-help-nav kontakta" href="#">
<i class="fa fa-comment"></i>
<div class="supportlinks contact-top ">Kontakta och tyck till</div>
<i class="fa fa-chevron-down contact-arrow"></i>
</a>

<script type="text/javascript">          
   $('#kontakt').click(function(){
      $('.kontakt-och-tyck-till').slideToggle(); 
      $(this).find('.contact-arrow').toggleClass('down'); 
    });         
</script>
#end
*#

<script type="text/javascript">   
	$(document).ready(function(){
		 // Translate popup
		 $('#or-id-translate').click(function(e) {
				e.preventDefault();
				e.stopPropagation();
				$('.or-language-modal').fadeToggle(200);
		 });      

		 $('.or-language-modal-close').click(function(e) {
				e.preventDefault();
				e.stopPropagation();
				$('.or-language-modal').fadeToggle(200);
		 }); 
		 
	});             
</script>
