#if ($interface.icon && $interface.icon != '')
    #set ($icon = "<i class='fa $interface.icon'></i>")
#end

#if ($interface.wrapperClass && $interface.wrapperClass != '')
<div class="$interface.wrapperClass">
#end

    <div class="or-collapse-button or-colorbg">
        <div class="or-icon-area">
            <span class="or-icon-plus"></span>
        </div>
    </div>
    <div class="or-collapsible-header or-js-collapsible-header">
        <div class="plusboxxrubrik">$!{icon}$!{contentName}</div>
    </div>

#if ($interface.wrapperClass && $interface.wrapperClass != '')
</div>
#end

<script type="text/javascript">
    (function () {

        function saveToSessionStorage (plusboxId) {
            var pageId = '${currentPageId}'
            var parsedSessionObject = sessionStorage.getItem('plusbox') ? JSON.parse(sessionStorage.getItem('plusbox')) : {}
            parsedSessionObject[pageId] = plusboxId
            sessionStorage.setItem('plusbox', JSON.stringify(parsedSessionObject))
        }

        function deleteFromSessionStorage (plusboxId) {
            var pageId = '${currentPageId}'
            var parsedSessionObject = sessionStorage.getItem('plusbox') ? JSON.parse(sessionStorage.getItem('plusbox')) : null
            if (parsedSessionObject && parsedSessionObject[pageId] && parsedSessionObject[pageId] === plusboxId) {
                parsedSessionObject[pageId] = ''
            }
            sessionStorage.setItem('plusbox', JSON.stringify(parsedSessionObject))
        }

        $(document).ready(function () {
            var header = $svjq("#svid${contentId} .or-plus-box-header")
            header.attr('tabindex', '0')

            header.on('click keydown', function (e) {
                if (e.which == '13' || e.type == 'click') {
                    $('#svid${contentId} .or-plus-box-content').slideToggle(200)
                    $(this).toggleClass('or-plus-box-active')
                    if ($(this).hasClass('or-plus-box-active')) {
                        saveToSessionStorage('plusbox${contentId}')
                    } else {
                        deleteFromSessionStorage('plusbox${contentId}')
                    }

                }
                if (e.type == 'click') {
                    $(this).blur()
                }
            })

            if (!sessionStorage.getItem('plusbox')) {
                var hash = window.location.hash.substring(1),
                        hashParent = $('#' + hash).parent().attr('id'),
                        svid = "svid${contentId}",
                        containsHash = $("#svid${contentId}").find('#' + hashParent).length

                if (!((hash != '') && ((hashParent == svid) || (containsHash > 0)))) {
                    $("#svid${contentId} .or-plus-box-content").hide()
                } else {
                    $("#svid${contentId} .or-plus-box-content").show()
                    $("#svid${contentId} .or-plus-box-header").addClass('or-plus-box-active')
                    document.querySelector('#svid${contentId}').scrollIntoView({
                        behavior: 'smooth'
                    })
                }
            } else {
                var pageId = '${currentPageId}'
                var parsedSessionObject = JSON.parse(sessionStorage.getItem('plusbox'))
                if (parsedSessionObject[pageId]) {
                    if (parsedSessionObject[pageId] === 'plusbox${contentId}') {
                        $('#svid${contentId} .or-plus-box-content').slideDown(200)
                        header.addClass('or-plus-box-active')
                        setTimeout(function () {
                            document.querySelector('#svid${contentId}').scrollIntoView({
                                behavior: 'smooth'
                            })
                        }, 800)
                    }
                }

            }
        })

    })()

</script>