/* Färg tema */

/* ny mobilmeny */
.or-mobile-nav-column.or-colorbg {
    background-color: #0081A2;
}

.or-mobile-nav-column:not(#mobileMenuBtn).or-colorbg:before {
    border-color: #0081A2 transparent transparent transparent;
}

.or-mobile-nav-column i.fa {
    color: #0081A2;
}

.or-mobile-nav-bar .or-push-nav-btn:hover {
    background-color: #02809e;
}

.or-tree {
    background: #ffffff;
}

.or-tree ul li a {
    background-color: #0081A2;
}

.or-tree ul li a:hover {
    background-color: #02809e;
}


.or-depth-1 li.or-current a {
    border-left: 4px solid #0081A2;
}

.or-tree .or-current a {
	background-color: #02809e;
    border-bottom: #02809e;
}

.or-tree .or-depth-1 .or-parent .or-toggle-icon:before {
color: #0081A2;
}

.or-tree .or-depth-2 .or-parent .or-toggle-icon:before {
color: #0081A2;
}

.or-tree .or-depth-1 .or-parent .or-toggle-icon, .or-tree .or-depth-2 .or-parent .or-toggle-icon, .or-tree .or-depth-3 .or-parent .or-toggle-icon, .or-tree .or-depth-4 .or-parent .or-toggle-icon, .or-tree .or-depth-5 .or-parent .or-toggle-icon {
	border: 2px solid rgba(174, 222, 239, 0.65);
}

.or-modal .or-kontakt-och-tyck-till h3 {
    color: #0081A2;
}

/* end ny mobilmeny */

/* kontakt modal */

.or-modal-close {
    background-color: #0081A2;
}

/* kontakt modal*/


.or-mobile-nav-bar .or-push-nav-btn {
    background-color: #0081A2;
}

.colortext{
color:#0081A2;
}

footer a {
  display: inline;
  border-bottom: 2px solid #8ad6f2;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: black;
  font-weight: 400;
  text-decoration: none;
}

footer a:hover {
  color: #000;
}

.contentlinks.linkblue {
  padding-right: 5px;
  padding-left: 1px;
  color: #0694d1;
}
.contentlinks.linkblue:hover {
  background-color: transparent;
  color: #35383b;
}


footer i.or-social-icon-bg { 
   color: #35383b !important;
   font-style:normal
}

footer i.or-social-icon-fg { 
   color: #faf9f8 !important;
   font-style:normal;
}
 
 
.leftnavicon {
   color:#877D77 !important;
}

/* Bakgrundsfärg för temat */
.submit.bg-color, /* Färg för sökknapp   */
.or-colorbg,
.or-forms input[type="submit"] {
   background-color: #0081A2;
}

.or-forms input[type="submit"] {
  border-top-color: #0081A2;
  border-bottom-color: #007c9c;
  background-color: #0081A2;
}

.or-forms input:hover[type="submit"] {
   border-top-color: #21a2c2;
  border-bottom-color: #278aa3;
  background-color: #278aa3;
}

.or-forms input:active[type="submit"] {
  border-top-color: #007c9c;
  border-bottom-color: #0081A2;
  background-color: #0081A2;
}

.or-formicon {
  background-color: #857672;
}

.or-colorborder {   
	border-color: rgb(0, 152, 219);
  border-color: rgba(0, 152, 219, 0.27);
}   


/* Text färg för temat */
h1.heading, 
.or-colortext,
.or-puff-program p.normal {
  color: #0081A2;
}   


/* Bakgrundsfärg för brödsmulsraden */
.or-breadcrumps-container{
   background-color: #ecebe6;
}

/* Färg för rubriker i nyhetslistning */
.rubriknyhetsruta,
.rubriknyhetsruta span {   
  color: #0081A2;
}

input:focus, select:focus, textarea:focus {
    border-color: rgba(0, 152, 219, 0.2);
    outline: 0px none;
    box-shadow: none;
}

/* Kommentarsrutor */
li.or-comment.or-colorborder {
  border-color: rgba(133, 118, 114, 0.49) rgba(133, 118, 114, 0.49) #857672;
  background-color: rgba(255, 255, 255, 0.78);
}   

/* Ramfärg för actionrutan */
.or-action-link.or-colorborder {
  border-color: rgba(174, 222, 239, 0.49);
}

.or-action-content span.fa {   
   background-color: #0081A2;
}

.or-action-content span.fa:after {
   border-left-color: #0081A2;
}


/* Färger för processverktyg */

.sol_process_flow_container {
    border-color: #0098BD;
}

ul.sol_steps.clearfix {
   color: #AEDEEF;
}
.sol_step{
     box-shadow: rgba(0, 152, 219, 0.68) 0px 0px 1px 0px inset;
}

li.sol_step:hover {
    background-color: #E6F7FF;
    color: #454545;
}

li.sol_step.active {
    background-color: #0081A2;
    box-shadow: 1px 8px 0px 0px #0081A2 inset, 0px 0px 5px 0px #086E9B inset;
    border-top: 6px solid #7DCAED;
}

li.sol_step.active:hover {
color:#fff;
}


}
.sol_process_flow_outer > div{
   border-color: #AEDEEF rgba(0, 152, 219, 0.34) rgba(0, 152, 219, 0.34);
   color: #0081A2;
}

/* Kalender */
.or-date-month-name,
.or-week-row.or-day-row,
.or-calendar-text-active, 
.or-calendar-text-active-event,
.or-calendar-columns.or-week-column,
.or-calendar-filter-container{
   background-color: #0081A2;
}


.or-month-container,
.or-calendar-text-active, 
.or-calendar-text-active-event,
.or-calendar-filter-container {  
  border-color:rgba(174, 222, 239, 0.50)
}

.or-week-text:hover a {
    color: #0081A2;
}

/* Plusbox */
.or-plus-box-header.or-plus-box-active:not(.or-plus-box-diskret-header) {
  background-color: #0081A2;
}

.or-plus-box-active:not(.or-plus-box-diskret-header)  .or-icon-plus::before {
	color: #0081A2;
}

.or-plus-box-header:hover .plusboxxrubrik{
	color: #0081A2;
}

.or-plus-box-active:not(.or-plus-box-diskret-header):hover .plusboxxrubrik{
	color: #fff;
}

.or-programpoang {
	border-color: #D0E9F2 ;
	color: #0098BD;
}

/* Kontakta oss fristående */

.or-contact-bar.or-colorborder {
  border-right: 2px solid rgba(174, 222, 239, 0.45);
  border-bottom: 2px solid rgba(174, 222, 239, 0.45);
  border-left: 2px solid rgba(174, 222, 239, 0.45);
}

.or-contact-left-column-container.or-colorbg {  
  background-color: rgba(174, 222, 239, 0.45);
}

.or-contacticon i {
  color:#0081A2;
}

/* action */
.calltoactionwrapper:hover > .or-ctatext {
  color: #0081A2;
  text-decoration: none;
  border-bottom: 2px solid #0081A2;
}

.or-action-content:hover a {
  color: #0081A2;
}

.or-action-content:hover .or-action-text{
  color: #0081A2;
  text-decoration:underline;
}

.or-action-link-small:hover .normal .or-action-text a:link{
 color: #0081A2;
}
 
/* puffar */
.or-puff-bild-trans-text > div:nth-child(1) {
background-color: rgba(0, 152, 219, 0.8);
}


.or-puff-bild-text h4{
color: #0081A2;
}

.or-puff-bild-text h4 a{
color: #0081A2;
}

.or-stor-bild-text-tv > div:nth-child(2) h2 {
    color: #0081A2;
}

.extra {
    padding: 5px 8px 10px;
    margin: 4px 5px;
    background-color: #0081A2;
    display: inline-block;
    color: #FFF;
}

.poem span {
    background-color: #0081A2;
}
.poem p {
    background-color: #0081A2;
    box-shadow: 10px 0 0 #0081A2, -10px 0 0 #0081A2;
}
/* tabell */

@media (max-width: 767px) {
.st-head-row {
  background-color: #0081A2;
}
}

.sv-table-portlet tbody tr:nth-child(2n) {
    border-bottom-color: rgba(133, 118, 114, 0.2);
    background-color: #E8F5F8;
}

.sv-table-portlet th {
    background-color: #0081A2;
}

.sv-table-portlet thead tr {
    background-color: #0081A2
}

/* ny tabell */
.sv-table-portlet tbody tr:nth-child(2n), .sv-text-portlet table.sv-standard tbody tr:nth-child(2n) {
    background-color: #E8F5F8;
}

.sv-table-portlet th, .sv-text-portlet table.sv-standard th {
    padding: 10px 10px 11px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #0081A2;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.sv-table-portlet th, .sv-text-portlet table.sv-standard th p{
   color: #fff;
   font-weight: 700;
}

.sv-text-portlet table.sv-standard th {
	background-color: #0081A2;
}


/* rubrik logo */
.or-header-topptext{
 color: #0081A2;
}

/* blogg commennt */
.or-blogginfo-blocks:hover .or-comment-expander-text {
	color: #0081A2;
}

.or-month-container .or-month-arrow:hover {
    color: #0081A2;
}

.sitevision-ui-bootstrap .ui-menu .ui-menu-item a.ui-state-focus,.sitevision-ui-bootstrap .ui-menu .ui-menu-item a.ui-state-active,.sitevision-ui-bootstrap .ui-menu .ui-menu-item a.ui-widget-content{font-weight:400;margin:0;color:#fff;background:#0081A2;background-color:#0081A2;background-repeat:repeat-x;background-image:-webkit-linear-gradient(top,#0081A2,#0081A2);background-image:-moz-linear-gradient(top,#0081A2,#0081A2);background-image:-o-linear-gradient(top,#0081A2,#0081A2);background-image:linear-gradient(to bottom,#0081A2,#0081A2);text-shadow:0 0px 0 rgba(0,0,0,0.0);border-color:#08C #08C #0077b3;border-color:rgba(0,0,0,0.0) rgba(0,0,0,0.0) rgba(0,0,0,0.0);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0081A2',endColorstr='#0081A2',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}


/* fakta */
.or-facts-block {
    border-color: #0098BD;
    background-color: #FFF;
}

.or-facts-block h4, h3, h2 {
    color: #0098BD;
}


/* Steg för steg program*/
.or-school-advantages-header {
    border-bottom: 8px solid #D0E9F2;
    border-right: 1px solid #D0E9F2;
    border-top: 1px solid #D0E9F2;
    border-left: 1px solid #D0E9F2;
}

.advantages-arrow-down {
    background-color:  #D0E9F2 ;
}

/* topprubrik programsida*/
.or-stor-bild-text-tv > div:nth-child(2) h1, .or-program-heading-container h1 {
    color: #0081A2;
}


/*mm menu */
.mm-header .mm-title a {
    color: #0081A2;
}

body .mm-menu.mm-vertical .mm-list li.mm-opened.mm-selected > a, body .mm-menu.mm-vertical .mm-list li.mm-opened.mm-selected > a.mm-subopen {
    background-color: #0081A2;
}

.mm-menu.mm-vertical .mm-list > li.mm-selected > a:not(.mm-subopen), .mm-menu.mm-vertical .mm-list > li.mm-selected > a.mm-subopen {
    background: none repeat scroll 0% 0% #0081A2;
}

.mm-menu.mm-vertical .mm-list > li.mm-selected > a:not(.mm-subopen), .mm-menu.mm-vertical .mm-list > li.mm-selected > a.mm-subopen a:hover {
    background-color: #0081A2;
}

.mm-list > li > a:hover {
    background-color: #F5FDFF;
}

body .mm-menu.mm-vertical .mm-list li.mm-opened > a:hover {
    background-color: #F5FDFF;
}

body .mm-menu.mm-vertical .mm-list li.mm-opened.mm-selected > a, body .mm-menu.mm-vertical .mm-list li.mm-opened.mm-selected > a.mm-subopen {
    background-color: #0081A2;
}

.sv-searchform-portlet .submit:hover {
    background-color: #0B7CAE;
}

.or-social-badge {
 background-color: #0081A2;
}


/* Söksida */
.sol-facetter p
{
	color:#0098BD;
}

li#sol-selected-facet
{
	background-color:#0098BD;
}

li.sol-selected-facet:hover
{
	background-color:#36BCDD!important;
	border-bottom-color:#36BCDD!important;
	color:#fff!important;
}

.or-show-hiden-facet-items:hover
{
	background-color:#07AAD2!important;
	border-bottom:2px dotted #07AAD2!important;
	color:#fff;
}

.sol-sok-ruta input.normal:last-child
{
	background-color:#0098BD;
}

.sol-sok-ruta input.normal:last-child:hover
{
	background-color:#0B7CAE;
	cursor:pointer;
}

.or-hidden-facet-items-selected
{
	background-color:#0098BD!important;
	border-bottom-color:#0098BD!important;
	color:#fff;
	transition:all 500ms ease 0;
}

.pagination .current
{
	background-color:#0098BD;
	border-color:#0098BD;
}

#or-paging-id a:hover
{
	background-color:#D9ECF4;
}

/* Nya processteg */
.sol-tab-button
{
	border:1px solid #AEDEEF;
}

.sol-tab-button.sol-tab-active
{
	background:#0098BD;
	border-top:5px solid #AEDEEF;
}

.sol-tab-button-container .sol-tab-button:not(.sol-tab-active):hover {
    color: #0098BD;    
}

.sol-accordion-heading.sol-tab-active
{
	background-color:#0098BD;
	border:2px solid #0098BD;
}

.sol-accordion-heading
{
	background-color:#fff;
	border:2px solid #AEDEEF;
	color:#35383b;
}

.sol-tabs-decoration-content
{
	background-color:#fff;
	border-bottom:1px solid #AEDEEF;
	border-left:1px solid #AEDEEF;
	border-right:1px solid #AEDEEF;
	border-top:5px solid #AEDEEF;
}
/* Slut Nya processteg */

/* Ny action */
.or-new-action-text{
	 border:1px solid rgba(174,222,239,0.49);
}

.or-ny-action:hover .normal .or-action-text a:link{
	 color:#0081A2;
}

.or-ny-action:hover .or-action-text a{
    color:#098bd;
    text-decoration:underline;
}

.or-ny-action span.fa{
	 background-color:#0081A2;
	 color:#fff;
}

.or-ny-action span.fa::after{
	 border-color:rgba(136,183,213,0) rgba(136,183,213,0) rgba(136,183,213,0) #0081A2;
}
/* Slut ny action */


/* Ny action formatmall */
.sv-font-action-penna:before, .sv-font-action-pil:before, .sv-font-action-karta:before, .sv-font-action-facebook:before, .sv-font-action-twitter:before {
    background-color: #0081A2;
}

body .sv-font-action-penna.or-wrapper-click:hover, body .sv-font-action-pil.or-wrapper-click:hover, body .sv-font-action-karta.or-wrapper-click:hover, body .sv-font-action-facebook.or-wrapper-click:hover, body .sv-font-action-twitter.or-wrapper-click:hover {
    color: #0081A2;
}

.sv-font-action-penna:hover a, .sv-font-action-pil:hover a, .sv-font-action-karta:hover a, .sv-font-action-facebook:hover a, .sv-font-action-twitter:hover a{
    color: #0081A2;
}

/* Slut ny action formatmall */


/* Action element */
.or-elmt-actn:hover .or-elmt-actn-link {
	color: #0081A2
}

.or-elmt-actn-row  {	
	border-color: rgb(174, 222, 239);
	border-color: rgba(174, 222, 239, 0.49);
}

.or-elmt-actn-row:after {
	border-left-color: #0081A2;
}

.or-elmt-actn-icon {
	background-color: #0081A2;	
}

/* Slut Action Element */