/* Färg tema */

/* ny mobilmeny */
.or-mobile-nav-bar .or-push-nav-btn {
    background-color: #55830e;
}

.or-mobile-nav-column.or-colorbg {
    background-color: #55830e;
}

.or-mobile-nav-column:not(#mobileMenuBtn).or-colorbg:before {
    border-color: #55830e transparent transparent transparent;
}

.or-mobile-nav-column i.fa {
    color: #55830e;
}

.or-mobile-nav-bar .or-push-nav-btn:hover {
    background-color: #dbe7c4;
}

.or-tree {
    background: #ffffff;
}

.or-tree ul li a {
    background-color: #55830e;
}

.or-tree ul li a:hover {
    background-color: #5a7728;
}


.or-depth-1 li.or-current a {
    border-left: 4px solid #55830e;
}

.or-tree .or-current a {
	background-color: #5a7728;
    border-bottom: #5a7728;
}

.or-tree .or-depth-1 .or-parent .or-toggle-icon:before {
color: #55830e;
}

.or-tree .or-depth-2 .or-parent .or-toggle-icon:before {
color: #55830e;
}

.or-tree .or-depth-1 .or-parent .or-toggle-icon, .or-tree .or-depth-2 .or-parent .or-toggle-icon, .or-tree .or-depth-3 .or-parent .or-toggle-icon, .or-tree .or-depth-4 .or-parent .or-toggle-icon, .or-tree .or-depth-5 .or-parent .or-toggle-icon {
	border: 2px solid #dbe7c4;
}

.or-modal .or-kontakt-och-tyck-till h3 {
    color: #55830e;
}

/* end ny mobilmeny */

 .colortext{
color:#55830e;
}

footer a {
  display: inline;
  border-bottom: 2px solid #dbe7c4;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: black;
  font-weight: 400;
  text-decoration: none;
}

footer a:hover {
  color: #000;
}

.contentlinks.linkblue {
  padding-right: 5px;
  padding-left: 1px;
  color: #55830e;
}
.contentlinks.linkblue:hover {
  background-color: transparent;
  color: #35383b;
}


footer i.or-social-icon-bg { 
   color: #35383b !important;
   font-style:normal
}

footer i.or-social-icon-fg { 
   color: #faf9f8 !important;
   font-style:normal;
}
 
 
.leftnavicon {
   color:#877D77 !important;
}

/* Bakgrundsfärg för temat */
.or-formicon {
  background-color: #857672;
}

/* Bakgrundsfärg för temat */
.submit.bg-color, /* Färg för sökknapp   */
.or-colorbg,
.or-forms input[type="submit"] {
   background-color: #55830e;
}

.or-forms input[type="submit"] {
   background-color: #35383b;
}

.or-colorborder {   
   border-color: #dbe7c4;
}   


/* Text färg för temat */
h1.heading, 
.or-colortext {
  color: #55830e;
}   


/* Bakgrundsfärg för brödsmulsraden */
.or-breadcrumps-container{
   background-color: #ecebe6;
}

/* Färg för rubriker i nyhetslistning */
.rubriknyhetsruta,
.rubriknyhetsruta span {   
  color: #55830e;
}

input:focus, select:focus, textarea:focus {
    border-color: #dbe7c4;
    outline: 0px none;
    box-shadow: none;
}

/* Kommentarsrutor */
li.or-comment.or-colorborder {
  border-color: rgba(133, 118, 114, 0.49) rgba(133, 118, 114, 0.49) #857672;
  background-color: rgba(255, 255, 255, 0.78);
}   

/* Ramfärg för actionrutan */
.or-action-link.or-colorborder {
  border-color: #dbe7c4;
}

.or-action-content span.fa {   
   background-color: #55830e;   
}

.or-action-content span.fa:after {
   border-left-color: #55830e;
}


/* Färger för processverktyg */


.sol_process_flow_container {
    border-color: #55830e;
}

ul.sol_steps.clearfix {
   color: #AEDEEF;
}
.sol_step {
    box-shadow: 0px 0px 1px 0px rgba(111, 147, 51, 0.7) inset;
}

li.sol_step:hover {
    background-color: #EAF2DC;
    color: #35383b;
}

li.sol_step.active {
    background-color: #55830e;
    box-shadow: 1px 8px 0px 0px #55830e inset, 0px 0px 3px 0px #385012 inset;
    border-top: 6px solid #c7d99a;
}

li.sol_step.active:hover {
color: #fff;
}

.sol_process_flow_outer > div{
   border-color: #AEDEEF rgba(0, 152, 219, 0.34) rgba(0, 152, 219, 0.34);
   color: #55830e;
}

/* Kalender */
.or-date-month-name,
.or-week-row.or-day-row,
.or-calendar-text-active, 
.or-calendar-text-active-event,
.or-calendar-columns.or-week-column,
.or-calendar-filter-container{
   background-color: #55830e;
}


.or-month-container,
.or-calendar-text-active, 
.or-calendar-text-active-event,
.or-calendar-filter-container {  
  border-color: #dbe7c4;
}

.or-week-text:hover a {
    color: #55830e;
}


/* Plusbox */
.or-plus-box-header.or-plus-box-active:not(.or-plus-box-diskret-header) {
  background-color: #55830e;
}

.or-plus-box-active:not(.or-plus-box-diskret-header)  .or-icon-plus::before {
	color: #55830e;
}

.or-plus-box-header:hover .plusboxxrubrik{
	color: #55830e;
}

.or-plus-box-active:not(.or-plus-box-diskret-header):hover .plusboxxrubrik{
	color: #fff;
}

.or-programpoang {
	border-color: #DCEDBB;
	color:  #55830e;
}



/* Kontakta oss fristående */

.or-contact-bar.or-colorborder {
  border-right: 2px solid #dbe7c4;
  border-bottom: 2px solid #dbe7c4;
  border-left: 2px solid #dbe7c4;
}

.or-contact-left-column-container.or-colorbg {  
  background-color: #dbe7c4;
}

.or-contacticon i {
  color: #55830e;
}

/* action */
.calltoactionwrapper:hover > .or-ctatext {
  color: #55830e;
  text-decoration: none;
  border-bottom: 2px solid #55830e;
}

.or-action-content:hover a {
  color: #55830e;
}

.or-action-content:hover .or-action-text{
  color: #55830e;
  text-decoration:underline;
}

.or-action-link-small:hover .normal .or-action-text a{
 color: #55830e;
}
 
 /* actions */
 
 .or-action-link {
    border-color: #dbe7c4;
}

.or-arrow-left::after {
    border-color: rgba(136, 183, 213, 0) rgba(136, 183, 213, 0) rgba(136, 183, 213, 0) #55830e;
}
 
/* puffar */
.or-puff-bild-trans-text > div:nth-child(1) {
    background-color: rgba(111, 147, 51, 0.88);
}

.or-stor-bild-text-actions { 
   background-color: rgba(192, 218, 146, 0.2);
}

.or-puff-bild-text h4{
color: #55830e;
}

.or-puff-bild-text h4 a{
color: #55830e;
}

.or-stor-bild-text-tv > div:nth-child(2) h2 {
    color: #55830e;
}

.extra {
    background-color: #55830e;
}

.poem span {
    background-color: #55830e;
}
.poem p {
    background-color: #55830e;
    box-shadow: 10px 0 0 #55830e, -10px 0 0 #55830e;
}

.topp-storbild-textblock {
    background-color: #FFF;
}

.or-stor-bild-text {
    background-color: #FFF;
}

.or-stor-text-actions {
    background-color: #EAF2DC;
}

.or-stor-bild-text-2 {
    background-color: #FFF;
}

/*slut puffar */


/* tabell */

@media (max-width: 767px) {
.st-head-row {
  background-color: #55830e;
}
}

.sv-table-portlet tbody tr:nth-child(2n) {
    border-bottom-color: rgba(133, 118, 114, 0.2);
    background-color: #EAF2DC;
}

.sv-table-portlet thead tr {
    background-color: #55830e;
}

.sv-table-portlet th {
    background-color: #55830e;
}

/* ny tabell */
.sv-table-portlet tbody tr:nth-child(2n), .sv-text-portlet table.sv-standard tbody tr:nth-child(2n) {
    background-color: #EAF2DC;
}

.sv-table-portlet th, .sv-text-portlet table.sv-standard th {
    padding: 10px 10px 11px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #55830e;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.sv-table-portlet th, .sv-text-portlet table.sv-standard th p{
   color: #fff;
   font-weight: 700;
}

.sv-text-portlet table.sv-standard th {
	background-color: #55830e;
}
/* rubrik logo */
.or-header-topptext{
 color: #55830e;
}

/* blogg commennt */
.or-blogginfo-blocks:hover .or-comment-expander-text {
	color: #55830e;
}

.or-month-container .or-month-arrow:hover {
    color: #55830e;
}

.sitevision-ui-bootstrap .ui-menu .ui-menu-item a.ui-state-focus,.sitevision-ui-bootstrap .ui-menu .ui-menu-item a.ui-state-active,.sitevision-ui-bootstrap .ui-menu .ui-menu-item a.ui-widget-content{font-weight:400;margin:0;color:#fff;background:#55830e;background-color:#55830e;background-repeat:repeat-x;background-image:-webkit-linear-gradient(top,#55830e,#55830e);background-image:-moz-linear-gradient(top,#55830e,#55830e);background-image:-o-linear-gradient(top,#55830e,#55830e);background-image:linear-gradient(to bottom,#55830e,#55830e);text-shadow:0 0px 0 rgba(0,0,0,0.0);border-color:#08c #0088Cc #0077b3;border-color:rgba(0,0,0,0.0) rgba(0,0,0,0.0) rgba(0,0,0,0.0);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#55830e',endColorstr='#55830e',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}

/* blogg */

.or-blog-wrapper {
    border-color: #55830e;
}

/* fakta */
.or-facts-block {
    border-color: #55830e;
    background-color: #FFF;
}

.or-facts-block h4, h3, h2 {
    color: #55830e;
}

/* Steg för steg program*/
.or-school-advantages-header {
    border-bottom: 8px solid #DCEDBB;
    border-right: 1px solid #DCEDBB;
    border-top: 1px solid #DCEDBB;
    border-left: 1px solid #DCEDBB;
}

.advantages-arrow-down {
    background-color:  #DCEDBB ;
}

/* topprubrik programsida*/
.or-stor-bild-text-tv > div:nth-child(2) h1, .or-program-heading-container h1 {
    color: #55830e;
}


/*mm menu */
.mm-header .mm-title a {
    color: #55830e;
}

body .mm-menu.mm-vertical .mm-list li.mm-opened.mm-selected > a, body .mm-menu.mm-vertical .mm-list li.mm-opened.mm-selected > a.mm-subopen {
    background-color: #55830e;
}

.mm-menu.mm-vertical .mm-list > li.mm-selected > a:not(.mm-subopen), .mm-menu.mm-vertical .mm-list > li.mm-selected > a.mm-subopen {
    background: none repeat scroll 0% 0% #55830e;
}

.mm-menu.mm-vertical .mm-list > li.mm-selected > a:not(.mm-subopen), .mm-menu.mm-vertical .mm-list > li.mm-selected > a.mm-subopen a:hover {
    background-color: #55830e;
}

.mm-list > li > a:hover {
    background-color: #EAF2DC;
}

body .mm-menu.mm-vertical .mm-list li.mm-opened > a:hover {
    background-color:  #EAF2DC;
}

body .mm-menu.mm-vertical .mm-list li.mm-opened.mm-selected > a, body .mm-menu.mm-vertical .mm-list li.mm-opened.mm-selected > a.mm-subopen {
    background-color: #55830e;
}


.sv-searchform-portlet .submit:hover {
    background-color: #597729;
}



/* Söksida */
.sol-facetter p {
    color: #55830e;
}

li#sol-selected-facet {
    background-color: #55830e;
}

li.sol-selected-facet:hover {
    background-color: rgba(0, 152, 189, 0.5);
    border-bottom-color: rgba(0, 152, 189, 0.5);
}

.or-show-hiden-facet-items:hover {
 background-color: #7FA245 !important;
 border-bottom: 2px dotted #7FA245 !important;
 color: #fff;
}

.sol-sok-ruta input.normal:last-child {
    background-color: #55830e;
}
.sol-sok-ruta input.normal:last-child:hover {
    background-color: #597729;
    cursor: pointer;
}

li.sol-selected-facet:hover {
    background-color: #8CB051 !important;
    border-bottom-color: #8CB051 !important;
    color: #fff !important;
}

.or-hidden-facet-items-selected {
    transition: all 500ms ease 0s;
    background-color: #E1E8C7 !important;
    border-bottom-color: #E1E8C7 !important;
}

.or-hidden-facet-items-selected {
 transition: all 500ms ease 0s;
 background-color: #55830e !important;
 border-bottom-color: #55830e !important;
 color: #fff;
}

.pagination .current {
    background-color: #55830E ;
		border-color: #55830E ;
}

#or-paging-id a:hover {
    background-color: #E1E8C7;
}

/*nya processteg */
.sol-tab-button {
 border: 1px solid rgba(192, 218, 146, 0.35);
}

.sol-tab-button.sol-tab-active {
 background: #55830E; 
 border-top: 5px solid #C0DA92;
}

.sol-tab-button-container .sol-tab-button:not(.sol-tab-active):hover {
    color: #55830E; 
}

.sol-accordion-heading.sol-tab-active {
 background-color: #55830E;
 border: 2px solid #55830E;
}

.sol-accordion-heading {
 border: 2px solid rgba(192, 218, 146, 0.6);
 background-color:#fff;
 color:#35383b;
}

.sol-tabs-decoration-content{
 background-color: #fff;
 border-top: 5px solid rgba(192, 218, 146, 0.35);
 border-left: 1px solid rgba(192, 218, 146, 0.35);
 border-right: 1px solid rgba(192, 218, 146, 0.35);
 border-bottom: 1px solid rgba(192, 218, 146, 0.35);
}

/* Ny action */
.or-new-action-text {
    border: 1px solid #dbe7c4;
}

.or-ny-action:hover .normal .or-action-text a:link{
	color:#55830e;
}

.or-ny-action:hover .or-action-text a{
	color:#55830e;
    text-decoration: underline;
}

.or-ny-action span.fa{
	background-color: #55830e;
	color:#fff;
}

.or-ny-action span.fa::after {
	border-color: rgba(136, 183, 213, 0) rgba(136, 183, 213, 0) rgba(136, 183, 213, 0) #55830e;
}
/* Slut ny action */

/* Ny action formatmall */
.sv-font-action-penna:before, .sv-font-action-pil:before, .sv-font-action-karta:before, .sv-font-action-facebook:before, .sv-font-action-twitter:before {
    background-color: #55830e;
}

body .sv-font-action-penna.or-wrapper-click:hover, body .sv-font-action-pil.or-wrapper-click:hover, body .sv-font-action-karta.or-wrapper-click:hover, body .sv-font-action-facebook.or-wrapper-click:hover, body .sv-font-action-twitter.or-wrapper-click:hover {
    color: #55830e;
}

.sv-font-action-penna:hover a, .sv-font-action-pil:hover a, .sv-font-action-karta:hover a, .sv-font-action-facebook:hover a, .sv-font-action-twitter:hover a{
    color: #55830e;
}

/* Slut ny action formatmall */


/* Action element */
.or-elmt-actn:hover .or-elmt-actn-link {
	color: #55830e
}

.or-elmt-actn-row  {	
  border-color: #dbe7c4;
}

.or-elmt-actn-row:after {
	border-left-color: #55830e;
}

.or-elmt-actn-icon {
	background-color: #55830e;	
}

/* Slut Action Element */