/* Färg tema */

 .colortext{
color:#857672;
}

footer a {
  display: inline;
  border-bottom: 2px solid #dcdcdc;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: black;
  font-weight: 400;
  text-decoration: none;
}

footer a:hover {
  color: #000;
}

.contentlinks.linkblue {
  padding-right: 5px;
  padding-left: 1px;
  color: #857672;
}
.contentlinks.linkblue:hover {
  background-color: transparent;
  color: #35383b;
}


footer i.or-social-icon-bg { 
   color: #35383b !important;
   font-style:normal
}

footer i.or-social-icon-fg { 
   color: #faf9f8 !important;
   font-style:normal;
}
 
 
.leftnavicon {
   color:#877D77 !important;
}

/* Bakgrundsfärg för temat */
.submit.bg-color, /* Färg för sökknapp   */
.or-colorbg,
.or-forms input[type="submit"] {
   background-color: #857672;
}

.or-forms input[type="submit"] {
  border-top-color: #857672;
  border-bottom-color: #635b59;
  background-color: #857672;
}

.or-forms input:hover[type="submit"] {
  border-top-color: #857672;
  border-bottom-color: #635b59;
  background-color: #635b59;
}

.or-forms input:active[type="submit"] {
  border-top-color: #635b59;
  border-bottom-color: #857672;
  background-color: #857672;
}

.or-formicon {
  background-color: #857672;
}

.or-colorborder {   
   border-color: #dcdcdc;
}   


/* Text färg för temat */
h1.heading, 
.or-colortext {
  color: #857672;
}   


/* Bakgrundsfärg för brödsmulsraden */
.or-breadcrumps-container{
   background-color: #ecebe6;
}

/* Färg för rubriker i nyhetslistning */
.rubriknyhetsruta,
.rubriknyhetsruta span {   
  color: #857672;
}

input:focus, select:focus, textarea:focus {
    border-color: #dcdcdc;
    outline: 0px none;
    box-shadow: none;
}

/* Kommentarsrutor */
li.or-comment.or-colorborder {
  border-color: rgba(133, 118, 114, 0.49) rgba(133, 118, 114, 0.49) #857672;
  background-color: rgba(255, 255, 255, 0.78);
}   

/* Ramfärg för actionrutan */
.or-action-link.or-colorborder {
  border-color: #dcdcdc);
}

.or-action-content span.fa {   
   background-color: #857672;   
}

.or-action-content span.fa:after {
   border-left-color: #857672;
}


/* Färger för processverktyg */

.sol_process_flow_container {
    border-color: #857672;
}

ul.sol_steps.clearfix {
   color: #AEDEEF;
}
.sol_step {
    box-shadow: 0px 0px 1px 0px #857672 inset;
}

li.sol_step:hover {
    background-color: #F5F1F0;
    color: #35383B;
}

li.sol_step.active {
    background-color: #857672;
    box-shadow: 1px 8px 0px 0px #857672 inset, 0px 0px 3px 0px #5C595B inset;
    border-top: 6px solid #AAA19F;
}

li.sol_step.active:hover {
color:#fff;
}

li.sol_step.active:hover {
#fff;
}

.sol_process_flow_outer > div{
   border-color: #AEDEEF rgba(0, 152, 219, 0.34) rgba(0, 152, 219, 0.34);
   color: #857672;
}

/* Kalender */
.or-date-month-name,
.or-week-row.or-day-row,
.or-calendar-text-active, 
.or-calendar-text-active-event,
.or-calendar-columns.or-week-column,
.or-calendar-filter-container{
   background-color: #857672;
}


.or-month-container,
.or-calendar-text-active, 
.or-calendar-text-active-event,
.or-calendar-filter-container {  
  border-color: #dcdcdc;
}

.or-week-text:hover a {
    color: #857672;
}


/* Plusbox */
.or-plus-box-header.or-colorborder {
  border-color: #dcdcdc;
}


.or-plus-box-header.or-colorborder {
  border-color: #dcdcdc;
}

.or-plus-box-header.or-plus-box-active {
   background-color: #857672;
}

h4.plusboxxrubrik.or-plus-box-active {
   color:white;
}

.or-collapse-button.or-colorbg.or-plus-box-active {
  background-color: rgba(255,255,255,0.25);
}


.or-plus-box-header.or-colorborder {
  border-color: #dcdcdc;
}

.or-plus-box-header.or-plus-box-active {
  background-color: #857672;
}

.or-wrapper-click.or-plus-box-header.or-colorborder.or-plus-box-active p.normal {
    color: #FFF;
}

.or-plus-box-program:hover .plusboxxrubrik {
  color: #fff;
}

.or-plus-box-program .or-collapse-button {
    background-color: #857672;
}

.or-programpoang {
    border-color:#857672;
    color:#857672;
}

.or-plus-box-program .or-collapse-button.or-plus-box-active {
    background-color: #dcdcdc !important;
}

.or-plus-box-program .or-icon-plus {
    color: #857672;
}



/* Kontakta oss fristående */

.or-contact-bar.or-colorborder {
  border-right: 2px solid #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
  border-left: 2px solid #dcdcdc;
}

.or-contact-left-column-container.or-colorbg {  
  background-color: #dcdcdc;
}

.or-contacticon i {
  color: #857672;
}

/* action */
.calltoactionwrapper:hover > .or-ctatext {
  color: #857672;
  text-decoration: none;
  border-bottom: 2px solid #857672;
}

.or-arrow-left::after {
    border-color: rgba(136, 183, 213, 0) rgba(136, 183, 213, 0) rgba(136, 183, 213, 0) #857672;
}

.or-action-content:hover a {
  color: #857672;
}

.or-action-content:hover .or-action-text{
  color: #857672;
  text-decoration:underline;
}
 
.or-action-link:hover {
    box-shadow: 0px 0px 6px 0px #E7E7E7;
}

.or-action-link-small:hover .normal .or-action-text a:link {
 color: #857672;
}
 
 
 /* actions */
 
 .or-action-link {
    border-color: #dcdcdc;
}
 
 
 
/* Hover plusboxar */
.or-wrapper-click.or-plus-box-header.or-colorborder:hover .plusboxxrubrik{
	color: #857672;
}

.or-wrapper-click.or-plus-box-header.or-colorborder.or-plus-box-active .plusboxxrubrik {
  color: #fff;
}

/* puffar */
.or-puff-bild-trans-text > div:nth-child(2) {
    background-color: rgba(225, 137, 17, 0.81);
}

.or-puff-bild-trans-text > div:nth-child(1) {
 background-color: rgba(133, 118, 114, 0.8);
}

.or-puff-bild-text h4{
color: #857672;
}

.or-puff-bild-text h4 a{
color: #857672;
}


.or-stor-bild-text-tv > div:nth-child(2) h2 {
    color: #857672;
}

.extra {
    background-color: #857672;
}

.poem span {
    background-color: #857672;
}

.topp-storbild-textblock {
    background-color: #fff;
}

.or-stor-bild-text {
    background-color: #fff;
}

.or-stor-text-actions {
    background-color: #fff;
}

.or-stor-bild-text-2 {
    background-color: #Fff;
}

/*slut puffar */


/* puff program */

.or-puff-program p.normal {
    color: #857672;
}

.sv-table-portlet tbody tr:nth-child(2n) {
    border-bottom-color: rgba(133, 118, 114, 0.2);
    background-color: #EAE5E5;
}

.or-puff-program:hover {
    box-shadow: 0px 0px 6px 0px #E7E7E7;
}

/* tabell */

@media (max-width: 768px) {
.st-head-row {
  background-color: #857672;
}
}

.sv-table-portlet thead tr {
    background-color: #857672;
}

.sv-table-portlet th {
    background-color: #857672;
    border-bottom: 1px solid #A9A4A3;
}

/* ny tabell */
.sv-table-portlet tbody tr:nth-child(2n), .sv-text-portlet table.sv-standard tbody tr:nth-child(2n){
    background-color: #F2F2F2;
}

.sv-table-portlet th, .sv-text-portlet table.sv-standard th {
    padding: 10px 10px 11px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #857672;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.sv-table-portlet th, .sv-text-portlet table.sv-standard th p{
color: #fff;
font-weight: 700;
}

.sv-text-portlet table.sv-standard th {
    background-color: #857672;
}

/* rubrik logo */
.or-header-topptext h2 {
 color: #857672;
}

/* blogg commennt */
.or-blogginfo-blocks:hover .or-comment-expander-text {
	color: #857672;
}

.or-month-container .or-month-arrow:hover {
    color: #857672;
}

.sitevision-ui-bootstrap .ui-menu .ui-menu-item a.ui-state-focus,.sitevision-ui-bootstrap .ui-menu .ui-menu-item a.ui-state-active,.sitevision-ui-bootstrap .ui-menu .ui-menu-item a.ui-widget-content{font-weight:400;margin:0;color:#fff;background:#857672;background-color:#857672;background-repeat:repeat-x;background-image:-webkit-linear-gradient(top,#857672,#857672);background-image:-moz-linear-gradient(top,#857672,#857672);background-image:-o-linear-gradient(top,#857672,#857672);background-image:linear-gradient(to bottom,#857672,#857672);text-shadow:0 0px 0 rgba(0,0,0,0.0);border-color:#08c #0088Cc #0077b3;border-color:rgba(0,0,0,0.0) rgba(0,0,0,0.0) rgba(0,0,0,0.0);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#857672',endColorstr='#857672',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}



/* blogg */

.or-blog-wrapper {
    border-color: #857672;
}

/* fakta */
.or-facts-block {
    border-color: #857672;
    background-color: #FFF;
}

.or-facts-block h4, h3, h2 {
    color: #857672;
}

/* steg för steg program */
.or-school-advantages-header {
    border-bottom: 8px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    border-top: 1px solid #DCDCDC;
    border-left: 1px solid #DCDCDC;
}

.advantages-arrow-down {
    background-color:  #DCDCDC;
}

/* topprubrik programsida*/
.or-stor-bild-text-tv > div:nth-child(2) h1, .or-program-heading-container h1 {
    color: #857672;
}

/*mm menu */
.mm-header .mm-title a {
    color: #857672;
}

body .mm-menu.mm-vertical .mm-list li.mm-opened.mm-selected > a, body .mm-menu.mm-vertical .mm-list li.mm-opened.mm-selected > a.mm-subopen {
    background-color: #857672;
}

.mm-menu.mm-vertical .mm-list > li.mm-selected > a:not(.mm-subopen), .mm-menu.mm-vertical .mm-list > li.mm-selected > a.mm-subopen {
    background: none repeat scroll 0% 0% #857672;
}

.mm-menu.mm-vertical .mm-list > li.mm-selected > a:not(.mm-subopen), .mm-menu.mm-vertical .mm-list > li.mm-selected > a.mm-subopen a:hover {
    background-color: #857672;
}

.mm-list > li > a:hover {
    background-color: #dcdcdc;
}

body .mm-menu.mm-vertical .mm-list li.mm-opened > a:hover {
    background-color: #dcdcdc;
}

body .mm-menu.mm-vertical .mm-list li.mm-opened.mm-selected > a, body .mm-menu.mm-vertical .mm-list li.mm-opened.mm-selected > a.mm-subopen {
    background-color: #857672;
}

.sv-searchform-portlet .submit:hover {
    background-color: #857672;
}

/* skolwebb toppbild */

.or-stor-bild-text-actions {
background-color: #fff;
}
.or-social-badge {
 background-color: #857672;
}




/* Söksida */
.sol-facetter p {
    color: #857672;
}

li#sol-selected-facet {
    background-color: #857672;
}

li.sol-selected-facet:hover {
    background-color: #857672;
    border-bottom-color: #857672;
}

.or-show-hiden-facet-items:hover {
    background-color: #857672 !important;
    border-bottom: 0px dotted #EDEDED !important;
    color: #fff;
}

.sol-sok-ruta input.normal:last-child {
    background-color: #857672;
}
.sol-sok-ruta input.normal:last-child:hover {
    background-color: #857672;
    cursor: pointer;
}

li.sol-selected-facet:hover {
    background-color: #93908F !important;
    border-bottom-color: #93908F !important;
}

.or-show-hiden-facet-items {
    background-color: #35383B;
    color: #fff;
}

.or-show-hiden-facet-items {
    background-color: rgba(133, 118, 114, 0.2);
    color: #35383B;
    border-bottom: 0px !important;
}

.or-hidden-facet-items-selected {
    transition: all 500ms ease 0s;
    background-color: #857672 !important;
    border-bottom: 0px none !important;
    color: rgb(255, 255, 255);
}

.pagination .current {
    background-color: #35383B;
}

#or-paging-id a:hover {
 background-color: #A2A0A0;
 color: #FFF;
}


/*nya processteg */
.sol-tab-button {
 border: 1px solid #e4e4e4;
}

.sol-tab-button.sol-tab-active {
 background: #857672;
 border-top: 5px solid #e4e4e4;
}

.sol-tab-button-container .sol-tab-button:hover {
    color: #857672;    
}

.sol-accordion-heading {
    background-color: #fff;
    color: #35383B;
    border:2px solid #e4e4e4;
}

.sol-accordion-heading.sol-tab-active{
    background-color: #857672;
    color: #fff;
    border: 2px solid #857672;
}

.sol-accordion-heading.sol-tab-active:after{
    color: #fff;
}


.sol-tabs-decoration-content{
 border-top: 5px solid #e4e4e4;
 border-left: 1px solid #e4e4e4;
 border-right: 1px solid #e4e4e4;
 border-bottom: 1px solid #e4e4e4;
}

/* Ny action */
.or-ny-action:hover .normal .or-action-text a:link{
	color:#35383b;   
}

.or-ny-action:hover .or-action-text a{
   color:#35383b;
   text-decoration:underline;
}

.or-ny-action span.fa{
	background-color:#857672;
	color:#fff;
}

.or-ny-action span.fa::after{
	border-color:rgba(136,183,213,0) rgba(136,183,213,0) rgba(136,183,213,0) #857672;
}
/* Slut Ny action */

/* Ny action formatmall */
.sv-font-action-penna:before, .sv-font-action-pil:before, .sv-font-action-karta:before, .sv-font-action-facebook:before, .sv-font-action-twitter:before {
    background-color: #857672;
}

body .sv-font-action-penna.or-wrapper-click:hover, body .sv-font-action-pil.or-wrapper-click:hover, body .sv-font-action-karta.or-wrapper-click:hover, body .sv-font-action-facebook.or-wrapper-click:hover, body .sv-font-action-twitter.or-wrapper-click:hover {
    color: #35383b;
}

.sv-font-action-penna:hover a, .sv-font-action-pil:hover a, .sv-font-action-karta:hover a, .sv-font-action-facebook:hover a, .sv-font-action-twitter:hover a{
    color: #35383b;
}

/* Slut ny action formatmall */
