#set ($errorClass = $propertyUtil.getNestedString($portlet, 'searchErrorFont', 'selectorText'))
#if (false)##$propertyUtil.getString($portlet, 'errorMessage') != '')
   <p class="$errorClass">
      $propertyUtil.getString($portlet, 'errorMessage')
   </p>
#else
   #set ($scriptUtil = $sitevisionUtils.scriptUtil)
   #set ($searchPhrase = $endecUtil.escapeXML(${searchResult.getDisplayQuery()}))
   ##set ($pattern = $propertyUtil.getString($bundle, 'noHitsPatternText'))
   #set ($pattern = "Din sökning <strong>{0}</strong> gav ingen träff") 
   #set ($argsList = $sitevisionUtils.instanceCreatorUtil.listWrapper)
   $argsList.add($searchPhrase)
 

#set ($currentPageNode = $portletContextUtil.getCurrentPage())
#set ($facetTarget = $propertyUtil.getString($currentPageNode,"preselectedfacet"))
#set ($currentPageNode = $portletContextUtil.getCurrentPage())
#set ($facetTarget = $propertyUtil.getString($currentPageNode,"preselectedfacet"))      
#set ($facetsBgColor = $propertyUtil.getNestedString($portlet, 'facetsBackgroundColor', 'htmlHexValue', ''))
#if ($facetsBgColor != '')
   #set ($facetsBgColor = '; background-color:' + $facetsBgColor)
#end
#set ($selectedFacetBgColor = $propertyUtil.getNestedString($portlet, 'selectedFacetValueBackgroundColor', 'htmlHexValue', ''))
#if ($selectedFacetBgColor != '')
   #set ($selectedFacetBgColor = '; background-color:' + $selectedFacetBgColor)
#end
#set ($facetNameClass = $propertyUtil.getNestedString($portlet, 'facetNameFont', 'selectorText'))
#set ($facetValueClass = $propertyUtil.getNestedString($portlet, 'facetValueFont', 'selectorText'))
#set ($selectedFacetValueClass = $propertyUtil.getNestedString($portlet, 'selectedFacetValueFont', 'selectorText'))
#set ($hideEmptyFacetValue = $propertyUtil.getBoolean($portlet, 'hideEmptyFacetValue'))
#set ($updateResultFunctionName = $propertyUtil.getString($portlet, 'updateResultFunctionName'))
#set ($facetLinkRenderer = $sitevisionUtils.linkRenderer)
#set ($query = $endecUtil.escapeXML(${searchResult.getQuery()}))   

   <div class="or-no-search-hits">
   <p class="$errorClass or-hit-count">
      $scriptUtil.messageFormat($pattern, $argsList.unwrap())
   </p>
   <p class="$errorClass">
      $propertyUtil.getString($bundle, 'searchTipText')
   </p>
   <ul style="margin-top:0.2em">
      <li class="$errorClass">$propertyUtil.getString($bundle, 'checkSpellingText')</li>
      <li class="$errorClass">$propertyUtil.getString($bundle, 'useGenericText')</li>
      <li class="$errorClass">$propertyUtil.getString($bundle, 'useSynonymText')</li>
      <li class="$errorClass">$propertyUtil.getString($bundle, 'useWildcardText')</li>
   </ul>
   </div>
#end

<script type="text/javascript">

var link = '$link';

</script>