#set ($errorClass = $propertyUtil.getNestedString($portlet, 'searchErrorFont', 'selectorText'))
#if (false)##$propertyUtil.getString($portlet, 'errorMessage') != '')
   <p class="$errorClass">
      $propertyUtil.getString($portlet, 'errorMessage')
   </p>
#else
   #set ($scriptUtil = $sitevisionUtils.scriptUtil)
   #set ($searchPhrase = $endecUtil.escapeXML(${searchResult.getDisplayQuery()}))
   ##set ($pattern = $propertyUtil.getString($bundle, 'noHitsPatternText'))
   #set ($pattern = "Din sökning <strong>{0}</strong> gav ingen träff") 
   #set ($argsList = $sitevisionUtils.instanceCreatorUtil.listWrapper)
   $argsList.add($searchPhrase)
 

#set ($currentPageNode = $portletContextUtil.getCurrentPage())
#set ($facetTarget = $propertyUtil.getString($currentPageNode,"preselectedfacet"))
#set ($currentPageNode = $portletContextUtil.getCurrentPage())
#set ($facetTarget = $propertyUtil.getString($currentPageNode,"preselectedfacet"))      
#set ($facetsBgColor = $propertyUtil.getNestedString($portlet, 'facetsBackgroundColor', 'htmlHexValue', ''))
#if ($facetsBgColor != '')
   #set ($facetsBgColor = '; background-color:' + $facetsBgColor)
#end
#set ($selectedFacetBgColor = $propertyUtil.getNestedString($portlet, 'selectedFacetValueBackgroundColor', 'htmlHexValue', ''))
#if ($selectedFacetBgColor != '')
   #set ($selectedFacetBgColor = '; background-color:' + $selectedFacetBgColor)
#end
#set ($facetNameClass = $propertyUtil.getNestedString($portlet, 'facetNameFont', 'selectorText'))
#set ($facetValueClass = $propertyUtil.getNestedString($portlet, 'facetValueFont', 'selectorText'))
#set ($selectedFacetValueClass = $propertyUtil.getNestedString($portlet, 'selectedFacetValueFont', 'selectorText'))
#set ($hideEmptyFacetValue = $propertyUtil.getBoolean($portlet, 'hideEmptyFacetValue'))
#set ($updateResultFunctionName = $propertyUtil.getString($portlet, 'updateResultFunctionName'))
#set ($facetLinkRenderer = $sitevisionUtils.linkRenderer)
#set ($query = $endecUtil.escapeXML(${searchResult.getQuery()}))   

#set ($countThreshold = $propertyUtil.getInt($portlet, 'countThreshold', 20))
#set ($totalhits = $searchResult.getEffectiveCount($countThreshold))

######################################

## START OF FACET
<div style="" class="or-facetter" >
<div class="or-facetter-head sol-facetter">
##<h2 class="or-facetter-rubrik" >Filtrera din sökning</h2>
#if ($searchResult.facetFields)

######################################
## Render the filter header
#set ($totalFilter = true)   
######################################
## Start search head  
     <ul id="sol-search-filter-head-ul" class="sv-defaultlist-noleft sv-notopmargin">
 
##set ($summaryField = $propertyUtil.getString($portlet, 'summaryField'))
##set ($summaryFieldValue = $scriptUtil.getNonNull(${hit.getHighlightedField($summaryField, $excerptLength)})) 
   
      #foreach ($facetField in $searchResult.facetFields)
       #foreach ($facetValue in $facetField.facetValues)
       
         #if ($scriptUtil.isNotBlank(${facetValue.name}))
            #if( $facetValue.name == $facetTarget)
                #set ($link = $facetValue.filterURL )
                #if($totalFilter)
                    <li class="$facetValueClass sv-noleft or-wrapper-click" style="margin-bottom:${facetItemSpacing}">
                        <a onclick="${updateResultFunctionName}('${query}',true)">Totalt</a>
                        <span id="hitCount" class="sol-hit-count">$totalhits<span>
                    </li>
                    #set ($totalFilter = false)
                #end  
  
  
               #if ($facetValue.isSelected())
               <li id="sol-selected-facet" class="$selectedFacetValueClass sol-selected-facet sv-noleft or-wrapper-click" style="margin-bottom:${facetItemSpacing}">                 
               #else
               <li class="$facetValueClass sv-noleft or-wrapper-click" style="margin-bottom:${facetItemSpacing}">
               #end   
 
                  $facetLinkRenderer.setOnclick("$ajaxFacetClick")       
                  $facetLinkRenderer.setStringTarget($facetValue.filterURL)          
                  $facetLinkRenderer.setText($facetValue.name)
                  $facetLinkRenderer.render()
                 
                   #if ($facetValue.isSelected())
                   <i class="sol-icon-facet-active"></i>
                   #else
                   <span class="sol-hit-count">$facetValue.count<span>
                   #end
               </li>
               
            #end
         #end
         
        #end 
      #end
      </ul>
## End filter head   
######################################

#end
</div> 
      
       

</div>  
#end

<script type="text/javascript">

var link = '$link';

</script>